<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-picture"></i>
      <span>訂製手工包 - 布料管理</span>
    </h1>
    <div class="pull-right">
      <div class="btn-group">
        <div class="btn-toolbar">
          <%= link_to '新增布料', new_admin_material_path, class: 'btn btn-info' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <% @materials.each do |material| %>
          <div class="col-sm-3">
            <div class="box image-preview-box">
              <div class="box-header box-header-small">
                <div class="title">
                  <%= material.material_translates.reject{|translate| translate.name.blank?}.collect{|translate| translate.name}.join(' / ') %>
                </div>
                <div class="actions">
                  <%= link_to(admin_material_path(material), class: 'btn btn-xs btn-link', method: :delete) do %>
                    <i class="icon-remove"></i>
                  <% end %>
                  <%= link_to(edit_admin_material_path(material), class: 'btn btn-xs btn-link') do %>
                    <i class="icon-pencil"></i>
                  <% end %>
                </div>
              </div>
              <%= image_tag material.image.url(:medium), class: 'img-responsive' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= paginate @materials %>
        </div>
      </div>
    </div>
  </div>
</div>