<div class="container">
  <div class="row">
    <!--Reg Block-->
    <div class="col-md-6 col-md-offset-3" style="margin-top:40px;">
      <div class="reg-page" style="border-top:none;">
        <div class="reg-header">
          <div class="text-center">
            <h2><i class="fa fa-comment-alt"></i><%= t('message.to') %></h2>
            <p><span class="color-red">*</span> <%= t('message.hint') %></p>
          </div>
        </div>

        <%= form_for @message, html: {class: 'form-horizontal validate-form'} do |f| %>
          <div class="form-group">
            <div class="col-md-12">
              <%= f.label :content, t('message.content'), class: 'text-muted control-label' %>
              <div class="controls">
                <%= f.text_area :content, class: 'form-control', placeholder: t('message.your'), rows: 6 %>
              </div>
            </div>
          </div>
          <hr/>
          <%= f.button t('submit_message'), class: 'btn btn-default btn-lg hover-effect btn-block', type: 'submit' %>
          <%= link_to messages_path do %>
            <i class="fa fa-angle-left"></i>
            <%= t('message.back') %>
          <% end %>
        <% end %>
      </div>
    </div>
    <!--End Reg Block-->
  </div>
</div>