<div class="container">
  <div class="row">
    <!--Reg Block-->
    <div class="col-md-6 col-md-offset-3" style="margin-top:40px;">
      <div class="reg-page" style="border-top:none;">
        <div class="reg-header">
          <div class="text-center">
            <h2><i class="fa fa-comment"></i><%= t('message.content') %></h2>
            <div class="row">
              <div class="col-md-12">
                <% if @message.admin? %>
                  <div class="text-muted pull-left"><%= t('message.from') %></div>
                <% end %>
                <div class="text-muted pull-right">
                  <i class=icon-edit></i>&nbsp;<%= @message.updated_at.strftime('%Y/%m/%d %H:%M') %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= simple_format(@message.content) %>
        <hr/>
        <%= link_to t('message.other'), new_message_path, class: 'btn btn-u-orange btn-lg hover-effect btn-block', style: 'color: #FFF;' %>
        <%= link_to messages_path do %>
          <i class="fa fa-angle-left"></i>
          <%= t('message.back') %>
        <% end %>
      </div>
    </div>
    <!--End Reg Block-->
  </div>
</div>