<% translate = GiftTranslate.where(gift_id: @user_gift.gift_id, locale_id: @user_gift.locale_id).first %>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  <strong><%= t('mailer.dear') %> </strong><br/>
  <%= t('mailer.user_gift_hint', link: link_to(t('user_gift.my'), user_gift_url(@user_gift)), url: user_gift_url(@user_gift)).html_safe %>
</p>
<hr/>
<%= t('order.no_s') %>&nbsp;G<%= @user_gift.id %>
<h4>
  <%= t('user_gift.information') %>
</h4>
<table>
  <tr>
    <th></th>
    <th>
      <%= t('call_name') %>
    </th>
    <th>
      <%= t('price') %>
    </th>
    <th>
      <%= t('quantity') %>
    </th>
  </tr>
  <tr>
    <td>
      <%= image_tag "http://quoiquoi.tw#{@user_gift.gift.image.url(:thumb)}" %>
    </td>
    <td>
      <%= translate.name %>
    </td>
    <td>
      <%= number_to_currency(translate.quota) %>
    </td>
    <td style="text-align: center;">
      <%= @user_gift.quantity %>
    </td>
  </tr>
</table>
<h4>
  <%= t('total_amount') %>&nbsp;<%= number_to_currency(translate.quota * @user_gift.quantity) %>&nbsp;<%= @user_gift.currency %>
</h4>
<h4><%= t('payment_information') %></h4>
<table>
  <tr>
    <th>
      <%= t('mean') %>
    </th>
    <th>
      <%= t('time') %>
    </th>
    <th>
      <%= t('amount') %>
    </th>
  </tr>
  <tr>
    <td>
      <% if @user_gift.payment.wait? %>
        <%= t('remittance') %>
      <% else %>
        Paypal
      <% end %>
    </td>
    <td>
      <%= @user_gift.payment.pay_time.strftime('%Y/%m/%d') %>
    </td>
    <td>
      <%= number_to_currency(@user_gift.payment.amount) %>
    </td>
  </tr>
</table>
<p>
  <%= t('quoiquoi') %><br/>
  <%= "#{t('quoiquoi_address')}#{$redis.get("about:locale:#{@user_gift.locale_id}:address")}" %><br/>
  <%= "#{t('quoiquoi_phone')}#{$redis.get("about:locale:#{@user_gift.locale_id}:phone")}" %>
</p>
<hr/>
<%= t('user_gift.how_to') %>
<h4>
  <%= translate.name %>
</h4>
<%= simple_format(translate.description) %>
<p>
  <%= t('mailer.any_question') %><a href="mailto:<%= $redis.get("about:locale:#{@user_gift.locale_id}:email") %>">&nbsp;Email</a>&nbsp;-&nbsp;<%= $redis.get("about:locale:#{@user_gift.locale_id}:email") %><br/>
  <%= t('sincerely') %>
</p>
<br>
<br>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>
