<% translate = GiftTranslate.where(gift_id: @user_gift.gift_id, locale_id: @user_gift.locale_id).first %>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  <strong><%= t('mailer.dear') %> </strong><br/>
  <%= t('mailer.user_gift_hint') %>
</p>
<p>
  <%= t('user_gift.first_step', link: link_to(t('user_gift.my'), user_gift_url(@user_gift))).html_safe %><br/>
  <%= image_tag("#{root_url}system/placeholder/step1.png") %>
</p>
<hr/>
<p>
  <%= t('user_gift.second_step') %><br/>
  <%= image_tag("#{root_url}system/placeholder/step2.png") %>
</p>
<hr/>
<p>
  <%= t('user_gift.third_step') %><br/>
  <%= image_tag("#{root_url}system/placeholder/step3.png") %>
</p>
<hr/>
<p>
  <%= t('user_gift.fourth_step') %><br/>
  <%= image_tag("#{root_url}system/placeholder/step4.png") %>
</p>
<br>
<br>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>
