<table width="100%" border="0" cellspacing="0" cellpadding="0" background="<%= image_url(@user_gift.gift.image.url(:medium)) %>" bgcolor="#3b464e" style="background-image:url(<%= image_url(@user_gift.gift.image.url(:medium)) %>);background-repeat:no-repeat;background-size:cover;padding: 30px 0;" class="100padleftright20x40">
  <tr>
    <td align="center" style="font-size:14px; color:#ffffff;">
      <center>
        <table border="0" cellspacing="0" cellpadding="0" width="360" class="100p">
          <tr>
            <td align="center" bgcolor="#FFFFFF" style="color:#585F69;font-size:22px;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="10">
                  </td>
                </tr>
              </table>
              <font face="'Source Sans Pro', '微軟正黑體', 'Helvetica Neue', Arial, sans-serif">
                <a href="<%= gift_url(@user_gift.gift_id) %>" style="color:#8A929D;">
                  <%= @user_gift.gift.gift_translates.find_by_locale_id(@user_gift.locale_id).name %>&nbsp;<img alt="fa-info" width="18" height="18" border="0" style="width:18px;height:18px;" src="<%= image_url('fa-info-circle.png') %>"/>
                </a>
              </font>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="10">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="left" bgcolor="#EFEFEF" style="color:#585F69;font-size:14px;background-color: rgba(255,255,255,0.9) !important;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="10">
                  </td>
                </tr>
              </table>
              <%= render 'payment_info', user_gift_payment: @user_gift.user_gift_payment %>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="10">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<table width="540" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" class="100pad" style="padding: 20px 20px;">
  <tr>
    <td>
      <font face="'Source Sans Pro', '微軟正黑體', 'Helvetica Neue', Arial, sans-serif" color="#848484">
        <span style="font-size:14px;color:#000000;"><%= t('mailer.dear') %></span><br />
        <span style="font-size:14px;">
          <%= t('mailer.remind_text_for_user_gift',
                days: (@user_gift.user_gift_payment.expire_time.nil?)? 3 :
                    ((@user_gift.user_gift_payment.expire_time - @user_gift.checkout_time) / 1.days).round) %>
        </span>
      </font>
    </td>
  </tr>
</table>
<table width="540" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" class="100padbottom" style="padding: 0px 20px 20px;">
  <tr>
    <td>
      <font face="'Source Sans Pro', '微軟正黑體', 'Helvetica Neue', Arial, sans-serif" color="#848484">
        <span style="font-size:14px;">
          <!-- Remittance payment hint -->
          <%= t('mailer.report_button') if @user_gift.remittance? %>

          <!-- Online payment hint -->
          <%= t('click_to_continue_paying') if @user_gift.paypal? || @user_gift.alipay? || @user_gift.webatm? %>

          <!-- CVS Tutorial -->
          <%= t('cvs_tutorial', cvs: t("#{@user_gift.payment_method}")) if @user_gift.cvs_ibon? || @user_gift.cvs_family? %>

          <%= t('atm_remind') if @user_gift.atm? %>
        </span>
      </font>
    </td>
  </tr>
</table>
<table width="540" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" class="100padleftright" style="padding: 0px 20px;">
  <tr>
    <td>
      <a href="<%= user_gift_url(@user_gift.id) if @user_gift.remittance? %>
               <%= user_gift_payment_url(@user_gift.id, action: :webatm_resume) if @user_gift.webatm? %>
               <%= user_gift_payment_url(@user_gift.id, action: :alipay_resume) if @user_gift.alipay? %>
               <%= @user_gift.user_gift_payment.redirect_uri if @user_gift.paypal? %>
               <%= 'https://www.allpay.com.tw/Service/pay_way_cvpay' if @user_gift.cvs_ibon? || @user_gift.cvs_family? %>
               <%= 'https://www.165.gov.tw/' if @user_gift.atm? %>" style="text-decoration:none;">
        <table width="100%" border="0" cellspacing="0" cellpadding="15"
               bgcolor="<%= (@user_gift.remittance? || @user_gift.paypal? || @user_gift.alipay? || @user_gift.webatm?)? '#F38B2F' : '#72C8E6' %>">
          <tr>
            <td align="center" style="font-size:20px; color:#FFFFFF;">
              <font face="'Source Sans Pro', '微軟正黑體', 'Helvetica Neue', Arial, sans-serif">
                <%= t('report_remittance') if @user_gift.remittance? %>
                <%= t('continue_on_alipay') if @user_gift.alipay? %>
                <%= t('continue_on_paypal') if @user_gift.paypal? %>
                <%= t('continue_pay_page') if @user_gift.webatm? %>
                <%= t('atm_remind_link') if @user_gift.atm? %>
                <%= t('cvs_tutorial_link') if @user_gift.cvs_family? || @user_gift.cvs_ibon? %>
              </font>
            </td>
          </tr>
        </table>
      </a>
    </td>
  </tr>
</table>
<table width="540" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" class="100pad" style="padding: 20px 20px;">
  <tr>
    <td style="font-size:20px;">
      <center>
        <font face="'Source Sans Pro', '微軟正黑體', 'Helvetica Neue', Arial, sans-serif" color="#000000">
          <%= t('sincerely') %>
        </font>
      </center>
    </td>
  </tr>
</table>