<% translate = GiftTranslate.where(gift_id: @user_gift.gift_id, locale_id: @user_gift.locale_id).first %>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  <strong><%= t('mailer.dear') %> </strong><br/>
  <%= t('mailer.remind_for_user_gift', remittance_link: link_to(t('order.advice'), edit_payment_url(@user_gift.payment))).html_safe %>&nbsp;<%= edit_payment_url(@user_gift.payment) %>
</p>
<h4><%= t('user_gift.information') %></h4>
<table class="table table-hover">
  <thead>
  <tr>
    <td></td>
    <td><%= t('call_name') %></td>
    <td><%= t('user_gift.quota') %></td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= image_tag "http://quoiquoi.tw#{@user_gift.gift.image(:thumb)}" %>
    </td>
    <td>
      <h5>
        <%= translate.name %>
      </h5>
    </td>
    <td>
      <%= number_to_currency(translate.quota) %>
    </td>
  </tr>
  </tbody>
</table>
<h3><%= t('total_amount') %>: <%= number_to_currency(translate.quota) %></h3>
<br>
<br>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>
