<table class="table table-bordered table-padding-20" style="margin-bottom:0;">
  <thead>
  <tr>
    <th><%= t('catalog') %></th>
    <th><%= t('reference_price') %></th>
    <th><%= t('remarks') %></th>
  </tr>
  </thead>
  <tbody>
  <% @order_information.each do |order_information| %>
    <tr>
      <td>
        <%= simple_format(order_information.bag_type) %>
      </td>
      <td>
        <%= simple_format(order_information.reference) %>
      </td>
      <td>
        <%= simple_format(order_information.note) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>