<%= form_for @order_custom_item, html: {class: 'form validate-form'} do |f| %>
  <div class="fuelux">
    <div class="wizard">
      <ul class="steps">
        <li class="active hover-effect" data-target="#step1">
          <span class="step">1</span>
        </li>
        <li class="hover-effect" data-target="#step2">
          <span class="step">2</span>
        </li>
        <li class="hover-effect" data-target="#step3">
          <span class="step">3</span>
        </li>
        <li class="hover-effect" data-target="#step4">
          <span class="step">4</span>
        </li>
      </ul>
      <div class="actions">
        <button type="button" class="btn btn-mini btn-prev" disabled="disabled">
          <i class="icon-arrow-left"></i>
          <%= t('custom_order.prev') %>
        </button>
        <button type="button" class="btn btn-mini btn-next">
          <%= t('custom_order.next') %>
          <i class="icon-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="step-content">
      <hr class="hr-normal">
      <div class="step-pane active" id="step1">
        <h4><%= t('choose_additional') %></h4>
        <div class="row">
          <div class="col-md-12">
            <div class="box select-boxes" data-name="product_custom_item_id">
              <div class="items">
                <%= f.nested_fields_for :order_custom_item_product_custom_items do |builder| %>
                  <%= builder.hidden_field :product_custom_item_id %>
                <% end %>
              </div>
              <div class="box-content">
                <div class="row">
                  <div class="col-md-12 select-box-paginate">
                    <%= paginate @product_custom_items, params: {controller: :order_custom_items, action: :material} %>
                  </div>
                </div>
                <div class="row">
                  <% if @product_custom_items.length == 0 %>
                    <h4 class="text-center">
                      <i class="fa fa-exclamation fa-fw"></i>
                      <%= t('no_options') %>
                    </h4>
                  <% end %>
                  <% @product_custom_items.each do |product_custom_item| %>
                    <div class="col-sm-3 col-xs-6">
                      <div class="box image-preview-box select-box">
                        <div class="box-header box-header-small" style="cursor:pointer" data-id="<%= product_custom_item.id %>">
                          <div class="title">
                            <%= product_custom_item.product_custom_item_translates.where(locale_id: session[:locale_id]).first.name %>
                          </div>
                          <div class="actions">
                            <i class="fa fa-square-o fa-2x text-muted"></i>
                          </div>
                        </div>
                        <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" href="<%= asset_path(product_custom_item.image.url(:large)) %>">
                                <span class="overlay-zoom">
                                  <%= image_tag product_custom_item.image.url(:medium), class: 'img-responsive' %>
                                  <span class="zoom-icon"></span>
                                </span>
                        </a>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step-pane" id="step2">
        <h4><%= t('chose_your_material') %> <span class="text-danger">*</span></h4>
        <div class="row">
          <div class="col-md-12">
            <div class="box select-boxes" data-name="material_id">
              <div class="items">
                <%= f.nested_fields_for :order_custom_item_materials do |builder| %>
                  <%= builder.hidden_field :material_id %>
                <% end %>
              </div>
              <div class="box-content">
                <div class="row">
                  <div class="col-md-12 select-box-paginate">
                    <%= paginate @materials, params: {controller: :order_custom_items, action: :material} %>
                  </div>
                </div>
                <div class="row">
                  <% @materials.each do |material| %>
                    <div class="col-sm-3 col-xs-6">
                      <div class="box image-preview-box select-box">
                        <div class="box-header box-header-small" style="cursor:pointer" data-id="<%= material.id %>">
                          <div class="title">
                            <%= material.material_translates.where(locale_id: session[:locale_id]).first.name %>
                          </div>
                          <div class="actions">
                            <i class="fa fa-square-o fa-2x text-muted"></i>
                          </div>
                        </div>
                        <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" href="<%= asset_path(material.image.url(:large)) %>">
                                <span class="overlay-zoom">
                                  <%= image_tag material.image.url(:medium), class: 'img-responsive' %>
                                  <span class="zoom-icon"></span>
                                </span>
                        </a>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step-pane" id="step3">
        <h4><%= t('description_hint') %></h4>
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-content">
                <div class="form-group row">
                  <div class="col-md-12">
                    <%= f.label :description do %>
                      <%= t('description') %>
                      <span class="color-red">*</span>
                    <% end %>
                  </div>
                  <div class="controls col-md-7">
                    <%= f.text_area :description, class: 'form-control', data: {'rule-required' => true}, rows: '3' %>
                  </div>
                </div>
                <div class="nested-field">
                  <div class="items">
                    <%= f.nested_fields_for :order_custom_item_images do |builder| %>
                      <div class="item">
                        <div class="row">
                          <div class="col-xs-6">
                            <div class="box">
                              <div class="box-header nopadding">
                                <div class="actions">
                                  <a class="btn remove btn-xs btn-link" href="#"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="title">
                                  <%= builder.file_field :image, title: "<i class=\"fa fa-picture-o fa-fw\"></i>&nbsp;#{t('choose_text')}", class: 'btn btn-default' %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <a href="#" class="add btn btn-default">
                        <i class="fa fa-plus fa-fw"></i>
                        <%= t('add_text') %>
                      </a>
                      <br/>
                      <small class="text-muted"><%= t('add_hint') %></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step-pane" id="step4">
        <h4><%= t('your_contact') %> <small class="text-muted"><%= t('your_contact_hint') %></small></h4>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="box">
                  <div class="box-content">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <%= f.label :name do %>
                          <%= t('name') %>
                          <span class="color-red">*</span>
                        <% end %>
                      </div>
                      <div class="controls col-md-3">
                        <%= f.text_field :name, value: (user_signed_in?)? current_user.name : f.object.name, class: 'form-control', data: {'rule-required' => true} %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <%= f.label :phone do %>
                          <%= t('phone_number') %>
                        <% end %>
                      </div>
                      <div class="controls col-md-3">
                        <%= f.text_field :phone, value: (user_signed_in?)? current_user.phone : f.object.phone, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <%= f.label :line do %>
                          Line
                        <% end %>
                      </div>
                      <div class="controls col-md-3">
                        <%= f.text_field :line, value: (user_signed_in?)? current_user.line : f.object.line, class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <label class="text-muted"><%= t('submit_hint') %></label>
        <hr/>
        <div class="row">
          <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
            <%= f.hidden_field :product_id %>
            <%= f.button class: 'btn btn-u btn-u-lg btn-u-orange btn-block hover-effect', type: 'submit' do %>
              <i class="fa fa-edit"></i>
              <%= t('submit') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>