<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'user/side_navigation' %>
    <div class="col-md-9 col-sm-9">
      <div class="row margin-bottom-40">
        <%= render 'layouts/nav_item' %>
        <div class="col-xs-12">
          <h4 class="margin-bottom-30">
            <%= t('number') %>
            <strong class="text-muted"><%= @order_custom_item.id %></strong>
          </h4>
        </div>
        <div class="col-xs-12 text-center text-muted">
          <ul class="list-unstyled step">
            <li class="col-xs-3 step-active">
              <span>
                <i class="fa fa-pencil icon-round"></i>
              </span>
              <h4><%= t('custom_order.submit_time') %></h4>
              <p><%= @order_custom_item.created_at.strftime('%Y/%m/%d %H:%M') %></p>
            </li>
            <li class="col-xs-3 step-active">
              <% if @order_custom_item.accept? && !@order_custom_item.accept_time.blank? %>
                <span>
                  <i class="fa fa-check icon-round"></i>
                </span>
                <h4><%= t('custom_order.accept_time') %></h4>
                <p><%= @order_custom_item.accept_time.strftime('%Y/%m/%d %H:%M') %></p>
              <% elsif !@order_custom_item.accept? && !@order_custom_item.accept_time.blank? %>
                <span>
                  <i class="fa fa-times icon-round"></i>
                </span>
                <h4>
                  <%= t('custom_order.decline') %>
                </h4>
                <p><%= @order_custom_item.accept_time.strftime('%Y/%m/%d %H:%M') %></p>
              <% else %>
                <span>
                  <i class="fa fa-ellipsis-h icon-round"></i>
                </span>
                <h4>
                  <%= t('custom_order.waiting') %>
                </h4>
              <% end %>
            </li>
            <li class="col-xs-3 <%= 'step-active' if @order_custom_item.order %>">
              <span>
                <i class="fa fa-shopping-cart icon-round"></i>
              </span>
              <% if @order_custom_item.order %>
                <% if @order_custom_item.order.payment %>
                  <h4><%= t('ordered') %></h4>
                <% else %>
                  <h4><%= t('in_cart') %></h4>
                <% end %>
              <% elsif @order_custom_item.accept? && !@order_custom_item.accept_time.blank? %>
                <h4><%= t('add_to_cart') %></h4>
                <%= link_to t('add_to_cart'), order_custom_item_path(@order_custom_item), class: 'btn btn-u btn-u-xs btn-u-orange hover-effect', method: :put %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <% if @order_custom_item.accept? %>

        <div class="row">
          <div class="col-md-12">
            <h5><%= t('response_from_designer') %></h5>
          </div>
          <div class="col-md-12 margin-bottom-40">
            <h4 class="row">
              <span class="col-md-2 col-xs-5 text-right color-orange">
                <%= t('bid') %>
              </span>
              <span class="col-md-10 col-xs-7">
                <strong class="text-muted"><%= number_to_currency(@order_custom_item.order_custom_item_translates.where(locale_id: session[:locale_id]).first.price) %></strong>
              </span>
            </h4>
            <div class="row">
              <div class="col-md-2 col-xs-5 text-right">
                <%= t('work_days') %>
              </div>
              <div class="col-md-10 col-xs-7">
                <%= t('custom_order.about', days: ((@order_custom_item.workday)? @order_custom_item.workday : '-')) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-xs-5 text-right">
                <%= t('message_no_sign_in') %>
              </div>
              <div class="col-md-10 col-xs-7">
                <%= (@order_custom_item.response.blank?)? '-' : simple_format(@order_custom_item.response) %>
              </div>
            </div>
            <% if @order_custom_item.image.exists? %>
              <div class="row">
                <div class="col-md-2 col-xs-5 text-right">
                  <%= t('custom_order.sketch') %>
                </div>
                <div class="col-md-6 col-xs-7">
                  <a href="<%= asset_path @order_custom_item.image.url(:large) %>" target="_blank">
                    <%= image_tag @order_custom_item.image.url(:medium), class: 'img-responsive' %>
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <h5><%= t('your_contact') %></h5>
        </div>
        <div class="col-md-12 margin-bottom-40">
          <div class="row">
            <div class="col-md-2 col-xs-5 text-right">
              <%= t('name') %>
            </div>
            <div class="col-md-10 col-xs-7">
              <%= @order_custom_item.name %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-xs-5 text-right">
              <%= t('phone_number') %>
            </div>
            <div class="col-md-10 col-xs-7">
              <%= @order_custom_item.phone.gsub(/\d{4}$/, '****') %>
            </div>
          </div>
          <% unless @order_custom_item.line.blank? %>
            <div class="row">
              <div class="col-md-2 col-xs-5 text-right">
                Line
              </div>
              <div class="col-md-10 col-xs-7 text-left">
                <%= @order_custom_item.line %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header box-header-small grey-background">
              <span class="text-muted"><%= t('requirement') %></span>
            </div>
            <div class="box-content box-no-padding" style="border:0;">
              <div class="responsive-table">
                <div class="scrollable-area">
                  <table class="table table-bordered text-left table-padding-20" style="margin-bottom:0;">
                    <thead>

                    </thead>
                    <tbody>
                    <% if @order_custom_item.product %>
                      <tr>
                        <td class="col-xs-4"><%= t('customize') %></td>
                        <td>
                          <%= link_to product_path(@order_custom_item.product), target: '_blank' do %>
                            <div class="text-muted">
                              <%= @order_custom_item.product.product_translates.where(locale_id: session[:locale_id]).first.name %>
                            </div>
                            <%= image_tag @order_custom_item.product.image.url(:thumb) %>
                          <% end %>
                        </td>
                      </tr>
                      <tr>
                        <td class="col-xs-4"><%= t('custom_order.your') %></td>
                        <td>
                          <% @order_custom_item.order_custom_item_product_custom_items.each do |custom_items| %>
                            <%= image_tag custom_items.product_custom_item.image.url(:thumb) %>
                          <% end %>
                        </td>
                      </tr>
                    <% else %>
                      <tr>
                        <td class="col-xs-4"><%= t('design') %></td>
                        <td><%= @order_custom_item.design %></td>
                      </tr>
                      <tr>
                        <td class="col-xs-4"><%= t('style') %></td>
                        <td><%= @order_custom_item.style %></td>
                      </tr>
                    <% end %>
                    <tr>
                      <td class="col-xs-4"><%= t('material') %></td>
                      <td>
                        <% @order_custom_item.order_custom_item_materials.each do |order_custom_item_material| %>
                          <%= image_tag order_custom_item_material.material.image.url(:thumb) %>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-xs-4"><%= t('description') %></td>
                      <td>
                        <%= simple_format(@order_custom_item.description) %>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-xs-4"><%= t('your_idea') %></td>
                      <td>
                        <% @order_custom_item.order_custom_item_images.each do |order_custom_item_image| %>
                          <%= image_tag order_custom_item_image.image.url(:thumb) %>
                        <% end %>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if @order_custom_item.accept? %>
          <div class="col-md-12">
            <h4 class="text-right color-orange">
              <%= t('bid') %> :
              <strong class="text-muted">
                <%= number_to_currency(@order_custom_item.price) %>
              </strong>
            </h4>
          </div>
        <% end %>
        <hr/>
        <div class="col-sm-4 col-sm-offset-4">
          <% if @order_custom_item.accept.blank? || @order_custom_item.accept_time.blank? %>
            <%= link_to t('custom_order.cancel'), cancel_order_custom_item_path(@order_custom_item), class: 'btn btn-block', method: :put %>
          <% end %>
          <% if @order_custom_item.accept? && !@order_custom_item.accept_time.blank? && !@order_custom_item.order %>
            <%= link_to t('add_to_cart'), order_custom_item_path(@order_custom_item), class: 'btn btn-u btn-u-lg btn-u-orange btn-block hover-effect', method: :put %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>