<% translate = order_product.product.product_translates.where(locale_id: session[:locale_id]).first %>

<div class="row">
  <div class="col-md-7">
    <%= link_to_with_product_type order_product.product do %>
      <%= image_tag order_product.product.image.url(:medium), class: 'img-responsive' %>
    <% end %>
  </div>
  <div class="col-md-5">
    <h5 style="color:#666;" class="margin-bottom-30">
      <%= link_to_with_product_type order_product.product do %>
        <strong>
          <%= translate.name %>
          <span class="pull-right">
              <% @subtotal += translate.price %>
            <%= number_to_currency(translate.price) %>
            </span>
        </strong>
      <% end %>
    </h5>
    <hr/>
    <h5 class="margin-bottom-20">
      <span style="color:#666;">單品小計</span>
      <strong class="pull-right">
        <%= number_to_currency(translate.price) %>
      </strong>
    </h5>
    <%= link_to t('actions.delete'), order_product, method: :delete, class: 'btn btn-default pull-right hover-effect' %>
  </div>
</div>