<% translate = order_custom_item.order_custom_item_translates.where(locale_id: session[:locale_id]).first %>
<div class="col-md-12 margin-bottom-30">
  <div class="row">
    <div class="col-md-7">
      <%= link_to order_custom_item_path(order_custom_item) do %>
        <%= image_tag order_custom_item.image.url(:medium), class: 'img-responsive' %>
      <% end %>
    </div>
    <div class="col-md-5">
      <h5 style="color:#666;" class="margin-bottom-30">
        <%= link_to order_custom_item_path(order_custom_item) do %>
          <strong>
            <%= t('original_bag') %>
            <span class="pull-right">
            <% @subtotal += translate.price %>
              <%= number_to_currency(translate.price) %>
          </span>
          </strong>
        <% end %>
      </h5>
      <ul class="list-unstyled">
        <li>
          <%= t('design') %>
          <span class="pull-right">
            <%= order_custom_item.design %>
          </span>
        </li>
        <li>
          <%= t('style') %>
          <span class="pull-right">
            <%= order_custom_item.style %>
          </span>
        </li>
        <li>
          <%= t('material') %>
        </li>
        <li class="text-center margin-bottom-5">
          <% if order_custom_item.order_custom_item_materials.length > 0 %>
            <% order_custom_item.order_custom_item_materials.each do |order_custom_item_material| %>
              <%= image_tag order_custom_item_material.material.image.url(:thumb), class: 'margin-bottom-5' %>
            <% end %>
          <% else %>
            -
          <% end %>
        </li>
      </ul>
      <hr/>
      <h5 class="margin-bottom-20">
        <span style="color:#666;"><%= t('subtotal') %></span>
        <strong class="pull-right">
          <%= number_to_currency(order_custom_item.price) %>
        </strong>
      </h5>
      <%= link_to t('actions.delete'), order_custom_item_path(order_custom_item), method: :delete, class: 'btn btn-default pull-right hover-effect' %>
    </div>
  </div>
</div>