<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row">
    <div class="col-sm-7 col-xs-12">
      <%= render 'list_in_cart' %>
    </div>

    <div class="col-sm-5 col-xs-12">
      <h4><%= t('shipping_information') %> <small class="text-muted"><%= t('shipping_information_hint') %></small></h4>
      <%= render 'checkout_form' %>
    </div>
  </div>
</div>