<%= render 'layouts/breadcrumbs' %>
<%= form_for @order_in_cart, url: cart_path, method: :put do |f| %>
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-7">
        <div class="row">
          <% if @order_in_cart.order_products.size > 0 %>
            <div class="col-sm-12">
              <div class="box">
                <h3>
                  <%= t('products_in_cart') %>
                </h3>
                <div class="box-content">
                  <div class="row">
                    <div class="col-md-12 cart-products">
                      <%= f.fields_for :order_products do |builder| %>
                        <% translate = ProductTranslate.where(product_id: builder.object.product_id,locale_id: session[:locale_id]).first %>
                        <% @subtotal += builder.object.price * builder.object.quantity %>

                        <div class="row product">
                          <div class="col-md-7">
                            <%= link_to_with_product_type builder.object.product do %>
                              <%= image_tag builder.object.product.image.url(:medium), class: 'img-responsive' %>
                            <% end %>
                          </div>
                          <div class="col-md-5">
                            <h5 style="color:#666;" class="margin-bottom-30">
                              <%= link_to_with_product_type builder.object.product do %>
                                <strong>
                                  <%= translate.name %>
                                  <span class="pull-right">
                                    <%= number_to_currency(builder.object.raw_price(@order_in_cart.locale_id)) %><br/>
                                  </span>
                                </strong>
                              <% end %>
                            </h5>

                            <% if builder.object.product.product_option_groups.size > 0 %>
                              <h5 style="color:#666;">
                                <strong><%= t('option') %></strong>
                              </h5>
                            <% end %>

                            <%= builder.fields_for :order_product_options do |option_field| %>
                              <%= option_field.object.product_option.product_option_group.name %>
                              <%= option_field.select :product_option_id,
                                                      ProductOption.where(product_option_group_id: option_field.object.product_option.product_option_group_id).collect{|option|
                                                        [option.content, option.id, {
                                                            data: {
                                                                subtext: number_to_currency(option.price),
                                                                price: option.price
                                                            }
                                                        }]
                                                      },
                                                      {
                                                          selected: option_field.object.product_option_id
                                                      },
                                                      class: 'selectpicker form-control product-option',
                                                      data: {
                                                          width: '100%', 'show-subtext' => true
                                                      } %>
                            <% end %>

                            <h5 style="color:#666;">
                              <strong><%= t('quantity') %></strong>
                            </h5>
                            <%= builder.select :quantity,
                                               (1..builder.object.product.quantity),
                                               {
                                                   selected: builder.object.quantity
                                               },
                                               class: 'selectpicker product-price form-control',
                                               data: {
                                                   width: '100%',
                                                   price: builder.object.price,
                                                   'raw-price' => builder.object.raw_price(@order_in_cart.locale_id)
                                               } %>
                            <hr/>
                            <h5 class="margin-bottom-20">
                              <span style="color:#666;"><%= t('single_subtotal') %></span>
                              <strong class="pull-right subtotal" data-subtotal="<%= builder.object.price * builder.object.quantity %>">
                                <%= number_to_currency(builder.object.price * builder.object.quantity) %>
                              </strong>
                            </h5>
                            <%= link_to t('actions.delete'), builder.object, method: :delete, class: 'btn btn-default pull-right hover-effect' %>
                          </div>
                        </div>
                        <hr/>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if @order_in_cart.order_custom_items.size > 0 %>
            <div class="col-sm-12">
              <div class="box">
                <div class="box-header">
                  <div class="title">
                    <div class="fa fa-pencil"></div>
                    <%= t('personalized_products') %>
                  </div>
                  <div class="actions">
                    <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
                  </div>
                </div>
                <div class="box-content">
                  <div class="row">
                    <% @order.order_custom_items.each_with_index do |order_custom_item, index| %>
                      <div class="col-md-12">
                        <% if index != 0 %>
                          <hr/>
                        <% end %>
                        <%= render 'order_custom_item', order_custom_item: order_custom_item %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="box">
          <h3>
            <%= t('subtotal') %>
          </h3>
          <div class="box-content">
            <h4 class="margin-bottom-30">
              <strong>
                <span style="color:#666;"><%= t('total_amount') %></span>
              <span class="pull-right total-amount">
                <%= number_to_currency(@subtotal) %>
              </span>
              </strong>
            </h4>

            <hr/>

            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 margin-bottom-10">
                <button class="btn btn-block btn-orange btn-lg hover-effect" type="submit" <%= 'disabled="disabled"' if @order_in_cart.in_cart_empty? %>>
                  <%= t('proceed_to_checkout') %>
                </button>

                <%= link_to products_path do %>
                  <i class="fa fa-angle-left"></i>
                  <%= t('keep_shopping') %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>