<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="title-box" style="border-bottom: 0;">
            <% @requirement_intro.requirement_intro_translates.where(locale_id: session[:locale_id]).each do |translate| %>
              <div class="title-box-text">
                <%= translate.title %>
              </div>
              <%= simple_format(translate.content) %>
            <% end %>
          </div>
        </div>
        <div class="col-md-12 margin-bottom-40">
          <% if @requirements.length > 0 %>
            <div class="headline"><h4><%= t('hiring') %></h4></div>
          <% end %>
          <% @requirements.each do |requirement| %>
            <% requirement.requirement_translates.where(locale_id: session[:locale_id]).each do |translate| %>
              <div class="row">
                <div class="col-xs-12">
                  <h4><%= translate.title %></h4>
                  <%= simple_format(translate.description) %>
                </div>
              </div>
              <hr/>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-12 margin-bottom-40">
          <%= render 'about/infos' %>
        </div>
        <div class="col-md-12">
          <%= render 'contacts/form' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag @requirement_intro.image.url(:medium), class: 'img-responsive', style: 'width: 100%;' %>
    </div>
  </div>
</div>