<%= form_for([:admin, course_option_group], html: {class: 'form edit-form', data: {'target-id' => course_option_group.id}}) do |f| %>
  <div class="box box-margin-5" id="course-option-group-form">
    <div class="box-header box-header-medium green-background">
      <div class="title">
        <%= f.text_field :name, class: 'form-control input-sm' %>
      </div>
      <div class="actions">
        <a class="btn btn-sm cancel-trigger" data-target-id="<%= course_option_group.id %>" style="margin-top: 3px;color: #999999;">
          取消
        </a>
        <button class="btn btn-sm" style="margin-top: 3px;" type="submit">
          <i class="icon-ok"></i>
        </button>
      </div>
    </div>
  </div>

  <%= f.hidden_field :locale_id %>
  <%= f.hidden_field :course_id %>
<% end %>