<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="headline">
            <h4>
              <%= t('shop') %>
              <small><%= t('search_result', quantity: @product_translates.size) %></small>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <% if @product_translates.size > 0 %>
      <% @product_translates.each do |translate| %>
        <%= link_to translate.product.product_type_id.nil?? product_path(translate.product) : product_type_product_path(translate.product.product_type_id, translate.product), class: 'col-md-3 col-sm-6 col-xs-12' do %>
          <div class="thumbnails thumbnail-style">
            <%= image_tag translate.product.image.url(:small), class: 'img-responsive' %>
            <div class="caption">
              <h4 style="margin-top: 10px; margin-bottom: 5px;">
                <%= truncate(translate.name, length: (session[:locale] == 'en')? 38 : 20) %>
              </h4>
                <span class="price">
                  <%= number_to_currency(price_discount(translate.price, translate.product.discount)) %>
                </span>
              <% if translate.product.discount > 0 %>
                <span class="text-ruby">
                  <i class="fa fa-gift fa-fw"></i><%= t('product.discount', percent: locale_discount(translate.product.discount)) %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="col-xs-12">
        <h4 class="text-center">
          <i class="fa fa-exclamation"></i><%= t('no_data') %>
        </h4>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="headline">
            <h4>
              <%= t('course.title') %>
              <small><%= t('search_result', quantity: @course_translates.size) %></small>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <% if @course_translates.size > 0 %>
      <% @course_translates.each do |translate| %>
        <%= link_to course_path(translate.course, month: translate.course.time.strftime('%m').to_i), class: 'col-md-3 col-sm-6 col-xs-12 course' do %>
          <div class="thumbnails thumbnail-style">
            <%= image_tag translate.course.image.url(:small), class: 'img-responsive' %>
            <div class="caption">
              <h4 style="margin-top: 10px; margin-bottom: 5px;">
                <%= truncate(translate.name, length: (session[:locale] == 'en')? 38 : 20) %>
              </h4>
              <ul class="list-unstyled">
                <li>
                  <strong>
                    <%= "#{t('starting_time')}： #{translate.course.time.strftime('%Y/%m/%d %H:%M')} - #{(translate.course.time + translate.course.length.hours).strftime('%H:%M')}" %>
                  </strong>
                </li>
                <li>
                  <%= "#{t('teacher')}： #{translate.teacher}" %>
                  <% if translate.course.canceled? %>
                        <span class="label label-default pull-right">
                          <%= t('course.canceled') %>
                        </span>
                  <% elsif translate.course.time < Time.now + 5.hours %>
                        <span class="label label-default pull-right">
                          <%= t('course.past') %>
                        </span>
                  <% elsif translate.course.register_full? %>
                        <span class="label label-default pull-right">
                          <%= t('registration.full') %>
                        </span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="col-xs-12">
        <h4 class="text-center">
          <i class="fa fa-exclamation"></i><%= t('no_data') %>
        </h4>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="headline">
            <h4>
              <%= t('others') %>
              <small><%= t('search_result', quantity: @articles.size + @travel_informations.size) %></small>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <% if @travel_informations.size > 0 %>
      <div class="col-xs-12">
        <% @travel_informations.each_with_index do |travel_information, index| %>
          <div class="article">
            <div class="row">
              <div class="col-sm-2 col-xs-12">
                <%= link_to area_travel_information_path(travel_information.area_id, travel_information) do %>
                  <%= image_tag travel_information.image.url(:medium), class: 'img-responsive' %>
                <% end %>
              </div>
              <div class="col-sm-10 col-xs-12">
                <div class="article-body">
                  <%= link_to area_travel_information_path(travel_information.area_id, travel_information) do %>
                    <h4>
                      <%= truncate(travel_information.title, length: 42) %>
                      <small class="pull-right">
                        <i class="fa fa-clock-o fa-fw"></i>
                        <%= travel_information.created_at.strftime('%Y/%m/%d') %>
                      </small>
                    </h4>
                  <% end %>
                  <p class="text-muted">
                    <%= truncate(strip_tags(travel_information.content), length: 110) %>
                  </p>
                </div>
              </div>
            </div>
            <% if index == 0 %>
              <hr/>
            <% end %>
          </div>
        <% end %>
      </div>
    <% elsif @articles.size > 0 %>
      <div class="col-xs-12">
        <% @articles.each_with_index do |article, index| %>
          <div class="article">
            <div class="row">
              <div class="col-xs-12">
                <div class="article-body">
                  <%= link_to article_path(article) do %>
                    <h4>
                      <%= truncate(article.title, length: 42) %>
                      <small class="pull-right">
                        <i class="fa fa-clock-o fa-fw"></i>
                        <%= article.created_at.strftime('%Y/%m/%d') %>
                      </small>
                    </h4>
                  <% end %>
                  <p class="text-muted">
                    <%= truncate(strip_tags(article.content), length: 110) %>
                  </p>
                </div>
              </div>
            </div>
            <% if index != @articles.size %>
              <hr/>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-xs-12">
        <h4 class="text-center">
          <i class="fa fa-exclamation"></i><%= t('no_data') %>
        </h4>
      </div>
    <% end %>
  </div>
</div>