<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'side_navigation' %>
    <div class="col-md-9 col-sm-9">
      <div class="row">
        <%= render 'layouts/nav_item' %>
        <div class="col-xs-12">
          <div class="headline">
            <h4>
              <%= t('last_past_works') %>
            </h4>
          </div>
        </div>
        <% @past_works.each do |past_work| %>
          <div class="col-xs-12 margin-bottom-50">
            <a href="<%= past_work_type_past_work_path(past_work.past_work_type_id, past_work) %>" title="<%= past_work.past_work_translate.name %>">
              <h3 style="color:#666;">
                <strong>
                  <%= past_work.past_work_translate.name %>
                </strong>
              </h3>
            </a>
            <div class="article-content text-center">
              <%= image_tag past_work.image.url(:medium), class: 'img-responsive' %>
              <%= link_to '看全部...', past_work_type_past_work_path(past_work.past_work_type_id, past_work), class: 'btn btn-sm' %>
            </div>
          </div>

          <div class="hidden">
            <div id="read-more-button-<%= past_work.id %>">
              <a href="<%= past_work_type_past_work_path(past_work.past_work_type_id, past_work) %>" class="btn btn-sm"><%= t('read_more') %></a>
            </div>
            <div id="read-less-button-<%= past_work.id %>">
              <a href="#" class="btn btn-sm"><%= t('read_less') %></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>