<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-picture"></i>
      <span>人才招募頁面介紹管理</span>
    </h1>
    <div class="pull-right">
      <div class="btn-group">
        <% if @requirement_intro %>
          <%= link_to '修改介紹資訊', edit_admin_requirement_intros_path, class: 'btn btn-primary' %>
        <% else %>
          <%= link_to '新增介紹資訊', new_admin_requirement_intros_path, class: 'btn btn-info' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <div class="box-header">
          <div class="title">
            <i class="icon-info"></i>
            人才招募頁面介紹
          </div>
          <div class="actions">
            <a href="#" class="btn box-collapse btn-xs btn-link"><i></i></a>
          </div>
        </div>
        <div class="box-content box-padding">
          <% if @requirement_intro %>
            <div class="row">
              <div class="col-md-6">
                <div class="box image-preview-box">
                  <%= image_tag @requirement_intro.image.url(:large), class: 'img-responsive' %>
                </div>
              </div>
            </div>
            <div class="row">
              <% @requirement_intro.requirement_intro_translates.each do |translate| %>
                <div class="col-sm-6">
                  <div class="box">
                    <div class="box-header">
                      <div class="title">
                        <%= translate.locale.name %>
                      </div>
                      <div class="actions">
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
                      </div>
                    </div>
                    <div class="box-content">
                      <div class="form-group">
                        <label>標題</label>
                        <div class="controls">
                          <%= text_field_tag :title, translate.title, class: 'form-control', disabled: 'disabled' %>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>內容</label>
                        <div class="controls">
                          <%= text_area_tag :content, translate.content, rows: 6, class: 'form-control autoize', disabled: 'disabled', id: '' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="alert alert-info alert-dismissable">
              <a class="close" data-dismiss="alert" href="#">×</a>
              目前沒有設定人才招募頁面介紹，請按下 <%= link_to '新增', new_admin_requirement_intros_path %> 設定人才招募頁面介紹
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>