<div class="container">
  <div class="row">
    <!--Reg Block-->
    <div class="col-md-6 col-md-offset-3" style="margin-top:40px;">
      <div class="reg-page" style="border-top:0;">
        <div class="reg-header">
          <div class="text-center">
            <h2><%= t('signin') %></h2>
            <p><%= t('signin_hint', signup_link: link_to(new_user_registration_path, class: 'text-muted', style: 'font-size: 16px;'){"<i class=\"fa fa-pencil\">&nbsp;#{t('signup')}</i>".html_safe} ).html_safe %></p>
            <ul class="list-inline style-icons text-center">
              <li>
                <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
                  <i class="fa fa-google-plus icon-round icon-round-md icon-bg-dark-orange hover-effect icon-hover"></i>
                <% end %>
              </li>
              <li>
                <%= link_to user_omniauth_authorize_path(:facebook) do %>
                  <i class="fa fa-facebook icon-round icon-round-md icon-bg-sea-blue hover-effect icon-hover"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'validate-form' }) do |f| %>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="form-group">
                <div class="controls margin-bottom-20">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <%= f.email_field :email, value: (flash[:email])? flash[:email] : f.object.email, class: 'form-control', 'placeholder' => t('email_placeholder'), data: { 'rule-required' => 'true' } %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="controls margin-bottom-20">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                    <%= f.password_field :password, class: 'form-control', 'placeholder' => t('password_placeholder'), data: { 'rule-required' => 'true' } %>
                  </div>
                </div>
              </div>
              <%= render 'layouts/messages' %>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= f.button t('signin'), class: 'btn btn-default btn-lg hover-effect btn-block', type: 'submit' %>
              <%= link_to new_user_registration_path, class: 'pull-left' do %>
                <i class="fa fa-pencil fa-fw"></i>
                <%= t('signup') %>
              <% end %>
              <%= link_to "#{t('forget_password')}?", new_user_password_path, class: 'pull-right' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!--End Reg Block-->
  </div>
</div>