<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-book"></i>
      <span>已取消課程管理</span>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
        <div class="box-header sea-blue-background">
          <div class="title">所有已取消課程列表</div>
          <div class="actions">
            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th></th>
                  <th>課程編號</th>
                  <th>課程名稱</th>
                  <th>繳費完成人數</th>
                  <th>課程時間</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @courses.each do |course| %>
                  <tr>
                    <td>
                      <%= image_tag course.image.url(:thumb) %>
                    </td>
                    <td>
                      <%= course.id %>
                    </td>
                    <td>
                      <%= course.course_translates.reject{|translate| translate.name.blank?}.collect{|translate| translate.name}.join(' - ') %>
                    </td>
                    <td>
                      <%= @total_attendance %>
                    </td>
                    <td>
                      <%= course.time.strftime('%Y/%m/%d %H:%M') %>
                    </td>
                    <td class="text-right">
                      <%= link_to(canceled_admin_course_registration_path(course), class: 'btn btn-md') do %>
                        <i class="icon-eye-open"></i>
                        查看所有報名人
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>