<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-book"></i>
      <span>已關閉課程管理</span>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info alert-dismissable">
        <a class="close" data-dismiss="alert" href="#">×</a>
        課程取消後需要將所有已報名學員全數退費後才會關閉
      </div>
    </div>
    <div class="col-sm-12">
      <div class="box bordered-" style="margin-bottom:0;">
        <div class="box-header">
          <div class="actions">
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th></th>
                  <th>課程編號</th>
                  <th>課程名稱</th>
                  <th>
                    <label class="label label-default">報名人數</label>&nbsp;
                    <label class="label label-warning">繳費完成人數</label>&nbsp;
                    <label class="label label-success">課程人數上限</label>
                  </th>
                  <th>課程時間</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @courses.each do |course| %>
                  <% translates = course.course_translates.reject{|translate| translate.name.blank?}.collect do |translate|
                    {name: translate.name, lang: translate.locale.name}
                  end %>
                  <tr>
                    <td>
                      <%= image_tag course.image.url(:thumb) %>
                    </td>
                    <td>
                      <%= course.id %>
                    </td>
                    <td>
                      <% translates.each do |translate| %>
                        <%= translate[:name] %>&nbsp;<span class="label label-default"><%= translate[:lang] %></span><br/>
                      <% end %>
                    </td>
                    <td>
                      <label class="label label-default">
                        <%= course.registrations.reject{|registration| registration.canceled?}.collect{|registration| registration.attendance}.inject{|sum, attendance| sum + attendance} || 0 %>
                      </label>&nbsp;
                      <label class="label label-warning">
                        <%= attendance = course.registrations.reject{|registration| registration.canceled?}.collect{|registration| (registration.payment && registration.payment.completed?)? registration.attendance : 0}.inject{|sum, attendance| sum + attendance} || 0 %>
                      </label>&nbsp;
                      <label class="label label-success">
                        <%= course.popular %>
                      </label>
                    </td>
                    <td>
                      <%= course.time.strftime('%Y/%m/%d %H:%M') %><br/>
                      <% if course.time < Time.now %>
                        <label class="label label-success">課程時間已過</label>
                      <% end %>
                      <% if course.time > Time.now %>
                        <label class="label label-warning">課程時間未到</label>
                      <% end %>
                      <% if course.full? || attendance >= course.popular %>
                        <label class="label label-primary">課程額滿</label>
                      <% end %>
                      <% if course.canceled? %>
                        <label class="label label-default">已取消</label>
                      <% end %>
                    </td>
                    <td class="text-right">
                      <%= link_to(closed_admin_course_registration_path(course), class: 'btn') do %>
                        <i class="icon-eye-open"></i>
                        查看所有報名人
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>