<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-book"></i>
      <span>課程管理</span>
    </h1>
  </div>
  <div class="row">
    <% if flash[:message] %>
      <div class="col-sm-12">
        <div class="alert alert-danger alert-dismissable">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <%= flash[:message] %>
        </div>
      </div>
    <% end %>
    <div class="col-sm-12">
      <div class="box">
        <div class="box-header sea-blue-background">
          <div class="title">
            查詢條件
          </div>
          <div class="actions">
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content">
          <%= form_tag admin_course_registrations_path, method: :get, html: {class: 'form'} do %>
            <div class="row">
              <div class="col-sm-12">
                <h4>顯示狀態</h4>
                <div class="row">
                  <div class="col-sm-2">
                    <label class="label label-warning">課程時間未到</label>
                    <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
                      <%= check_box_tag 'search_filter[]', 'not_completed', @search_filter.include?('not_completed') %>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <label class="label label-success">課程時間已過</label>
                    <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
                      <%= check_box_tag 'search_filter[]', 'completed', @search_filter.include?('completed') %>
                    </div>
                  </div>
                  <div class="col-sm-4 text-right pull-right">
                    <div class="btn-toolbar">
                      <button type="submit" class="btn btn-inverse">
                        <i class="icon-search"></i>
                        查詢
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="box bordered-box" style="margin-bottom:0;">
        <div class="box-header">
          <div class="actions">
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th><span class="label label-success">點擊圖片前往編輯</span></th>
                  <th>編號</th>
                  <th>
                    課程名稱
                  </th>
                  <th>
                    <label class="label label-default">報名人數</label>&nbsp;
                    <label class="label label-warning">繳費完成人數</label>&nbsp;
                    <label class="label label-success">課程人數上限</label>
                  </th>
                  <th>課程時間</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @courses.each do |course| %>
                  <% translates = course.course_translates.reject{|translate| translate.name.blank?}.collect do |translate|
                    {name: translate.name, lang: translate.locale.name}
                  end %>
                  <tr>
                    <td>
                      <%= link_to edit_admin_course_path(course), target: '_blank' do %>
                        <%= image_tag course.image.url(:thumb) %>
                      <% end %>
                    </td>
                    <td>
                      <%= course.id %>
                    </td>
                    <td>
                      <% translates.each do |translate| %>
                        <span class="label label-default"><%= translate[:lang] %></span>&nbsp;<%= truncate(translate[:name]) %><br/>
                      <% end %>
                    </td>
                    <td>
                      <label class="label label-default">
                        <%= course.registrations.reject{|registration| registration.canceled?}.collect{|registration| registration.attendance}.inject{|sum, attendance| sum + attendance} || 0 %>
                      </label>&nbsp;
                      <label class="label label-warning">
                        <%= attendance = course.registrations.reject{|registration| registration.canceled?}.collect{|registration| (registration.payment && registration.payment.completed?)? registration.attendance : 0}.inject{|sum, attendance| sum + attendance} || 0 %>
                      </label>&nbsp;
                      <label class="label label-success">
                        <%= course.popular %>
                      </label>
                    </td>
                    <td>
                      <%= course.time.strftime('%Y/%m/%d %H:%M') %><br/>
                      <% if course.time < Time.now %>
                        <label class="label label-success">課程時間已過</label>
                      <% end %>
                      <% if course.time > Time.now %>
                        <label class="label label-warning">課程時間未到</label>
                      <% end %>
                      <% if course.full? || attendance >= course.popular %>
                        <label class="label label-primary">課程額滿</label>
                      <% end %>
                    </td>
                    <td class="text-right">
                      <%= link_to(admin_course_registration_path(course), class: 'btn') do %>
                        <i class="icon-eye-open"></i>
                        查看所有報名人
                      <% end %>

                      <% if attendance >= course.popular %>
                        <%= link_to(full_admin_course_registration_path(course), class: 'btn btn-inverse', method: :put, disabled: true) do %>
                          報名上限額滿
                        <% end %>
                      <% elsif course.full? %>
                        <%= link_to(full_admin_course_registration_path(course, full: false), class: 'btn btn-primary', method: :put) do %>
                          取消額滿
                        <% end %>
                      <% else %>
                        <%= link_to(full_admin_course_registration_path(course, full: true), class: 'btn btn-info', method: :put) do %>
                          設定額滿
                        <% end %>
                      <% end %>

                      <%= link_to(admin_course_registration_path(course), class: 'btn btn-danger', method: :put, data: {confirm: '確定要取消課程嗎?'}, disabled: course.canceled?) do %>
                        <i class="icon-remove"></i>
                        取消
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>