<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-user"></i>
      <span>課程報名人</span>
    </h1>
    <div class="pull-right">
      <ul class="breadcrumb">
        <%= render_breadcrumbs tag: 'li', separator: ' <li class="separator"><i class="icon-angle-right"></i></li> ' %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
        <div class="box-header sea-blue-background">
          <div class="title">所有報名人列表</div>
          <div class="actions">
            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th>課程編號</th>
                  <th>報名編號</th>
                  <th>用戶id<br/><label class="label label-success">點擊查看</label></th>
                  <th>姓名</th>
                  <th>費用</th>
                  <th>Email</th>
                  <th>電話</th>
                  <th>Line</th>
                  <th>狀態</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @course.registrations.each do |registration| %>
                  <tr>
                    <td>
                      <%= registration.course.id %>
                    </td>
                    <td>
                      <%= registration.id %>
                    </td>
                    <td>
                      <%= link_to(registration.user_id, admin_user_path(registration.user_id), target: '_blank') %>
                    </td>
                    <td>
                      <%= registration.user.name %>
                    </td>
                    <td>
                      <%= number_to_currency(registration.subtotal) %>
                    </td>
                    <td>
                      <%= registration.user.email %>
                    </td>
                    <td>
                      <%= registration.user.phone %>
                    </td>
                    <td>
                      <%= registration.user.line %>
                    </td>
                    <td>
                      <% if registration.returned? %>
                        <label class="label label-default">已退款</label>
                      <% end %>
                      <% if registration.canceled? %>
                        <label class="label label-default">已取消</label>
                        <% end %>
                      <% if registration.payment && registration.payment.completed? %>
                        <label class="label label-success">付款完成</label>
                      <% else %>
                        <label class="label label-warning">尚未付款完成</label>
                      <% end %>
                    </td>
                    <td class="text-right">
                      <%  unless registration.returned? %>
                        <% if registration.canceled? %>
                          <%= link_to(return_admin_course_registration_path(registration), class: 'btn btn-md- btn-warning', method: :put, data: {confirm: '確定報名金額已退還?'}) do %>
                            <i class="icon-file-alt"></i>
                          <% end %>
                        <% else %>
                          <%= link_to(cancel_admin_course_registration_path(registration), class: 'btn btn-md- btn-danger', method: :put, data: {confirm: '確定要取消該用戶的報名嗎?'}) do %>
                            <i class="icon-remove"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>