<%= render 'layouts/breadcrumbs'  %>
<div class="container main-container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="text-muted">
        <%= @article.article_type.name %>
      </h4>
      <ul class="list-group sidebar-nav-v1">
        <% @articles.each do |article| %>
          <%= nav_item(article_path(article), {class: 'list-group-item'}) do %>
            <%= link_to truncate(article.title, length: 16), article_path(article) %>
          <% end %>
        <% end %>
      </ul>
      <div class="row">
        <div class="col-md-12" style="border-top: 1px solid #F1F1F1;">
          <%= paginate @articles %>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="headline">
        <h3>
          <strong>
            <%= @article.title %>
          </strong>
        </h3>
        <h3 class="pull-right" style="border-bottom: 0;">
          <small><i class="icon-edit"></i>&nbsp;<%= @article.updated_at.strftime('%Y/%m/%d %H:%M') %></small>
        </h3>
      </div>
      <p>
        <%= @article.content.html_safe %>
      </p>
    </div>
  </div>
</div>