<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'past_work_types/side_navigation' %>
    <div class="col-md-9 col-sm-9">
      <div class="row">
        <%= render 'layouts/nav_item' %>
        <div class="col-xs-12">
          <div class="headline">
            <h4>
              <%= @past_work_type.past_work_type_translates.find_by_locale_id(session[:locale_id]).name %>
            </h4>
          </div>
        </div>
        <div class="col-xs-12 margin-bottom-20">
          <%= image_tag @past_work_type.image.url(:large), class: 'img-responsive' %>
        </div>
        <% @past_works.each do |past_work| %>
          <%= link_to past_work_type_past_work_path(@past_work_type, past_work), class: 'col-lg-4 col-md-4 col-sm-6 col-xs-12' do %>
            <div class="thumbnails thumbnail-style">
              <%= image_tag past_work.image.url(:small), class: 'img-responsive' %>
              <div class="caption">
                <h4 style="margin-top: 10px; margin-bottom: 5px;">
                  <%= truncate(past_work.past_work_translate.name, length: (session[:locale] == 'en')? 38 : 20) %>
                </h4>
                  <span>
                    <%= "#{t('completion_date')}: #{past_work.completion_time.strftime('%Y/%m/%d')}" %>
                  </span>
              </div>
            </div>
          <% end %>
        <% end %>

        <script id="more-template" type="text/html">
          <a href="{{url}}" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnails thumbnail-style">
              <img src="{{image}}" class="img-responsive">
              <div class="caption">
                <h4 style="margin-top: 10px; margin-bottom: 5px;">
                  {{name}}
                </h4>
                  <span>
                    {{completionDate}}
                  </span>
              </div>
            </div>
          </a>
        </script>

        <div class="col-xs-12" style="border-top: 1px solid #F1F1F1;">
          <%= link_to_if(@past_works.total_pages > @past_works.current_page,
                         t('load_more'),
                         past_work_type_past_works_path(page: ((params[:page] || 1).to_i + 1), format: :json),
                         class: 'load-more btn-link btn-md btn-block text-center text-blue'
              ) {} %>
        </div>
      </div>
    </div>
  </div>
</div>