<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'past_work_types/side_navigation' %>
    <div class="col-sm-9">
      <div class="row margin-bottom-40">
        <%= render 'layouts/nav_item' %>
        <div class="col-xs-12">
          <div class="headline">
            <h4>
              <%= @past_work_type.past_work_type_translates.find_by_locale_id(session[:locale_id]).name %>
            </h4>
          </div>
        </div>
        <div class="col-xs-12 margin-bottom-50">
          <h3 style="color:#666;">
            <strong>
              <%= @past_work.past_work_translate.name %>
            </strong>
          </h3>
          <div class="article-content">
            <%== Sanitize.fragment(@past_work.past_work_translate.description, Sanitize::Config::ALLOWED) %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <%= link_to new_custom_order_path(references: past_work_type_past_work_url(@past_work.past_work_type, @past_work), order_type: @past_work.past_work_translate.order_type, style: @past_work.past_work_translate.style, size: @past_work.past_work_translate.size),
                          class: 'btn btn-link btn-primary cta-btn btn-block btn-lg' do %>
                <i class="icon icon-handwriting"></i>
                <%= t('customization') %>
              <% end %>
            </div>
          </div>
          <%= render 'layouts/social_share', image: "#{request.protocol}#{request.host_with_port}#{@past_work.image.url(:large)}", text: "#{t('share_text')}#{@past_work.past_work_translate.name}" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="headline">
            <h4><%= t('other_past_works') %></h4>
          </div>
          <div class="margin-bottom-40">
            <ul id="list" class="bxslider">
              <% @past_work.others(session[:locale_id], 8).each do |past_work| %>
                <li>
                  <%= link_to past_work_type_past_work_path(@past_work_type, past_work), title: past_work.past_work_translate.name do %>
                    <em class="overflow-hidden">
                      <%= image_tag past_work.image.url(:small), style: 'width:100%;', alt: past_work.past_work_translate.name %>
                    </em>
                    <span>
                        <strong>
                          <%= past_work.past_work_translate.name %>
                        </strong><br/>
                      <span>
                        <%= "#{t('completion_date')}: #{past_work.completion_time.strftime('%Y/%m/%d')}" %>
                      </span>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div><!--/row-->
        </div>
      </div>
    </div>
  </div>
</div>