<%= render 'layouts/breadcrumbs'  %>
<div class="container main-container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'areas/category' %>
    </div>
    <div class="col-md-9">
      <h3 class="headline">
        <strong>
          <%= @travel_information.title %>
        </strong>
        <small class="pull-right"><i class="fa fa-clock-o"></i>&nbsp;<%= @travel_information.updated_at.strftime('%Y/%m/%d') %></small>
      </h3>
      <p>
        <%= @travel_information.content.html_safe %>
      </p>
    </div>
  </div>
</div>