<% if order.closed? %>
  <span class="label label-inverse">已封存</span>
  <small class="text-muted">
    (<%= order.closed_time.strftime('%Y/%m/%d %H:%I:%S') %>)
  </small>
<% elsif order.delivered? %>
  <% if order.delivery_report? %>
    <% if order.delivery_report_handled? %>
      <span class="label label-default">寄出件問題已解決</span>
      <small class="text-muted">
        (<%= order.delivery_report_handled_time.strftime('%Y/%m/%d %H:%I:%S') %>)
      </small>
      <% unless order.closed? %>
        <div class="text-muted">
          剩餘<%= order.remaining_time_to_archive %>日訂單封存
        </div>
      <% end %>
    <% else %>
      <span class="label label-danger">寄出件有問題</span>
      <small class="text-muted">
        回報時間 <%= order.delivery_report_time.strftime('%Y/%m/%d %H:%I:%S') %><br/>
        貨件寄出時間 <%= order.delivered_time.strftime('%Y/%m/%d %H:%I:%S') %>
      </small>
      <div>
        回報訊息內容: 
        <label>
          <% if is_show_full %>
            <%= order.delivery_report_message %>
          <% else %>
            <%= turncate(order.delivery_report_message, length: 15) %>
          <% end %>
        </label>
      </div>
    <% end %>
  <% else %>
    <span class="label label-success">已寄出</span>
    <small class="text-muted">
      (<%= order.delivered_time.strftime('%Y/%m/%d %H:%I:%S') %>)
    </small>
    <% unless order.closed? %>
      <div class="text-muted">
        剩餘<%= order.remaining_time_to_archive %>日訂單封存
      </div>
    <% end %>
  <% end %>
<% else %>
  <span class="label label-warning">等待出貨</span>
<% end %>
