<div class="box">
  <div class="box-header box-header-small">
    <div class="title">
      訂單相關資訊&nbsp;
      <% if order.closed? %>
        <span class="label label-inverse">已封存</span>
      <% end %>
      <% if order.order_payment && order.order_payment.cancel? %>
        <span class="label label-inverse">已取消</span>
        <small class="text-muted">
          於&nbsp;<%= order.order_payment.cancel_time.strftime('%Y/%m/%d %H:%I') %>&nbsp;取消
        </small>
      <% end %>
    </div>
  </div>
  <div class="box-content">
    <div class="row">
      <div class="col-xs-12 margin-bottom-10">
        <div class="text-muted">
          收件者姓名
        </div>
        <%= order.name %>
      </div>
      <div class="col-xs-12 margin-bottom-10">
        <div class="text-muted">
          Email
        </div>
        <%= order.user.email %>
      </div>
      <div class="col-xs-12 margin-bottom-10">
        <div class="text-muted">
          郵遞區號
        </div>
        <%= order.zip_code %>
      </div>
      <div class="col-xs-12 margin-bottom-10">
        <div class="text-muted">
          國家/區域
        </div>
        <%= order.shipping_fee.area %>
      </div>
      <div class="col-xs-12 margin-bottom-10">
        <div class="text-muted">
          收件地址
        </div>
        <%= order.address %>
      </div>
      <div class="col-xs-12 margin-bottom-10">
        <div class="text-muted">
          聯絡電話
        </div>
        <%= order.phone %>
      </div>
      <div class="col-xs-12 margin-bottom-10">
        <div class="text-muted">
          訂單狀態
        </div>
        <% if order.order_payment %>
          <% if order.order_payment.completed.nil? %>
            <span class="label label-warning">等待付款</span>
            <small class="text-muted">於 <%= order.checkout_time.strftime('%Y/%m/%d %H:%I:%S') %> 結帳</small>
            <div>
              <small>使用&nbsp;<span class="label label-default"><%= t("#{order.payment_method}") %></span>&nbsp;付款</small>
            </div>
          <% elsif order.order_payment.completed? %>
            <span class="label label-success">付款完成</span>
            <small class="text-muted">於 <%= order.order_payment.completed_time.strftime('%Y/%m/%d %H:%I:%S') %> 付款完成</small>
            <div>
              <small>使用&nbsp;<span class="label label-default"><%= t("#{order.payment_method}") %></span>&nbsp;付款</small>
            </div>
          <% else %>
            <span class="label label-danger">匯款有誤</span>
            <small class="text-muted">於 <%= order.checkout_time.strftime('%Y/%m/%d %H:%I:%S') %> 結帳</small>
          <% end %>

          <% if order.order_payment.cancel? %>
            <div>
              取消原因: <label><%= order.order_payment.cancel_reason %></label>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if order.order_payment.completed? %>
        <div class="col-xs-12">
          <div class="text-muted">
            訂單出貨狀態
          </div>
          <%= render 'delivery_status', order: order, is_show_full?: true %>
        </div>
      <% end %>
    </div>
  </div>
</div>