<% locale = Locale.where(id: order.locale_id).first %>
<div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
  <div class="box-header sea-blue-background">
    <div class="title">訂單詳細內容</div>
    <div class="actions">
      <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
    </div>
  </div>
  <div class="box-content box-no-padding">
    <div class="responsive-table">
      <div class="scrollable-table">
        <table class="data-table table table-striped" style="margin-bottom:0;">
          <thead>
          <tr>
            <th>
              <span class="label label-success">點擊圖片前往編輯</span>
            </th>
            <th>名稱</th>
            <th>金額</th>
            <th>客戶訂購數量</th>
            <th>目前剩餘數量</th>
          </tr>
          </thead>
          <tbody>
          <% order.order_products.reject{|object| object.product.nil?}.each do |order_product| %>
            <% translate = ProductTranslate.where(product_id: order_product.product_id, locale_id: order.locale_id).first %>
            <tr>
              <td>
                <% if order_product.product.product_type %>
                  <%= link_to edit_admin_other_product_path(order_product.product), target: '_blank' do %>
                    <%= image_tag order_product.product.image.url(:thumb) %>
                  <% end %>
                <% else %>
                  <%= link_to edit_admin_product_path(order_product.product_id), target: '_blank' do %>
                    <%= image_tag order_product.product.image.url(:thumb) %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <h5>
                  <%= translate.name %><br/>
                  <small><%= order_product.product_option.content if order_product.product_option %></small>
                </h5>
              </td>
              <td>
                <% if order_product.product_option %>
                  <h5>
                    <%= number_to_currency(translate.price) %><br/>
                    <small><%= number_to_currency(order_product.product_option.price) %></small>
                  </h5>
                <% end %>
                <%= number_to_currency(order_product.price) %>
                <% if order_product.discount > 0 %>
                  <br/>
                  <small><%= '%g' % order_product.discount.to_f %>折優惠</small>
                <% end %>
              </td>
              <td>
                <%= order_product.quantity %>
              </td>
              <td>
                <%= translate.product.quantity %>
              </td>
            </tr>
          <% end %>
          <% order.order_custom_items.each do |custom_item| %>
            <% translate = custom_item.order_custom_item_translates.where(locale_id: order.locale_id).first %>
            <tr>
              <td>
                <%= link_to edit_admin_order_custom_item_path(custom_item), target: '_blank' do %>
                  <%= custom_item_image_helper(custom_item) %>
                <% end %>
              </td>
              <td>
                <strong>
                  <%= custom_item_name_helper(custom_item, order.locale_id) %>
                </strong>
              </td>
              <td>
                <%= number_to_currency(translate.price, locale: locale.lang) %>&nbsp;<small class="text-muted"><%= order.currency %></small>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4 class="text-right">
      總金額 :
      <strong class="text-muted">
        <%= number_to_currency(order.subtotal, locale: locale.lang) %><br/>
        <small>運費: <%= number_to_currency(@shipping_fee.fee, locale: locale.lang) %><%= " / 禮券折抵金額: #{number_to_currency(@discount, locale: locale.lang)}" if @discount > 0 %></small>
      </strong><br>
      <% if order.payment.completed? %>
        <label class="label label-success">
          <% item_work_days = order.order_custom_items.collect{|item| item.workday}.inject{|sum, attendance| sum + attendance} || 0 %>
          工作天數: <%= (item_work_days > 5)? item_work_days : 5 %> 天
        </label><br/>
        <small>
          付款完成日期 <%= order.payment.pay_time.strftime('%Y/%m/%d') %>
        </small>
      <% end %>
    </h4>
  </div>
</div>