<div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
  <div class="box-header box-header-small">
    <div class="title">
      <strong>
        <%= link_to("訂單編號: #{order.id}", admin_order_path(order.id)) %>
      </strong>
    </div>
  </div>
  <div class="box-content box-no-padding">
    <div class="responsive-table">
      <div class="scrollable-table">
        <table class="data-table table table-striped" style="margin-bottom:0;">
          <thead>
          <tr>
            <th>
              商品編號
            </th>
            <th></th>
            <th>訂單項目</th>
            <th>小計</th>
            <th>
              <small class="label label-sm label-primary">
                訂購數量
              </small>
              <small class="label label-sm label-warning">
                剩餘數量
              </small>
            </th>
          </tr>
          </thead>
          <tbody>
          <% order.order_products.reject{|object| object.product.nil?}.each do |order_product| %>
            <% translate = ProductTranslate.where(product_id: order_product.product_id, locale_id: order.locale_id).first %>
            <tr>
              <td>
                <%= link_to(
                        (order_product.product.product_type)?
                            edit_admin_other_product_path(order_product.product) : edit_admin_product_path(order_product.product)) do %>
                  <%= order_product.product_id %>
                  <span class="text-muted">
                    <i class="icon-info-sign"></i>
                  </span>
                <% end %>
              </td>
              <td>
                <%= image_tag order_product.product.image.url(:thumb), style: 'height:50px', alt: '' %>
              </td>
              <td>
                <div>
                  <strong>
                    <%= truncate(order_product.product.product_translates.find_by_locale_id(Locale.find_by_lang('zh-TW').id).name, length: 14) %>
                  </strong>

                  <small class="text-muted">
                    <%= truncate(order_product.product.product_translates.find_by_locale_id(Locale.find_by_lang('en').id).name, length: 30) %>
                  </small>
                </div>
                <small class="text-muted">
                  所選項目
                </small>
                <% ProductOptionGroup.where(locale_id: order.locale_id, product_id: order_product.product_id).each do |group| %>
                  <div class="option-group">
                    <small><%= group.name %></small>
                    <div>
                      <% if group.product_options.where(id: order_product.order_product_options.map{|option| option.product_option_id}).size > 0 %>
                        <span class="label label-primary">
                          <%= group.product_options.where(id: order_product.order_product_options.map{|option| option.product_option_id}).first.content %>
                        </span>
                      <% else %>
                        <span class="label label-default"><i class="icon-warning-sign icon-fixed-width"></i>沒有所選項目</span>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </td>
              <td>
                <%= number_to_currency(order_product.price, locale: order.locale.lang) %>
              </td>
              <td>
                <small class="label label-sm label-primary">
                  <%= order_product.quantity %>
                </small>
                <small class="label label-sm label-warning">
                  <%= translate.product.quantity %>
                </small>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4 class="text-right">
      總金額 :
      <strong class="text-muted">
        <%= number_to_currency(order.get_subtotal, locale: order.locale.lang) %><br/>
        <small>運費: <%= number_to_currency(order.shipping_fee!, locale: order.locale.lang) %></small>
      </strong><br>
      <% if order.order_payment.completed? %>
        <small>
          付款完成日期 <%= order.order_payment.completed_time.strftime('%Y/%m/%d') %>
        </small>
      <% end %>
    </h4>
  </div>
</div>