<div class="box">
  <div class="box-header box-header-small">
    <div class="title">
      查詢條件
    </div>
    <div class="actions">
      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
    </div>
  </div>
  <div class="box-content">
    <%= form_tag admin_orders_path, method: :get, html: {class: 'form'} do %>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <small>訂貨狀態</small>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-xs-5 margin-bottom-10">
              <span class="label label-warning">等待付款</span>
              <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
                <%= check_box_tag('search_filter[order_payments][completed][]',
                                  false,
                                  (!@search_filter.nil?)? @search_filter['order_payments']['completed'].include?('false') : true) %>
              </div>
            </div>
          </div>
          <hr class="hr-normal">
          <div class="row">
            <div class="col-sm-4 col-xs-5 margin-bottom-10">
              <span class="label label-success">付款完成</span>
              <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
                <%= check_box_tag('search_filter[order_payments][completed][]',
                                  true,
                                  (!@search_filter.nil?)? @search_filter['order_payments']['completed'].include?('true') : true,
                                  data: {'switch-disable' => '.pay'}) %>
              </div>
            </div>
            <div class="col-sm-8 col-xs-7 margin-bottom-10">
              <div class="row">
                <div class="col-xs-12 margin-bottom-10">
                  <span class="label label-default">付款方式</span>
                  <%= select_tag 'search_filter[payment_method][]',
                                 options_for_select(
                                     Order.payment_methods.map{|payment_method|
                                                                  [t("#{payment_method[0]}"), payment_method[1]]
                                                              },
                                     selected: []),
                                 class: 'select2 pay', multiple: true, placeholder: '所有付款方式',
                                 disabled: !((!@search_filter.nil?)? @search_filter['order_payments']['completed'].include?('true') : true),
                                 style: 'min-width: 150px;' %>
                </div>
                <div class="col-xs-12">
                  <span class="label label-default">付款時間</span>
                  <div class="daterange">
                    <div class="input-group">
                      <input class="form-control pay" placeholder="所有時間" type="text" name="test">
                      <%= text_field_tag('search_filter[order_payments][completed_time]',
                                         (!@search_filter.nil?)? @search_filter['order_payments']['completed_time'] : '') %>
                      <span class="input-group-addon">
                        <i class='icon-time'></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <small>出貨狀態</small>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-xs-5 margin-bottom-10">
              <span class="label label-warning">等待出貨</span>
              <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
                <%= check_box_tag '', 1, true %>
              </div>
            </div>
            <div class="col-sm-3 col-xs-4 text-right pull-right">
              <div class="btn-toolbar">
                <button type="submit" class="btn btn-sm btn-inverse">
                  <i class="icon-search"></i>
                  查詢
                </button>
              </div>
            </div>
          </div>
          <hr class="hr-normal">
          <div class="row">
            <div class="col-sm-4 col-xs-5 margin-bottom-10">
              <span class="label label-success">已寄出</span>
              <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
                <%= check_box_tag '', 1, true, data: {'switch-disable' => '.delivery'} %>
              </div>
            </div>
            <div class="col-sm-8 col-xs-7 margin-bottom-10">
              <div class="row">
                <div class="col-xs-12 margin-bottom-10">
                  <span class="label label-default">寄出狀態</span>
                  <select class="select2 delivery" multiple="multiple" placeholder="所有狀態" style="min-width: 150px;">
                    <option>寄出件有問題</option>
                    <option>寄出件問題已解決</option>
                  </select>
                </div>
                <div class="col-xs-12">
                  <span class="label label-default">寄出時間</span>
                  <div class="daterange">
                    <div class="input-group">
                      <input class="form-control delivery" placeholder="所有時間" type="text" name="test">
                  <span class="input-group-addon">
                    <i class='icon-time'></i>
                  </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="hr-normal">
          <div class="row">
            <div class="col-sm-4 col-xs-5 margin-bottom-10">
              <span class="label label-inverse">已封存</span>
              <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
                <%= check_box_tag '', 1, true, data: {'switch-disable' => '.archive'} %>
              </div>
            </div>
            <div class="col-sm-8 col-xs-7 margin-bottom-10">
              <span class="label label-default">封存時間</span>
              <div class="daterange">
                <div class="input-group">
                  <input class="form-control archive" placeholder="所有時間" type="text" name="test">
                  <span class="input-group-addon">
                    <i class='icon-time'></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>