<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-ok"></i>
      <span>已封存訂單</span>
    </h1>
  </div>

  <%= render 'archive_search_condition' %>

  <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
    <div class="box-content box-no-padding">
      <div class="responsive-table">
        <div class="scrollable-table">
          <table class="data-table table table-striped" style="margin-bottom:0;">
            <thead>
            <tr>
              <th>訂單編號</th>
              <th>用戶id&nbsp;<label class="label label-success">點擊查看</label></th>
              <th>付款方式</th>
              <th>付款完成時間</th>
              <th>訂單寄出時間</th>
              <th>訂單封存時間</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td>
                  <%= order.id %>
                </td>
                <td>
                  <%= link_to(info_admin_user_path(order.user_id),
                              data: {toggle: 'modal', target: '#user-detail'}
                      ) do %>
                    <%= order.user_id %>
                    <span class="text-muted">
                          <i class="icon-info-sign"></i>
                        </span>
                  <% end %>
                </td>
                <td>
                  <span class="label label-default"><%= t("#{order.payment_method}") %></span>
                </td>
                <td>
                  <%= order.order_payment.completed_time.strftime('%Y/%m/%d %H:%M') %>
                </td>
                <td>
                  <%= order.delivered_time.strftime('%Y/%m/%d %H:%M') %>
                </td>
                <td>
                  <%= order.closed_time.strftime('%Y/%m/%d %H:%M') %>
                </td>
                <td class="text-right">
                  <%= link_to(archive_admin_order_path(order), class: 'btn btn-md') do %>
                    <i class="icon-info icon-fixed-width"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade reload-modal" id="user-detail"></div><!-- /.modal -->