<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-flag"></i>
      <span>交易完成訂單</span>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
        <div class="box-header sea-blue-background">
          <div class="title">交易完成訂單列表</div>
          <div class="actions">
            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th>訂單編號</th>
                  <th>用戶id&nbsp;<label class="label label-success">點擊查看</label></th>
                  <th>收件者</th>
                  <th>交易完成時間</th>
                  <th>狀態</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @orders.each do |order| %>
                  <tr>
                    <td>
                      <%= order.id %>
                    </td>
                    <td>
                      <%= link_to order.user.id, admin_user_path(order.user.id), target: '_blank' %>
                    </td>
                    <td>
                      <%= order.name %>
                    </td>
                    <td>
                      <%= order.closed_time.strftime('%Y/%m/%d %H:%M') %>
                    </td>
                    <td>
                      <label class="label label-default">
                        交易完成
                      </label>
                    </td>
                    <td class="text-right">
                      <%= link_to(admin_order_path(order), class: 'btn btn-md') do %>
                        <i class="icon-eye-open"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>