<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-truck"></i>
      <span>訂單出貨情形</span>
    </h1>
  </div>

  <% unless flash[:id].nil? %>
    <% if flash[:delivered] == 'true' %>
      <%= render 'message_delivered' %>
    <% elsif flash[:closed] == 'true' %>
      <%= render 'message_closed' %>
    <% elsif flash[:delivery_report_handled] == 'true' %>
      <%= render 'message_handled' %>
    <% end %>
  <% end %>

  <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
    <div class="box-content box-no-padding">
      <div class="responsive-table">
        <div class="scrollable-table">
          <table class="data-table table table-striped" style="margin-bottom:0;">
            <thead>
            <tr>
              <th>訂單編號</th>
              <th>用戶id&nbsp;<label class="label label-success">點擊查看</label></th>
              <th>收件者</th>
              <th>聯絡電話</th>
              <th>付款完成時間</th>
              <th>出貨狀況</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td>
                  <%= order.id %>
                </td>
                <td>
                  <%= link_to(info_admin_user_path(order.user_id),
                              data: {toggle: 'modal', target: '#user-detail'}
                      ) do %>
                    <%= order.user_id %>
                    <span class="text-muted">
                          <i class="icon-info-sign"></i>
                        </span>
                  <% end %>
                </td>
                <td>
                  <%= order.name %>
                </td>
                <td>
                  <%= order.phone %>
                </td>
                <td>
                  <%= order.order_payment.completed_time.strftime('%Y/%m/%d %H:%I') %>
                </td>
                <td>
                  <% if order.delivered? %>
                    <% if order.delivery_report? %>
                      <% if order.delivery_report_handled? %>
                        <span class="label label-default">寄出件問題已解決</span>
                        <div class="text-muted">
                          剩餘<%= order.remaining_time_to_archive %>日訂單封存
                        </div>
                      <% else %>
                        <span class="label label-danger">寄出件有問題</span>
                      <% end %>
                    <% else %>
                      <span class="label label-success">已寄出</span>
                      <div class="text-muted">
                        剩餘<%= order.remaining_time_to_archive %>日訂單封存
                      </div>
                    <% end %>
                  <% else %>
                    <span class="label label-warning">等待出貨</span>
                  <% end %>
                </td>
                <td class="text-right">
                  <% if order.delivered? %>
                    <% if order.delivery_report? %>
                      <% if order.delivery_report_handled? %>
                        <%= link_to(edit_admin_order_path(order), class: 'btn btn-md') do %>
                          <i class="icon-edit icon-fixed-width"></i>
                        <% end %>
                      <% else %>
                        <%= link_to(edit_admin_order_path(order), class: 'btn btn-md') do %>
                          <i class="icon-exclamation icon-fixed-width"></i>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= link_to(edit_admin_order_path(order), class: 'btn btn-md') do %>
                        <i class="icon-edit icon-fixed-width"></i>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= link_to(edit_admin_order_path(order), class: 'btn btn-md') do %>
                      <i class="icon-pencil icon-fixed-width"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="user-detail"></div><!-- /.modal -->