<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-flag"></i>
      <span>所有訂單紀錄</span>
    </h1>
  </div>

  <%= render 'search_condition' %>

  <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
    <div class="box-content box-no-padding">
      <div class="responsive-table">
        <div class="scrollable-table">
          <table class="data-table table table-striped" style="margin-bottom:0;">
            <thead>
            <tr>
              <th>訂單編號</th>
              <th>用戶id&nbsp;<label class="label label-success">點擊查看</label></th>
              <th>聯絡人</th>
              <th>訂單狀態</th>
              <th>出貨狀態</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td>
                  <%= order.id %>
                </td>
                <td>
                  <%= link_to(info_admin_user_path(order.user_id),
                              data: {toggle: 'modal', target: '#user-detail'}
                      ) do %>
                    <%= order.user_id %>
                    <span class="text-muted">
                          <i class="icon-info-sign"></i>
                        </span>
                  <% end %>
                </td>
                <td>
                  <%= order.name %>
                </td>
                <td>
                  <% if order.order_payment.completed? %>
                    <span class="label label-success">付款完成</span>
                    <div>
                      <small>使用&nbsp;<%= t("#{order.payment_method}") %>&nbsp;付款 (<%= order.order_payment.completed_time.strftime('%Y/%m/%d %H:%I:%S') %>)</small>
                    </div>
                  <% else %>
                    <span class="label label-warning">等待付款</span>
                  <% end %>
                </td>
                <td>
                  <%= render 'delivery_status', order: order if order.order_payment.completed? %>
                </td>
                <td class="text-right">
                  <%= link_to(admin_order_path(order), class: 'btn btn-md') do %>
                    <i class="icon-eye-open"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="user-detail"></div><!-- /.modal -->