<div class="col-xs-12">
  <div class="page-header">
    <h1 class="pull-left">
      <i class="icon-info"></i>
      訂單詳細 <span class="text-muted">訂單編號: <%= @order.id %></span>
    </h1>
    <div class="pull-right">
      <ul class="breadcrumb">
        <%= render_breadcrumbs tag: 'li', separator: ' <li class="separator"><i class="icon-angle-right"></i></li> ' %>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-8 col-sm-12 col-xs-12">
  <%= render 'order_detail', order: @order %>
</div>
<div class="col-md-4 col-sm-12 col-xs-12">
  <%= render 'info', order: @order %>

  <% if @order.order_payment %>
    <div class="pull-right">
      <%= link_to_if(@order.order_payment.cancel?, '已取消', '#', class: 'btn btn-default disabled') do %>
        <%= link_to_unless(@order.order_payment.completed?, '取消訂單',
                           admin_order_payment_path(@order.order_payment),
                           class: 'btn btn-default', data: {toggle: 'modal', target: '#cancel-dialog'}
            ) {} %>
      <% end %>
      <%= link_to_unless(@order.order_payment.completed?,
                         content_tag(:i, '永久刪除', class: 'icon-trash'),
                         admin_order_path(@order, from_cancel: request.path.include?('/canceled')),
                         class: "btn btn-danger #{'disabled' unless @order.order_payment.cancel?}",
                         data: {confirm: '永久刪除無法回復動作，確定要繼續嗎？'}, method: :delete) {} %>
    </div>
  <% end %>
</div>

<div class="modal fade" id="cancel-dialog"></div><!-- /.modal -->