<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  <strong><%= t('mailer.re_remittance', remittance_link: (link_to t('order.advice'), edit_payment_url(@registration.payment))).html_safe %> </strong>&nbsp;<%= edit_payment_url(@registration.payment) %><br/>
</p>
<h3><%= t('remitted_information') %></h3>
<table>
  <tr>
    <td>
      <%= t('remitted_amount') %>
    </td>
    <td>
      <%= number_to_currency(@registration.payment.amount) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('your_account') %>
    </td>
    <td>
      <%= @registration.payment.identifier %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('remitted_date') %>
    </td>
    <td>
      <%= (@registration.payment.pay_time)? @registration.payment.pay_time.strftime('%Y/%m/%d') : '-' %>
    </td>
  </tr>
</table>
<h3><%= t('registration.information') %></h3>
<table class="table table-hover">
  <thead>
  <tr>
    <td></td>
    <td><%= t('call_name') %></td>
    <td><%= t('tuition') %></td>
    <td><%= t('course.number') %></td>
    <td><%= "#{t('option')} / #{t('option_price')}" %></td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= image_tag "http://quoiquoi.tw#{@registration.course.image.url(:thumb)}" %>
    </td>
    <td>
      <h5>
        <%= @registration.course.course_translates.where(locale_id: @registration.locale_id).first.name %>
      </h5>
    </td>
    <td>
      <%= number_to_currency(@registration.course.course_translates.where(locale_id: @registration.locale_id).first.price) %>
    </td>
    <td style="text-align: center">
      <%= @registration.attendance %>
    </td>
    <td>
      <%= (@registration.course_option)? "#{@registration.course_option.content} / #{@registration.course_option.price}" : t('none') %>
    </td>
  </tr>
  </tbody>
</table>
<% if @discount > 0 %>
  <h4><%= t('user_gift.discount') %><label>&nbsp;<%= number_to_currency(@discount) %></label></h4>
<% end %>
<h3><%= t('total_amount') %>: <%= number_to_currency(@registration.subtotal) %></h3>
<br>
<br>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>
