<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<h2><%= t('mailer.thanks_for_registration') %></h2>
<p>
  <strong><%= t('mailer.dear') %> </strong><br/>
  <%= t('mailer.remind_for_remittance_registration', remittance_link: "<a href=\"#{@domain}/payments/#{@registration.payment.id}/edit\">#{t('order.advice')}</a>").html_safe %>
</p>
<table class="table table-hover">
  <thead>
  <tr>
    <td></td>
    <td><%= t('call_name') %></td>
    <td><%= t('tuition') %></td>
    <td><%= t('course.number') %></td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= image_tag "#{@domain}#{@registration.course.image.url(:thumb)}" %>
    </td>
    <td>
      <h5>
        <%= @registration.course.course_translates.where(locale_id: @locale_id).first.name %>
      </h5>
    </td>
    <td>
      <%= number_to_currency(@registration.course.course_translates.where(locale_id: @locale_id).first.price) %>
    </td>
    <td>
      <%= @registration.attendance %>
    </td>
  </tr>
  </tbody>
</table>
<h3><%= t('total_amount') %>: <%= number_to_currency(@registration.subtotal) %></h3>
</body>
</html>
