<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  <strong><%= t('mailer.dear') %> </strong><br/>
  <%= t('mailer.remind_for_remittance_registration', remittance_link: "<a href=\"http://quoiquoi.tw/payments/#{@registration.payment.id}/edit\">#{t('order.advice')}</a>").html_safe %><br/>
  <%= "http://quoiquoi.tw/payments/#{@registration.payment.id}/edit" %>
  <%= t('mailer.remind_for_remittance_registration_following') %>
</p>
<table class="table table-hover">
  <thead>
  <tr>
    <td></td>
    <td><%= t('call_name') %></td>
    <td><%= t('tuition') %></td>
    <td><%= t('course.number') %></td>
    <td><%= "#{t('option')} / #{t('option_price')}" %></td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= image_tag "http://quoiquoi.tw#{@registration.course.image.url(:thumb)}" %>
    </td>
    <td>
      <h5>
        <%= @registration.course.course_translates.where(locale_id: @registration.locale_id).first.name %>
      </h5>
    </td>
    <td>
      <%= number_to_currency(@registration.course.course_translates.where(locale_id: @registration.locale_id).first.price) %>
    </td>
    <td style="text-align: center">
      <%= @registration.attendance %>
    </td>
    <td>
      <%= t('none') if @registration.registration_options.size <= 0 %>
      <ul>
        <% @registration.registration_options.each do |option| %>
        <li>
          <%= "#{option.course_option.content} / #{option.course_option.price}" %>
        </li>
        <% end %>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
<% if @discount > 0 %>
  <h4><%= t('user_gift.discount') %><label>&nbsp;<%= number_to_currency(@discount) %></label></h4>
<% end %>
<h3><%= t('total_amount') %>: <%= number_to_currency(@registration.subtotal) %></h3>
<br>
<br>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>
