<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  <strong><%= t('mailer.dear') %>: </strong><br/>
  <%= t('mailer.remind_for_registration_part1').html_safe %><br/>
  <%= t('mailer.any_question') %>&nbsp;<a href="mailto:quoiquoistudio@gmail.com">Email</a>&nbsp;-&nbsp;quoiquoistudio@gmail.com<br/>
  <%= t('mailer.remind_for_registration_part2').html_safe %>
</p>
<table class="table table-hover">
  <thead>
  <tr>
    <td></td>
    <td><%= t('call_name') %></td>
    <td><%= t('course_time') %></td>
    <td><%= t('course.number') %></td>
    <td><%= t('option') %></td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= image_tag "http://quoiquoi.tw#{@registration.course.image.url(:thumb)}" %>
    </td>
    <td>
      <h5>
        <%= @registration.course.course_translates.where(locale_id: @registration.locale_id).first.name %>
      </h5>
    </td>
    <td>
      <%= "#{@registration.course.time.strftime('%Y/%m/%d %H:%M')} - #{(@registration.course.time + @registration.course.length.hours).strftime('%H:%M')}" %>
    </td>
    <td style="text-align: center">
      <%= @registration.attendance %>
    </td>
    <td>
      <%= @registration.course_option.content if @registration.course_option %>
    </td>
  </tr>
  </tbody>
</table>
<br/>
<p>
  <% if @registration.user %>
    <%= t('completed_hint').html_safe %><br/>
    <%= link_to t('control_panel'), registrations_url %>&nbsp;<%= registrations_url %><br/>
  <% end %>
  <%= t('sincerely') %>
</p>
<br/>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>
