<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<h2><%= t('mailer.thanks_for_registration') %></h2>
<p>
  <strong><%= t('mailer.dear') %>: </strong><br/>
  <%= t('mailer.remind_for_registration') %>
</p>
<table class="table table-hover">
  <thead>
  <tr>
    <td></td>
    <td><%= t('call_name') %></td>
    <td><%= t('course_time') %></td>
    <td><%= t('course.number') %></td>
    <td><%= t('option') %></td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= image_tag "#{@domain}#{@registration.course.image.url(:thumb)}" %>
    </td>
    <td>
      <h5>
        <%= @registration.course.course_translates.where(locale_id: @registration.locale_id).first.name %>
      </h5>
    </td>
    <td>
      <%= "#{@registration.course.time.strftime('%Y/%m/%d %H:%M')} - #{(@registration.course.time + @registration.course.length.hours).strftime('%H:%M')}" %>
    </td>
    <td style="text-align: center">
      <%= @registration.attendance %>
    </td>
    <td>
      <%= @registration.course_option.content if @registration.course_option %>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
