<nav id="main-nav">
  <div class="navigation">

    <!-- search form visible on phone -->
    <div class="search">
      <form action="search_results.html" method="get">
        <div class="search-wrapper">
          <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text">
          <button class="btn btn-link icon-search" name="button" type="submit"></button>
        </div>
      </form>
    </div>

    <!-- navigation items -->
    <ul class="nav nav-stacked">
      <!-- single navigation item -->
      <%= nav_item_with_resource(admin_root_path, nil, Admin) do %>
        <%= link_to(admin_root_path) do %>
          <i class="icon-dashboard"></i>
          <span>Dashboard</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_locales_path, {rule: /#{admin_locales_path}.*/}, Admin::Locale) do %>
        <%= link_to(admin_locales_path) do %>
          <i class="icon-globe"></i>
          <span>語系管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_product_types_path, {rule: /#{admin_product_types_path}.*/}, Admin::ProductType) do %>
        <%= link_to(admin_product_types_path) do %>
          <i class="icon-anchor"></i>
          <span>其他商品種類管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(nil, {rule: /#{admin_article_types_path}.*/}, Admin::ArticleType) do %>
        <%= link_to(admin_article_types_path) do %>
          <i class="icon-anchor"></i>
          <span>文章種類管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(nil, {rule: /#{admin_areas_path}.*/}, Admin::Area) do %>
        <%= link_to(admin_areas_path) do %>
          <i class="icon-anchor"></i>
          <span>旅遊景點地區管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_slide_positions_path, {rule: /#{admin_slide_positions_path}.*/}, Admin::SlidePosition) do %>
        <%= link_to(admin_slide_positions_path) do %>
          <i class="icon-anchor"></i>
          <span>輪播文字位置管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(nil, {rule: /#{admin_messages_path}.*|#{admin_users_path}\/\d+\/messages.*/}, Admin::Message) do %>
        <%= link_to(admin_messages_path) do %>
          <i class="icon-comment-alt"></i>
          <span>訊息管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(nil, {rule: /#{admin_users_path}(\/\d+)?(?!\/messages)$/}, Admin) do %>
        <%= link_to(admin_users_path) do %>
          <i class="icon-user"></i>
          <span>用戶管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource('#', nil, Admin::Order) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:orders) %>" href="#">
          <i class="icon-file-text"></i>
          <span>訂單管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:orders) %>">
          <%= nav_item_with_resource(check_admin_orders_path, {rule: /#{admin_orders_path}(\/\d+)?\/check/}, Admin::Payment) do %>
            <%= link_to(check_admin_orders_path) do %>
              <i class="icon-check"></i>
              <span>待確認匯款訂單</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(deliver_admin_orders_path, {rule: /#{deliver_admin_orders_path}|#{admin_orders_path}\/\d+\/edit/}, Admin::Order) do %>
            <%= link_to(deliver_admin_orders_path) do %>
              <i class="icon-truck"></i>
              <span>待出貨訂單</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(closed_admin_orders_path, nil, Admin::Order) do %>
            <%= link_to (closed_admin_orders_path) do %>
              <i class="icon-ok"></i>
              <span>交易完成訂單</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(admin_orders_path, {rule: /#{admin_orders_path}(\/\d+)?(?!\/deliver)$/}, Admin::Order) do %>
            <%= link_to(admin_orders_path) do %>
              <i class="icon-flag"></i>
              <span>訂單記錄</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(canceled_admin_orders_path, nil, Admin::Order) do %>
            <%= link_to(canceled_admin_orders_path, class: 'text-muted') do %>
              <i class="icon-remove"></i>
              <span>已取消訂單</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', nil, Admin::OrderCustomItem) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:order_custom_items) %>" href="#">
          <i class="icon-tasks"></i>
          <span>訂製要求管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:order_custom_items) %>">
          <%= nav_item_with_resource(check_admin_order_custom_items_path, nil, Admin::OrderCustomItem) do %>
            <%= link_to(check_admin_order_custom_items_path) do %>
              <i class="icon-check"></i>
              <span>待確認訂製要求</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(accepted_admin_order_custom_items_path, nil, Admin::OrderCustomItem) do %>
            <%= link_to(accepted_admin_order_custom_items_path) do %>
              <i class="icon-ok"></i>
              <span>已接受訂製要求</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(admin_order_custom_items_path, {rule: /#{admin_order_custom_items_path}(\/\d+\/edit)?((?!\/accepted)|(?!\/check))$/}, Admin::OrderCustomItem) do %>
            <%= link_to(admin_order_custom_items_path) do %>
              <i class="icon-flag"></i>
              <span>訂製要求記錄</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(canceled_admin_order_custom_items_path, nil, Admin::OrderCustomItem) do %>
            <%= link_to(canceled_admin_order_custom_items_path, class: 'text-muted') do %>
              <i class="icon-remove"></i>
              <span>已取消訂製要求</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', nil, Admin::UserGift) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:user_gifts) %>" href="#">
          <i class="icon-gift"></i>
          <span>禮品券交易管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:user_gifts) %>">
          <%= nav_item_with_resource(check_admin_user_gifts_path, {rule: /#{admin_user_gifts_path}(\/\d+)?\/check/}, Admin::UserGift) do %>
            <%= link_to(check_admin_user_gifts_path) do %>
              <i class="icon-check"></i>
              <span>待確認購買禮品券匯款</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /#{admin_user_gifts_path}(\/\d+)?(?!\/check)/}, Admin::UserGift) do %>
            <%= link_to(admin_user_gifts_path) do %>
              <i class="icon-flag"></i>
              <span>禮品券記錄</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', nil, Admin::Registration) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:registrations) or is_in(:course_registrations) %>" href="#">
          <i class="icon-check"></i>
          <span>報名課程管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:registrations) or is_in(:course_registrations) %>">
          <%= nav_item_with_resource(nil, {rule: /#{admin_registrations_path}(\/\d+)?\/check/}, Admin::Registration) do %>
            <%= link_to(check_admin_registrations_path) do %>
              <i class="icon-check"></i>
              <span>待確認報名課程匯款</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /#{admin_course_registrations_path}(\/\d+)?(?!\/canceled)$/}, Admin::Registration) do %>
            <%= link_to(admin_course_registrations_path) do %>
              <i class="icon-book"></i>
              <span>課程管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /#{admin_course_registrations_path}(\/\d+)?\/canceled/}, Admin::Registration) do %>
            <%= link_to(canceled_admin_course_registrations_path) do %>
              <i class="icon-book"></i>
              <span>已取消課程管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /#{admin_course_registrations_path}(\/\d+)?\/closed/}, Admin::Registration) do %>
            <%= link_to(closed_admin_course_registrations_path) do %>
              <i class="icon-book"></i>
              <span>已關閉課程管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(admin_registrations_path, {rule: /#{admin_registrations_path}(\/\d+)?(?!\/check)/}, Admin::Registration) do %>
            <%= link_to(admin_registrations_path) do %>
              <i class="icon-flag"></i>
              <span>報名課程記錄</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource(admin_products_path, {rule: /(#{admin_products_path}.*)|(#{admin_other_products_path}.*)/}, Admin::Product) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:products) %>" href="#">
          <i class="icon-shopping-cart"></i>
          <span>購物車管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:products) %>">
          <%= nav_item_with_resource(admin_products_path, {rule: /#{admin_products_path}.*/}, Admin::Product) do %>
            <%= link_to(admin_products_path) do %>
              <i class="icon-shopping-cart"></i>
              <span>手作現有商品管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(admin_other_products_path, {rule: /#{admin_other_products_path}.*/}, Admin::Product) do %>
            <%= link_to(admin_other_products_path) do %>
              <i class="icon-shopping-cart"></i>
              <span>其他商品管理</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(nil, {rule: /#{admin_gifts_path}.*/}, Admin::Gift) do %>
            <%= link_to(admin_gifts_path) do %>
              <i class="icon-gift"></i>
              <span>禮品券管理</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource(admin_materials_path, {rule: /#{admin_materials_path}.*/}, Admin::Material) do %>
        <%= link_to(admin_materials_path) do %>
          <i class="icon-picture"></i>
          <span>訂製手工包 - 布料管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource('#', {rule: /#{admin_slides_path}.*/}, Admin::Slide) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:slides) or is_in(:broadcasts) %>" href="#">
          <i class="icon-home"></i>
          <span>首頁管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:slides) or is_in(:broadcasts) %>">
          <%= nav_item_with_resource(admin_slides_path, {rule: /#{admin_slides_path}.*/}, Admin::Slide) do %>
            <%= link_to(admin_slides_path) do %>
              <i class="icon-picture"></i>
              <span>輪播管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(admin_broadcasts_path, {rule: /#{admin_broadcasts_path}.*/}, Admin::Broadcast) do %>
            <%= link_to(admin_broadcasts_path) do %>
              <i class="icon-bullhorn"></i>
              <span>快訊管理</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', nil, Admin::Requirement) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:requirements) or is_in(:requirement_intros) %>" href="#">
          <i class="icon-group"></i>
          <span>人才招募資訊管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:requirements) or is_in(:requirement_intros) %>">
          <%= nav_item_with_resource(nil, {rule: /#{admin_requirement_intros_path}.*/}, Admin::RequirementIntro) do %>
            <%= link_to admin_requirement_intros_path do %>
              <i class="icon-picture"></i>
              <span>人才招募頁面介紹管理</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(nil, {rule: /#{admin_requirements_path}.*/}, Admin::Requirement) do %>
            <%= link_to admin_requirements_path do %>
              <i class="icon-user"></i>
              <span>招募資訊管理</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', nil, Admin::RentInfo) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:rent_infos) or is_in(:rent_intros) or is_in(:rent_info_images) %>" href="#">
          <i class="icon-info"></i>
          <span>場地租借資訊管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:rent_infos) or is_in(:rent_intros) or is_in(:rent_info_images) %>">
          <%= nav_item_with_resource(nil, {rule: /#{admin_rent_infos_path}.*/}, Admin::RentInfo) do %>
            <%= link_to admin_rent_infos_path do %>
              <i class="icon-info"></i>
              <span>場地資訊管理</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(nil, {rule: /#{admin_rent_intros_path}.*/}, Admin::RentIntro) do %>
            <%= link_to admin_rent_intros_path do %>
              <i class="icon-info"></i>
              <span>場地介紹管理(圖片與敘述)</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(nil, {rule: /#{admin_rent_info_images_path}.*/}, Admin::RentInfoImage) do %>
            <%= link_to admin_rent_info_images_path do %>
              <i class="icon-picture"></i>
              <span>場地照片管理(圖片)</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', {rule: /#{admin_contacts_path}.*|#{admin_contact_image_slides_path}.*|#{admin_contact_youtube_slides_path}.*/}, Admin::Contact) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:contacts) or is_in(:contact_image_slides) or is_in(:contact_youtube_slides) %>" href="#">
          <i class="icon-group"></i>
          <span>聯絡我們管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:contacts) or is_in(:contact_image_slides) or is_in(:contact_youtube_slides) %>">
          <%= nav_item_with_resource(nil, {rule: /#{admin_contact_image_slides_path}.*/}, Admin::ContactImageSlide) do  %>
            <%= link_to admin_contact_image_slides_path do %>
              <i class="icon-picture"></i>
              <span>圖片輪播管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /#{admin_contact_youtube_slides_path}.*/}, Admin::ContactYoutubeSlide) do %>
            <%= link_to admin_contact_youtube_slides_path do %>
              <i class="icon-youtube"></i>
              <span>影片管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /#{admin_contacts_path}.*/}, Admin::Contact) do %>
            <%= link_to admin_contacts_path do %>
              <i class="icon-info"></i>
              <span>店家聯絡資訊管理</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource(nil, {rule: /#{admin_articles_path}.*/}, Admin::Article) do %>
        <%= link_to admin_articles_path do %>
          <i class="icon-book"></i>
          <span>文章管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(nil, {rule: /#{admin_travel_information_index_path}.*/}, Admin::TravelInformation) do %>
        <%= link_to admin_travel_information_index_path do %>
          <i class="icon-globe"></i>
          <span>旅遊景點管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_courses_path, {rule: /#{admin_courses_path}.*/}, Admin::Course) do %>
        <%= link_to(admin_courses_path) do %>
          <i class="icon-book"></i>
          <span>開設課程管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_designers_path, {rule: /#{admin_designers_path}.*/}, Admin::Designer) do %>
        <%= link_to(admin_designers_path) do %>
          <i class="icon-user"></i>
          <span>設計師介紹資料管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_remittances_path, {rule: /#{admin_remittances_path}.*/}, Admin::Remittance) do %>
        <%= link_to(admin_remittances_path) do %>
          <i class="icon-credit-card"></i>
          <span>匯款資訊管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_remittances_path, {rule: /#{admin_shipping_fees_path}.*/}, Admin::ShippingFee) do %>
        <%= link_to(admin_shipping_fees_path) do %>
          <i class="icon-globe"></i>
          <span>運費資訊管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_payments_path, {rule: /#{admin_payments_path}(\/\d+)?(?!\/edit)$/}, Admin::Payment) do %>
        <%= link_to(admin_payments_path) do %>
          <i class="icon-credit-card"></i>
          <span>付款記錄</span>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>