<nav id="main-nav">
  <div class="navigation">

    <!-- search form visible on phone -->
    <div class="search">
      <form action="search_results.html" method="get">
        <div class="search-wrapper">
          <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text">
          <button class="btn btn-link icon-search" name="button" type="submit"></button>
        </div>
      </form>
    </div>

    <!-- navigation items -->
    <ul class="nav nav-stacked">
      <!-- single navigation item -->
      <%= nav_item_with_resource(admin_root_path, nil, Admin) do %>
        <%= link_to(admin_root_path) do %>
          <i class="icon-dashboard"></i>
          <span>Dashboard</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_locales_path, {rule: /#{admin_locales_path}.*/}, Locale) do %>
        <%= link_to(admin_locales_path) do %>
          <i class="icon-globe"></i>
          <span>語系管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_privacy_statement_path, {rule: /#{admin_privacy_statement_path}.*/}, Locale) do %>
        <%= link_to(admin_privacy_statement_path) do %>
          <i class="icon-user"></i>
          <span>隱私權政策管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_term_of_service_path, {rule: /#{admin_term_of_service_path}.*/}, Locale) do %>
        <%= link_to(admin_term_of_service_path) do %>
          <i class="icon-user"></i>
          <span>服務條款管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_slide_positions_path, {rule: /#{admin_slide_positions_path}.*/}, SlidePosition) do %>
        <%= link_to(admin_slide_positions_path) do %>
          <i class="icon-anchor"></i>
          <span>輪播文字位置管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource('#', nil, Order) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:orders) || is_in(:order_remittances) %>" href="#">
          <i class="icon-file-text"></i>
          <span>訂單管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:orders) || is_in(:order_remittances) %>">
          <%= nav_item_with_resource(check_admin_order_remittances_path, {rule: /#{admin_order_remittances_path}(\/\d+)?\/check/}, OrderRemittanceReport) do %>
            <%= link_to(check_admin_order_remittances_path) do %>
              <i class="icon-check"></i>
              <span>待確認匯款回報</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(deliver_admin_orders_path, {rule: /#{deliver_admin_orders_path}|#{admin_orders_path}\/\d+\/edit/}, Order) do %>
            <%= link_to(deliver_admin_orders_path) do %>
              <i class="icon-truck"></i>
              <span>訂單出貨情形</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(archive_admin_orders_path, {rule: /#{admin_orders_path}(\/\d+)?\/archive/}, Order) do %>
            <%= link_to (archive_admin_orders_path) do %>
              <i class="icon-ok"></i>
              <span>已封存訂單</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(admin_orders_path, {rule: /#{admin_orders_path}(\/\d+)?(?!\/deliver)$/}, Order) do %>
            <%= link_to(admin_orders_path) do %>
              <i class="icon-flag"></i>
              <span>訂單記錄</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(admin_order_remittances_path, {rule: /#{admin_order_remittances_path}(\/\d+)?(\/edit)?(?!\/check)$/}, OrderRemittanceReport) do %>
            <%= link_to(admin_order_remittances_path) do %>
              <i class="icon-flag"></i>
              <span>所有匯款紀錄</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(canceled_admin_orders_path, {rule: /#{admin_orders_path}(\/\d+)?\/canceled$/}, Order) do %>
            <%= link_to(canceled_admin_orders_path, class: 'text-muted') do %>
              <i class="icon-remove"></i>
              <span>已取消訂單</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', nil, OrderCustomItem) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:order_custom_items) %>" href="#">
          <i class="icon-tasks"></i>
          <span>客製化訂單管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:order_custom_items) %>">
          <%= nav_item_with_resource(check_admin_order_custom_items_path, nil, OrderCustomItem) do %>
            <%= link_to(check_admin_order_custom_items_path) do %>
              <i class="icon-check"></i>
              <span>待確認訂製要求</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(accepted_admin_order_custom_items_path, nil, OrderCustomItem) do %>
            <%= link_to(accepted_admin_order_custom_items_path) do %>
              <i class="icon-ok"></i>
              <span>已接受訂製要求</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(admin_order_custom_items_path, {rule: /#{admin_order_custom_items_path}(\/\d+\/edit)?((?!\/accepted)|(?!\/check))$/}, OrderCustomItem) do %>
            <%= link_to(admin_order_custom_items_path) do %>
              <i class="icon-flag"></i>
              <span>訂製要求記錄</span>
            <% end %>
          <% end %>
          <!--
          <%= nav_item_with_resource(canceled_admin_order_custom_items_path, nil, OrderCustomItem) do %>
            <%= link_to(canceled_admin_order_custom_items_path, class: 'text-muted') do %>
              <i class="icon-remove"></i>
              <span>已取消訂製要求</span>
            <% end %>
          <% end %>
          -->
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', nil, Registration) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:registrations) or is_in(:courses) %>" href="#">
          <i class="icon-check"></i>
          <span>報名管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:registrations) or is_in(:courses) or is_in(:registration_remittances) %>">
          <%= nav_item_with_resource(nil, {rule: /#{admin_registration_remittances_path}(\/\d+)?\/check/}, Registration) do %>
            <%= link_to(check_admin_registration_remittances_path) do %>
              <i class="icon-check"></i>
              <span>待確認報名課程匯款</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /#{admin_courses_path}(\/\d+(\/edit)?)?(?!\/registrations)$/}, Registration) do %>
            <%= link_to(admin_courses_path) do %>
              <i class="icon-book"></i>
              <span>所有課程</span>
              <i class="icon-angle-down angle-down"></i>
            <% end %>
            <ul class="nav" style="display: block;">
              <%= nav_item_with_resource(nil, {rule: /registrations(\/\d+)?(?!\/canceled)$/}, Registration) do %>
                <%= link_to(admin_courses_path) do %>
                  <i class="icon-flag"></i>
                  <span>報名列表</span>
                <% end %>
              <% end %>
            </ul>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /#{admin_registration_remittances_path}(\/\d+)?(\/edit)?(?!\/check)$/}, Registration) do %>
            <%= link_to(admin_registration_remittances_path) do %>
              <i class="icon-flag"></i>
              <span>所有匯款紀錄</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /admin\/registrations(\/\d+)?\/canceled/}, Registration) do %>
            <%= link_to(canceled_admin_registrations_path, class: 'text-muted') do %>
              <i class="icon-remove"></i>
              已取消報名
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', nil, UserGift) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:user_gifts) %>" href="#">
          <i class="icon-gift"></i>
          <span>禮券交易管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:user_gifts) %>">
          <%= nav_item_with_resource(check_admin_user_gifts_path, {rule: /#{admin_user_gifts_path}(\/\d+)?\/check/}, UserGift) do %>
            <%= link_to(check_admin_user_gifts_path) do %>
              <i class="icon-check"></i>
              <span>待確認購買禮券匯款</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /#{admin_user_gifts_path}(\/\d+)?(?!\/check)/}, UserGift) do %>
            <%= link_to(admin_user_gifts_path) do %>
              <i class="icon-flag"></i>
              <span>禮券記錄</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource(admin_products_path, {rule: /(#{admin_products_path}.*)|(#{admin_other_products_path}.*|#{admin_product_types_path}.*)/}, Product) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:products) or is_in(:other_products) or is_in(:gifts) or is_in(:product_types) or is_in(:product_material_types) %>" href="#">
          <i class="icon-shopping-cart"></i>
          <span>商店內商品管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:products) or is_in(:other_products) or is_in(:gifts) or is_in(:product_types) or is_in(:product_types) or is_in(:product_material_types) %>">
          <%= nav_item_with_resource(admin_products_path, {rule: /#{admin_products_path}.*/}, Product) do %>
            <%= link_to(admin_products_path) do %>
              <i class="icon-shopping-cart"></i>
              <span>手作現有商品管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(admin_other_products_path, {rule: /#{admin_other_products_path}.*/}, Product) do %>
            <%= link_to(admin_other_products_path) do %>
              <i class="icon-shopping-cart"></i>
              <span>其他商品管理</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(nil, {rule: /#{admin_gifts_path}.*/}, Gift) do %>
            <%= link_to(admin_gifts_path) do %>
              <i class="icon-gift"></i>
              <span>禮券管理</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(admin_product_types_path, {rule: /#{admin_product_types_path}.*/}, ProductType) do %>
            <%= link_to(admin_product_types_path) do %>
              <i class="icon-anchor"></i>
              <span>其他商品種類管理</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource(nil, {rule: /none/}, Course) do %>
        <%= link_to(admin_courses_path) do %>
          <i class="icon-book"></i>
          <span>課程管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource('#', nil, Material) do %>
        <a class="dropdown-collapse <%= 'in' if (is_in(:materials) or is_in(:material_types) or is_in(:order_information) or is_in(:instructions) or is_in(:past_work_types) or is_in(:past_works) or is_in(:past_work_translates)) %>" href="#">
          <i class="icon-heart-empty"></i>
          <span>訂製手作包管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:materials) or is_in(:material_types) or is_in(:order_information) or is_in(:instructions) or is_in(:past_work_types) or is_in(:past_works) or is_in(:past_work_translates) %>">
          <%= nav_item_with_resource(admin_past_work_types_path, {rule: /admin\/(#{:past_work_types}|#{:past_works}|#{:past_work_translates}).*/}, Admin) do %>
            <%= link_to(admin_past_work_types_path) do %>
              <i class="icon-tag"></i>
              <span>過去作品管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(admin_material_types_path, {rule: /^#{admin_material_types_path}.*/}, Material) do %>
            <%= link_to(admin_material_types_path) do %>
              <i class="icon-tag"></i>
              <span>布料管理</span>
            <% end %>
          <% end %>
          <% Locale.all.each do |locale| %>
            <%= nav_item_with_resource(nil, {rule: /#{admin_locale_order_information_index_path(locale)}.*/}, OrderInformation) do %>
              <%= link_to(admin_locale_order_information_index_path(locale)) do %>
                <i class="icon-info"></i>
                <span>訂購須知管理 (<%= locale.name %>)</span>
              <% end %>
            <% end %>
          <% end %>
          <% Locale.all.each do |locale| %>
            <%= nav_item_with_resource(nil, {rule: /#{admin_locale_instructions_path(locale)}.*/}, Instruction) do %>
              <%= link_to(admin_locale_instructions_path(locale)) do %>
                <i class="icon-info-sign"></i>
                <span>訂購說明管理 (<%= locale.name %>)</span>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', {rule: /#{admin_articles_path}.*|#{admin_article_types_path}.*/}, Article) do %>
      <a class="dropdown-collapse <%= 'in' if is_in(:articles) or is_in(:article_types) %>" href="#">
        <i class="icon-globe"></i>
        <span>文章相關管理</span>
        <i class="icon-angle-down"></i>
      </a>
      <ul class="nav <%= 'in' if is_in(:articles) or is_in(:article_types) %>">
        <%= nav_item_with_resource(nil, {rule: /#{admin_articles_path}.*/}, Article) do %>
          <%= link_to admin_articles_path do %>
            <i class="icon-book"></i>
            <span>文章管理</span>
          <% end %>
        <% end %>

        <%= nav_item_with_resource(nil, {rule: /#{admin_article_types_path}.*/}, ArticleType) do %>
          <%= link_to(admin_article_types_path) do %>
            <i class="icon-anchor"></i>
            <span>文章種類管理</span>
          <% end %>
        <% end %>
      </ul>
    <% end %>

      <%= nav_item_with_resource('#', {rule: /#{admin_travel_information_index_path}.*|#{admin_areas_path}.*/}, TravelInformation) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:areas) or is_in(:travel_information) %>" href="#">
          <i class="icon-globe"></i>
          <span>旅遊景點管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:areas) or is_in(:travel_information) %>">
          <%= nav_item_with_resource(nil, {rule: /#{admin_travel_information_index_path}.*/}, TravelInformation) do %>
            <%= link_to admin_travel_information_index_path do %>
              <i class="icon-globe"></i>
              <span>旅遊景點文章管理</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(nil, {rule: /#{admin_areas_path}.*/}, Area) do %>
            <%= link_to(admin_areas_path) do %>
              <i class="icon-anchor"></i>
              <span>旅遊景點地區管理</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource(nil, {rule: /#{admin_board_index_path}.*/}, Message) do %>
        <%= link_to(admin_board_index_path) do %>
          <i class="icon-comments-alt"></i>
          <span>訪客留言訊息管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(nil, {rule: /#{admin_messages_path}.*|#{admin_users_path}\/\d+\/messages.*/}, Message) do %>
        <%= link_to(admin_messages_path) do %>
          <i class="icon-comment-alt"></i>
          <span>客戶留言訊息管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(nil, {rule: /#{admin_users_path}(\/\d+)?(?!\/messages)$/}, Admin) do %>
        <%= link_to(admin_users_path) do %>
          <i class="icon-user"></i>
          <span>用戶管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource('#', {rule: /#{admin_slides_path}.*|#{admin_broadcasts_path}.*|#{admin_tops_path}.*/}, Slide) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:slides) or is_in(:broadcasts) or is_in(:tops) %>" href="#">
          <i class="icon-home"></i>
          <span>首頁管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:slides) or is_in(:broadcasts) or is_in(:tops) %>">
          <%= nav_item_with_resource(admin_slides_path, {rule: /#{admin_slides_path}.*/}, Slide) do %>
            <%= link_to(admin_slides_path) do %>
              <i class="icon-picture"></i>
              <span>輪播管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(admin_broadcasts_path, {rule: /#{admin_broadcasts_path}.*/}, Broadcast) do %>
            <%= link_to(admin_broadcasts_path) do %>
              <i class="icon-bullhorn"></i>
              <span>快訊管理</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(admin_tops_path, {rule: /#{admin_tops_path}.*/}, Top) do %>
            <%= link_to(admin_tops_path) do %>
              <i class="icon-picture"></i>
              <span>焦點管理</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', nil, Requirement) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:requirements) or is_in(:requirement_intros) %>" href="#">
          <i class="icon-group"></i>
          <span>人才招募資訊管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:requirements) or is_in(:requirement_intros) %>">
          <%= nav_item_with_resource(nil, {rule: /#{admin_requirement_intros_path}.*/}, RequirementIntro) do %>
            <%= link_to admin_requirement_intros_path do %>
              <i class="icon-picture"></i>
              <span>人才招募頁面介紹管理</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(nil, {rule: /#{admin_requirements_path}.*/}, Requirement) do %>
            <%= link_to admin_requirements_path do %>
              <i class="icon-user"></i>
              <span>招募資訊管理</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', nil, RentInfo) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:rent_infos) or is_in(:rent_intros) or is_in(:rent_info_images) %>" href="#">
          <i class="icon-info"></i>
          <span>場地租借資訊管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:rent_infos) or is_in(:rent_intros) or is_in(:rent_info_images) %>">
          <%= nav_item_with_resource(nil, {rule: /#{admin_rent_infos_path}.*/}, RentInfo) do %>
            <%= link_to admin_rent_infos_path do %>
              <i class="icon-info"></i>
              <span>場地資訊管理</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(nil, {rule: /#{admin_rent_intros_path}.*/}, RentIntro) do %>
            <%= link_to admin_rent_intros_path do %>
              <i class="icon-info"></i>
              <span>場地介紹管理(圖片與敘述)</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(nil, {rule: /#{admin_rent_info_images_path}.*/}, RentInfoImage) do %>
            <%= link_to admin_rent_info_images_path do %>
              <i class="icon-picture"></i>
              <span>場地照片管理(圖片)</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource('#', {rule: /#{admin_introduce_image_slides_path}.*|#{admin_introduce_youtubes_path}.*|#{admin_questions_path}.*|#{admin_about_us_path}.*/}, IntroduceImageSlide) do %>
        <a class="dropdown-collapse <%= 'in' if is_in(:introduce_image_slides) or is_in(:introduce_youtubes) or is_in(:questions) or is_in(:about_us) %>" href="#">
          <i class="icon-group"></i>
          <span>關於我們管理</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="nav <%= 'in' if is_in(:introduce_image_slides) or is_in(:introduce_youtubes) or is_in(:questions) or is_in(:about_us) %>">
          <%= nav_item_with_resource(nil, {rule: /#{admin_introduce_image_slides_path}.*/}, IntroduceImageSlide) do  %>
            <%= link_to admin_introduce_image_slides_path do %>
              <i class="icon-picture"></i>
              <span>圖片輪播管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /#{admin_introduce_youtubes_path}.*/}, IntroduceYoutube) do %>
            <%= link_to admin_introduce_youtubes_path do %>
              <i class="icon-youtube"></i>
              <span>影片管理</span>
            <% end %>
          <% end %>
          <%= nav_item_with_resource(nil, {rule: /#{admin_questions_path}.*/}, Faq) do %>
            <%= link_to admin_questions_path do %>
              <i class="icon-question"></i>
              <span>FAQ管理</span>
            <% end %>
          <% end %>

          <%= nav_item_with_resource(nil, {rule: /#{admin_about_us_path}.*/}, Admin) do %>
            <%= link_to admin_about_us_path do %>
              <i class="icon-info"></i>
              <span>店家介紹&聯絡資訊管理</span>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= nav_item_with_resource(admin_designers_path, {rule: /#{admin_designers_path}.*/}, Designer) do %>
        <%= link_to(admin_designers_path) do %>
          <i class="icon-user"></i>
          <span>設計師介紹資料管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_remittances_path, {rule: /#{admin_remittances_path}.*/}, Remittance) do %>
        <%= link_to(admin_remittances_path) do %>
          <i class="icon-credit-card"></i>
          <span>匯款資訊管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_remittances_path, {rule: /#{admin_shipping_fees_path}.*/}, ShippingFee) do %>
        <%= link_to(admin_shipping_fees_path) do %>
          <i class="icon-globe"></i>
          <span>運費資訊管理</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_system_path, {rule: /#{admin_system_path}.*/}, Admin) do %>
        <%= link_to(admin_system_path) do %>
          <i class="icon-gear"></i>
          <span>系統設定</span>
        <% end %>
      <% end %>

      <%= nav_item_with_resource(admin_payments_path, {rule: /#{admin_payments_path}(\/\d+)?(?!\/edit)$/}, Payment) do %>
        <%= link_to(admin_payments_path) do %>
          <i class="icon-credit-card"></i>
          <span>付款記錄</span>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>