<%= form_for @new_message, url: admin_messages_path, html: {class: 'form validate-form'} do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <div class="box-header">
          <div class="title">
            攥寫新訊息
          </div>
          <div class="actions">
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content">
          <div class="form-group">
            <%= f.label :user_id, '會員' %>
            <%= f.select :user_id, User.all.reject{|user| user.name == 'guest'}.collect{|user| ["編號: #{user.id} - Email: #{user.email}", user.id]}, {selected: params[:user_id]}, {class: 'form-control select2'} %>
          </div>
          <div class="form-group">
            <%= f.label :content, '訊息內容' %>
            <div class="controls">
              <%= f.text_area :content, class: 'form-control', rows: 6, placeholder: '請填入給客戶的訊息內容' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-actions">
    <div class="col-sm-12">
      <div class="pull-right">
        <%= f.hidden_field :user_id %>
        <% if @new_message.user_id.blank? %>
          <%= link_to '取消', admin_messages_path, class: 'btn btn-lg' %>
        <% else %>
          <%= link_to '取消', admin_user_messages_path(@new_message.user_id), class: 'btn btn-lg' %>
        <% end %>
        <%= f.button(class: 'btn btn-primary btn-lg') do %>
          <i class="glyphicon-send glyphicon"></i>
          送出
        <% end %>
      </div>
    </div>
  </div>
<% end %>