<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-comment-alt"></i>
      <span>訊息管理&nbsp;<small><%= link_to "用戶: #{@message.user.id}. #{@message.user.email}", admin_user_path(@message.user), target: '_blank', style: 'color: #eee' %></small></span>
    </h1>
    <div class="pull-right">
      <ul class="breadcrumb">
        <%= render_breadcrumbs tag: 'li', separator: ' <li class="separator"><i class="icon-angle-right"></i></li> ' %>
        <li style="margin-left: 20px;">
          <%= link_to '新增訊息', new_admin_user_message_path(@message.user), class: 'btn btn-info' %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= render 'content' %>
    </div>
    <div class="col-xs-6">
      <%= render 'form' %>
    </div>
  </div>
</div>