<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        Email <%=  %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= registration.email %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        <%= t('name') %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= registration.name %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        <%= t('phone_number') %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= registration.phone %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
    <span class="text-muted">
      <%= t('registration.attendance') %>
    </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= registration.attendance %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        <%= t('registration.option') %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <% if registration.registration_options.size > 0 %>
        <%= registration.registration_options.map{|option| option.course_option.content}.join(', ') %>
      <% else %>
        沒有任何項目
      <% end %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
    <span class="text-muted">
      <%= t('amount') %>
    </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <% amount = ((registration.registration_payment.nil?)? registration.tuition : registration.registration_payment.amount) - discount %>
      <%= number_to_currency(amount > 0 ? amount : 0) %>
    </strong>
  </div>
  <% if discount > 0 %>
      <div class="col-xs-12 text-muted">
        <%= t('gift_quota') %>: <%= number_to_currency(discount, locale: registration.locale.lang) %>
      </div>
  <% end %>
</div>