<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        Email <%=  %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= registration.email %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        <%= t('name') %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= registration.name %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        <%= t('phone_number') %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= registration.phone %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
    <span class="text-muted">
      <%= t('registration.attendance') %>
    </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= registration.attendance %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        <%= t('registration.option') %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= registration.registration_options.map{|option| option.course_option.content}.join(', ') %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
    <span class="text-muted">
      <%= t('amount') %>
    </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= number_to_currency(((registration.registration_payment.nil?)? registration.tuition : registration.registration_payment.amount)) %>
    </strong>
  </div>
</div>