<div class="row">
  <div class="col-md-7 col-sm-9 col-xs-9">
    <div class="status status-<%= remittance_report.status %>">
      <div class="row">
        <div class="col-xs-12 text-muted">
          <%= t('remitted_amount') %>
        </div>
        <div class="col-xs-12">
          <%= number_to_currency(remittance_report.amount) %>
        </div>

        <div class="col-xs-12 text-muted">
          <%= t('your_account') %>
        </div>
        <div class="col-xs-12">
          <%= remittance_report.account %>
        </div>

        <div class="col-xs-12 text-muted">
          <%= t('remitted_date') %>
        </div>
        <div class="col-xs-12">
          <%= remittance_report.date.strftime('%Y/%m/%d') %>
        </div>
      </div>
    </div>
  </div>
</div>