<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'user/side_navigation' %>
    <div class="col-sm-9 col-xs-12">
      <div class="row">
        <%= render 'layouts/nav_item' %>
      </div>
      <div class="box">
        <div class="box-content">
          <% if @registrations.size > 0 %>
            <div class="col-sm-12 hidden-xs text-muted margin-bottom-5">
              <div class="row">
                <div class="col-sm-2">
                  <%= t('registration.no_s') %>
                </div>
                <div class="col-sm-3">
                  <%= t('registration.item') %>
                </div>
                <div class="col-sm-2">
                  <%= t('total_amount') %>
                </div>
                <div class="col-sm-5">
                  <%= t('status') %>
                </div>
              </div>
            </div>

            <div class="items">
              <% @registrations.each do |registration| %>
                <div class="row item">
                  <div class="col-xs-12 visible-xs text-muted">
                    <%= t('registration.no_s') %>
                  </div>
                  <div class="col-sm-2 col-xs-12 margin-bottom-xs-5">
                    <%= "R#{registration.id}" %>
                  </div>

                  <div class="col-xs-12 visible-xs tex-muted">
                    <%= t('registration.item') %>
                  </div>
                  <div class="col-sm-3 col-xs-12 margin-bottom-xs-5">
                    <%= "#{registration.course.course_translates.find_by_locale_id(registration.locale_id).name} - #{registration.attendance}人" rescue '課程已刪除' %>
                  </div>

                  <div class="col-xs-12 visible-xs text-muted">
                    <%= t('total_amount') %>
                  </div>
                  <div class="col-sm-2 col-xs-12 margin-bottom-xs-5">
                    <%= number_to_currency(registration.registration_payment.amount) %>
                  </div>

                  <div class="col-xs-12 visible-xs text-muted">
                    <%= t('status') %>
                  </div>
                  <div class="col-sm-4 col-xs-9 margin-bottom-xs-5">
                    <% unless registration.course.nil? %>
                      <% if registration.course.canceled? %>
                        <span class="text-muted">
                          <%= t('course.canceled') %>
                        </span>
                      <% elsif registration.registration_payment.cancel? %>
                        <span class="text-muted">
                          <%= t('registration.canceled') %>&nbsp;(<%= registration.registration_payment.cancel_time.strftime('%Y/%m/%d %H:%I:%S') %>)
                        </span>
                      <% elsif registration.registration_payment.completed? %>
                        <%= "#{t('completed_payment')}" %>
                        <div>
                          <small>
                            <%= "#{t('payment_method')}: #{t(registration.payment_method)}" %>
                          </small>
                        </div>
                        <div>
                          <small>
                            <%= "#{t('payment_completed_time')}: #{registration.registration_payment.completed_time.strftime('%Y/%m/%d %H:%I:%S')}" %>
                          </small>
                        </div>
                      <% else %>
                        <label>
                          <%= t('registration.wait_paying') %>
                        </label>
                        <div>
                          <small>
                            <%= "#{t('payment_method')}: #{t(registration.payment_method)}" %>
                          </small>
                        </div>
                        <% if registration.has_expire_time? %>
                          <div class="text-muted">
                            <small>
                              <%= "#{registration.registration_payment.expire_time.strftime('%Y/%m/%d %H:%I:%S')} #{t('expired')}" %>
                            </small>
                          </div>
                        <% end %>
                        <div>
                          <small>
                            <%= "#{t('checkout_time')}: #{registration.checkout_time.strftime('%Y/%m/%d %H:%I:%S')}" %>
                          </small>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-sm-1 col-xs-3">
                    <%= link_to t('detail'), registration_path(registration), class: 'btn btn-default pull-right' %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <h4 class="text-center">
              <i class="fa fa-wd fa-exclamation"></i>&nbsp;<%= t('no_data') %>
            </h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>