<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'user/side_navigation' %>
    <div class="col-sm-9 col-xs-12">
      <div class="row">
        <%= render 'layouts/nav_item' %>
        <div class="col-xs-12">
          <% if @registrations.length > 0 %>
            <% @registrations.each do |registration| %>
              <% locale = Locale.where(id: registration.locale_id).first.lang %>
              <% translate = registration.course.course_translates.where(locale_id: registration.locale_id).first %>
              <div class="box">
                <div class="box-header box-header-small grey-background">
                  <h4>
                    <%= t('no_s') %>&nbsp;<strong class="text-muted">C<%= registration.id %></strong>
                    <small class="order-time"><%= t('course_time') %> <strong><%= "#{registration.course.time.strftime('%Y/%m/%d %H:%M')} - #{(registration.course.time + registration.course.length.hours).strftime('%H:%M')}" %></strong></small>
                  </h4>
                </div>
                <div class="box-content box-no-padding" style="border:0;">
                  <div class="responsive-table">
                    <div class="scrollable-area">
                      <table class="table table-bordered text-center table-padding-10" style="margin-bottom:0;">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                          <td class="text-left col-md-6">
                            <%= image_tag registration.course.image.url(:thumb) %>
                          </td>
                          <td>
                            <% if registration.closed? %>
                              <%= t('course.over') %>
                            <% elsif registration.canceled? %>
                              <%= t('course.canceled') %>
                            <% elsif registration.paid? %>
                              <% if registration.payment.completed? %>
                                <%= t('registration.received') %>
                              <% elsif registration.payment.amount != 0 && registration.payment.pay_time %>
                                <%= t('order.wait_confirm') %>
                              <% elsif registration.payment.wait? %>
                                <%= t('order.wait_remittance') %>
                              <% else %>
                                <%= t('order.wait_paying') %>
                              <% end %>
                            <% else %>
                              <%= t('order.wait_paying') %>
                            <% end %>
                          </td>
                          <td>
                            <ul class="list-unstyled">
                              <li><%= number_to_currency(registration.subtotal, locale: locale) %></li>
                              <li><span class="text-muted"><%= "#{number_to_currency(translate.price, locale: locale)} * #{registration.attendance}" %></span></li>
                            </ul>
                          </td>
                          <td>
                            <ul class="list-unstyled">
                              <% if registration.closed? %>
                                <li>
                                  <%= link_to t('registration.detail'), course_path(registration.course.time.strftime('%m').to_i) %>
                                </li>
                              <% elsif registration.course.time >= Time.now + 5.hours && !registration.canceled? %>
                                <% if registration.paid? && !registration.payment.completed? %>
                                  <% if registration.payment.wait? && (registration.payment.amount == 0 || !registration.payment.pay_time) %>
                                    <li>
                                      <%= link_to t('order.advice'), edit_payment_path(registration.payment), class: 'btn btn-u btn-orange hover-effect' %>
                                    </li>
                                  <% elsif !registration.payment.wait? %>
                                    <li>
                                      <%= link_to t('pay'), pay_registration_path(registration), class: 'btn btn-u btn-orange hover-effect' %>
                                    </li>
                                    <li>
                                      <%= link_to t('cancel'), registration_path(registration), method: :delete %>
                                     </li>
                                  <% end %>
                                <% elsif !registration.paid? %>
                                  <li>
                                    <%= link_to t('pay'), pay_registration_path(registration), class: 'btn btn-u btn-orange hover-effect' %>
                                  </li>
                                  <li>
                                    <%= link_to t('cancel'), registration_path(registration), method: :delete %>
                                  </li>
                                <% end %>
                              <% end %>
                              <li>
                                <%= link_to t('detail'), course_path(registration.course, month: registration.course.time.strftime('%m').to_i), class: 'btn btn-u btn-default' %>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <h4 class="text-center">
              <i class="fa fa-wd fa-exclamation"></i>&nbsp;<%= t('no_data') %>
            </h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>