<%= render 'layouts/breadcrumbs', title: t('check_out') %>
<div class="container main-container">
  <div class="row">
    <div class="col-md-12 reg-page">
      <div class="item">
        <%= form_for @registration, html: {class: 'form-horizontal validate-form'} do |f| %>
          <% translate = @registration.course.course_translates.where(locale_id: session[:locale_id]).first %>
          <% if flash[:message] %>
            <div class="alert alert-warning text-center">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
              <%= flash[:message] %>
            </div>
          <% end %>
          <h4><%= t('registration.information') %> <small class="text-muted"><%= t('registration.hint') %></small></h4>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="box">
                    <div class="box-content">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <%= f.label :popular do %>
                            <%= t('registration.attendance') %>
                            <span class="color-red">*</span>
                          <% end %>
                        </div>
                        <div class="controls col-md-3">
                          <%= f.select :attendance, options_for_select(1..@registration.course.popular{|index| [index, index]}), {}, {class: 'selectpicker refresh-price-source form-control', data: {width: '100%'}} %>
                        </div>
                      </div>
                      <% unless current_user %>
                        <div class="form-group row">
                          <div class="col-md-12">
                            <%= f.label :email do %>
                              Email
                              <span class="color-red">*</span>
                            <% end %>
                          </div>
                          <div class="controls col-md-4">
                            <%= f.text_field :email, class: 'form-control', data: {'rule-required' => true, 'rule-email' => true} %>
                          </div>
                        </div>
                      <% end %>
                      <div class="form-group row">
                        <div class="col-md-12">
                          <%= f.label :name do %>
                            <%= t('name') %>
                            <span class="color-red">*</span>
                          <% end %>
                        </div>
                        <div class="controls col-md-3">
                          <%= f.text_field :name, value: current_user ? current_user.name : f.object.name, class: 'form-control', data: {'rule-required' => true} %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-12">
                          <%= f.label :phone do %>
                            <%= t('phone_number') %>
                          <% end %>
                        </div>
                        <div class="controls col-md-3">
                          <%= f.text_field :phone, value: current_user ? current_user.phone : f.object.phone, class: 'form-control' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h4><%= t('registration.to') %></h4>
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-content">
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <td></td>
                          <td><%= t('call_name') %></td>
                          <td><%= t('tuition') %></td>
                        </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="col-xs-3">
                              <%= image_tag @registration.course.image.url(:thumb) %>
                            </td>
                            <td class="col-xs-2">
                              <h5>
                                <%= translate.name %>
                              </h5>
                            </td>
                            <td class="col-xs-2">
                              <%= number_to_currency(translate.price) %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <% options = CourseOption.where(course_id: @registration.course_id, locale_id: session[:locale_id]).order(:id).collect{|option| [option.content, option.id, data: {subtext: number_to_currency(option.price), price: option.price + translate.price}]} %>
                      <% if options.length > 0 %>
                        <div class="row">
                          <div class="col-md-3 col-sm-5 col-xs-12">
                            <%= f.select :course_option_id, options, {}, {class: 'selectpicker form-control course-option-price', data: {'show-subtext' => true}} %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4 class="text-right color-orange">
                    <%= t('total_amount') %>:
                    <strong class="text-muted refresh-price-target" data-price="<%= translate.price + @registration.course_option.price %>">
                      <%= number_to_currency(translate.price + @registration.course_option.price) %>
                    </strong>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <%= f.hidden_field :course_id %>
              <%= f.button t('register'), class: 'btn btn-lg btn-orange btn-block hover-effect' %>
              <%= link_to courses_path do %>
                <i class="fa fa-angle-left"></i>
                <%= t('registration.keep') %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>