<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <%= render 'layouts/flash_message' %>
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="box collapse-in-mobile">
        <h4 class="box-collapse">
          <a class="pull-right">
            <i class="fa fa-angle-down fa-lg hidden-lg hidden-md hidden-sm"></i>
          </a>
          報名的課程資訊
        </h4>
        <div class="box-content">
          <%= render 'course_information', registration: @registration %>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= form_for(@registration, url: payment_registrations_path, html: {class: 'validate-form'}) do |f| %>
        <div class="box">
          <h4>
            <%= t('registration.information') %> <small class="text-muted"><%= t('registration.hint') %></small>
          </h4>
          <div class="box-content">
            <div class="form-group">
              <label>
                Email
              </label>
              <div class="controls">
                <%= f.text_field(:email, value: ((current_user.nil?)? '' : current_user.email),
                                 class: 'form-control',
                                 data: {'rule-required' => true, 'rule-email' => true},
                                 disabled: !current_user.nil?
                    ) %>
              </div>
            </div>

            <div class="form-group">
              <label>
                <%= t('name') %>
              </label>
              <div class="controls">
                <%= f.text_field(:name, value: current_user ? current_user.name : f.object.name, class: 'form-control',
                                 data: {'rule-required' => true}) %>
              </div>
            </div>
            <div class="form-group">
              <label>
                <%= t('phone_number') %>
              </label>
              <div class="controls">
                <%= f.text_field :phone, value: current_user ? current_user.phone : f.object.phone, class: 'form-control',
                                 data: {'rule-required' => true} %>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <h4><%= t('course.options') %></h4>
          <div class="box-content">
            <div class="form-group">
              <label>
                <%= t('registration.attendance') %>&nbsp;<span class="color-red">*</span>
              </label>
              <div class="controls">
                <%= f.select :attendance,
                             1..@registration.course.popular,
                             {
                                 selected: @registration.attendance
                             },
                             {
                                 class: 'selectpicker attendance form-control',
                                 data: {
                                     width: '100%',
                                     price: @registration.course.course_translates.find_by_locale_id(@registration.locale_id).price
                                 }
                             } %>
              </div>
            </div>

            <!-- Course's options -->
            <%= f.fields_for :registration_options, @registration.registration_options do |option_field| %>
              <div class="form-group">
                <label><%= option_field.object.course_option.course_option_group.name %></label>
                <%= option_field.select :course_option_id,
                                        option_field.object.course_option.course_option_group.course_options.collect{|option|
                                          [option.content, option.id, {
                                                             data: {
                                                                 subtext: number_to_currency(option.price),
                                                                 price: option.price
                                                             }
                                                         }]
                                        },
                                        {
                                            selected: option_field.object.course_option_id
                                        },
                                        class: 'selectpicker form-control option-price',
                                        data: {
                                            width: '100%', 'show-subtext' => true,
                                        } %>
              </div>
            <% end %>
            <!-- Course's options -->

            <h4 class="color-orange text-right">
              <%= t('tuition') %>
              <strong class="tuition text-muted"
                      data-raw="<%= @registration.course.course_translates.find_by_locale_id(@registration.locale_id).price %>"
                      data-subtotal="<%= @registration.subtotal %>">
                <%= number_to_currency(@registration.tuition) %>
              </strong>
            </h4>

            <div class="row">
              <div class="col-xs-12">
                <hr/>
              </div>

              <div class="col-xs-12">

                <%= f.hidden_field :course_id %>

                <button type="submit" class="btn btn-lg btn-orange btn-block hover-effecr">
                  <%= t('register') %>
                </button>
                <%= link_to courses_path do %>
                  <i class="fa fa-angle-left"></i>
                  <%= t('registration.keep') %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>