<%= render 'layouts/breadcrumbs' %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 reg-page">
        <div class="item">
          <h4>選擇付款方式</h4>
          <div class="box">
            <div class="box-header box-header-small grey-background">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-2 col-xs-3 text-right">
                      課程名稱:
                    </div>
                    <div class="col-md-10 col-xs-9">
                      <strong><%= @registration.course.course_translates.where(locale_id: session[:locale_id]).first.name %></strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 col-xs-3 text-right">
                      金額:
                    </div>
                    <div class="col-md-10 col-xs-9">
                      <strong><%= number_to_currency(@registration.subtotal) %></strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 col-xs-3 text-right">
                      報名資訊:
                    </div>
                    <div class="col-md-10 col-xs-9">
                      <strong>
                        <%= "#{@registration.name} / #{@registration.phone} / #{@registration.attendance}人" %>
                      </strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%= render 'payments/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>