<div class="col-xs-12">
  <div class="page-header">
    <h1 class="pull-left">
      <i class="icon-info"></i>
      訂製詳細 <span class="text-muted">訂製編號: <%= @custom_order.id %></span>
    </h1>
    <div class="pull-right">
      <ul class="breadcrumb">
        <%= render_breadcrumbs tag: 'li', separator: ' <li class="separator"><i class="icon-angle-right"></i></li> ' %>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-6 col-xs-12">
  <%= render 'info', custom_order: @custom_order %>
  <%= render 'detail', custom_order: @custom_order %>

  <% if !@custom_order.cancel? && @custom_order.approve.nil? %>
    <div class="pull-right">
      <button class="btn btn-danger" data-toggle="modal" data-target="#dismiss-form">
        <i class="icon-remove"></i>
        取消訂製(不接受)
      </button>
      <button class="btn btn-default" data-toggle="modal" data-target="#approve-modal">
        <i class="icon-ok"></i>
        接受訂製
      </button>
      <%= link_to_unless(@custom_order.approve.nil?,
                         content_tag(:i, '永久刪除', class: 'icon-trash'),
                         admin_custom_order_path(@custom_order, from_cancel: request.path.include?('/canceled')),
                         class: "btn btn-danger #{'disabled' unless @custom_order.cancel?}",
                         data: {confirm: '永久刪除無法回復動作，確定要繼續嗎？'}, method: :delete) {} %>
    </div>
  <% end %>
</div>
<div class="col-sm-6 col-xs-12">
  <div class="box">
    <div class="box-header box-header-small">
      <div class="title">
        留言
      </div>
    </div>
    <div class="box-content box-no-padding">
      <ul class="list-unstyled comments list-hover list-striped">
        <% @custom_order.messages.order(:created_at).each do |message| %>
          <li style="padding: 10px;">
            <div class="body">
              <% if message.admin? %>
                <div class="name text-danger">
                  管理者
                  <small class="pull-right text-muted">
                    <%= '已讀' if message.read? %>
                  </small>
                </div>
              <% else %>
                <div class="name text-muted">
                  <i class="icon-user icon-fixed-width"></i><%= @custom_order.user.name %>
                  <small class="pull-right text-success">
                    <%== '<i class="icon-ok"></i>' if message.read? %>
                  </small>
                </div>
              <% end %>
              <div class="text <%= 'text-muted' if message.admin? %>" style="margin: 10px 0;"><%= message.content %></div>
            </div>
            <div class="text-right">
              <small class="date text-muted">
                <span class="timeago fade has-tooltip in" data-placement="top"><%= message.created_at.strftime('%Y/%m/%d %H:%I:%S') %></span>
                <i class="icon-comment-alt"></i>
              </small>
            </div>
          </li>
        <% end %>
      </ul>
      <%= form_for([:admin, Message.new(custom_order_id: @custom_order.id)], html: {class: 'form valid-form', style: 'padding: 0 10px;'}) do |f| %>
        <%= f.text_area :content, class: 'form-control margin-bottom-10', placeholder: (@custom_order.messages.size <= 0)? '留一些訊息給用戶' : '' %>
        <%= f.hidden_field :custom_order_id %>
        <%= f.hidden_field :admin, value: true %>
        <div class="text-right" style="margin-bottom: 10px;">
          <button type="submit" class="btn btn-default">留言</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="dismiss-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag admin_custom_order_path(@custom_order.id), class: 'form validate-form', method: :put do %>
        <div class="modal-header">
          取消訂製
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="message">請簡單說明給客戶為什麼不接受訂製</label>
            <div class="controls">
              <%= text_field_tag :dismiss_message, '', class: 'form-control', rows: 4, data: {'rule-required' => true} %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= hidden_field_tag :from_discussing, request.path.include?('/discussing') %>
          <%= hidden_field_tag :approve, false %>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('close') %></button>
          <button type="submit" class="btn btn-primary"><%= t('submit') %></button>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="approve-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag admin_custom_order_path(@custom_order.id), class: 'form validate-form', method: :put do %>
        <div class="modal-header">
          接受訂製
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="message">請設定價格</label>
            <div class="controls">
              <%= text_field_tag :price, '', class: 'form-control', data: {'rule-required' => true} %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= hidden_field_tag :from_discussing, request.path.include?('/discussing') %>
          <%= hidden_field_tag :approve, true %>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('close') %></button>
          <button type="submit" class="btn btn-primary"><%= t('submit') %></button>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->