<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row">
    <div class="col-md-6">
      <div class="row servive-block">
        <%= render 'rent_infos' %>

        <div class="col-sm-12 margin-bottom-40">
          <%= render 'about/infos' %>
        </div>
        <div class="col-sm-10">
          <%= render 'contacts/form' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <!--Magazine Slider-->
          <%= render 'carousel' %>
          <!--End Magazine Slider-->
        </div>

        <%= render 'rent_info_images' %>
      </div>
    </div>
  </div>
</div>