<%= render 'layouts/breadcrumbs', title: t('header.navigation.requirement') %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row servive-block">
        <%= render 'rent_infos' %>

        <div class="col-md-12 margin-bottom-40">
          <%= render 'contacts/infos' %>
        </div>
        <div class="col-md-12">
          <%= render 'contacts/form' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <!--Magazine Slider-->
          <%= render 'carousel' %>
          <!--End Magazine Slider-->
        </div>

        <%= render 'rent_info_images' %>
      </div>
    </div>
  </div>
</div>