
<div class="fullwidthbanner-container">
  <div class="fullwidthbanner">
    <ul>
      <% @slides.each do |slide| %>
      <li class="carousel-link" data-target="<%= slide.link %>" data-transition="papercut" data-slotamount="1" data-masterspeed="300" data-thumb="<%= asset_path slide.image.url(:thumb) %>">
        <!-- THE MAIN IMAGE IN THE FOURTH SLIDE -->
        <%= image_tag slide.image.url(:large) %>

        <% slide.slide_translates.where(locale_id: session[:locale_id]).each do |translate| %>
          <% descriptions = translate.description.split(/\n/) %>
          <% descriptions.each_with_index do |description, index| %>
            <div class="caption large_text sft hidden-xs"
                 data-x="<%= slide.slide_position.position if slide.slide_position %>"
                 data-y="<%= (190 + 40 * index) %>"
                 data-speed="300"
                 data-start="<%= (800 + 300 * index) %>"
                 data-easing="easeOutExpo">
              <%= description.gsub(/{/, '<span style="color:#E67E22">').gsub(/}/, '</span>').html_safe %>
            </div>
          <% end %>
          <% unless slide.link.blank? %>
            <div class="caption large_text sfr hidden-xs"
                 data-x="<%= slide.slide_position.position %>"
                 data-y="<%= 200 + 40 * descriptions.length %>"
                 data-speed="300"
                 data-start="<%= (800 + 300 * (descriptions.length - 1)) %>"
                 data-easing="easeOutExpo">
              <%= link_to '來瞧瞧', '#', class: 'btn btn-glassy btn-default btn-lg' %>
            </div>
          <% end %>
        <% end %>
      </li>
      <% end %>
    </ul>

    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>