<div class="carousel carousel-fade slide" id="home-carousel">
  <ol class="carousel-indicators">
    <% @slides.each_with_index do |slide, index| %>
      <li data-target="#home-carousel" data-slide-to="index" class="<%= 'active' if index == 0 %>"></li>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <% @slides.each_with_index do |slide, index| %>
      <% translate = slide.slide_translates.where(locale_id: session[:locale_id]).first %>
      <div class="item <%= 'active' if index == 0 %>">
        <% if translate.link %>
          <%= link_to translate.lin do %>
            <%= image_tag slide.image.url(:large), class: 'img-responsive', style: 'width:100%;' %>
          <% end %>
        <% else %>
          <%= image_tag slide.image.url(:large), class: 'img-responsive', style: 'width:100%;' %>
        <% end %>
        <h4 style="display:none;">
          <p><%= translate.description %></p>
        </h4>
      </div>
    <% end %>
  </div>

  <div class="carousel-arrow">
    <a data-slide="prev" href="#home-carousel" class="left carousel-control">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a data-slide="next" href="#home-carousel" class="right carousel-control">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>