<div class="container" style="margin-top: 10px;">
  <div class="row" style="margin-bottom: 5px;">
    <div class="col-md-12">
      <%= render 'slider' %>
    </div>
  </div>
  <!--=== End Slider ===-->

  <!--<div class="row">-->
  <!--<div class="col-md-8 col-md-offset-2">-->
  <!--<span style="text-align:center">布知道工作室精緻手工包</span>-->
  <!--</div>-->
  <!--</div>-->
  <div class="row">
    <!--<div class="col-md-3 md-margin-bottom-20">-->
    <!--<%= link_to(orders_path, class: 'btn btn-block hover-effect order-button') do %>-->
      <!--<i class="icon-ok"></i>-->
      <!--<span>訂製手工包</span>-->
      <!--<% end %>-->
    <!--</div>-->
    <div class="col-md-12 hidden-xs">
      <div class="marquee" id="marquee">
        <ul class="list-unstyled text-center">
          <% @broadcasts.each do |broadcast| %>
            <% translate = broadcast.broadcast_translates.where(locale_id: session[:locale_id]).first %>
            <li>
              <%= link_to translate.link do %>
                <h4 class="hover-effect">
                  <i class="fa fa-bullhorn fa-fw"></i>
                  <%= translate.notification %>
                </h4>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 hidden-xs hidden-sm">
      <!-- Recent Works -->
      <div class="margin-bottom-20 recommend">
        <ul class="bxslider1">
          <% @tops.each do |top| %>
            <li>
              <%= link_to top[:link] do %>
                <%= image_tag top[:image], class: 'img-responsive' %>
              <% end %>
            </li>
          <% end %>
          <li>
            <div>
              <!-- Background image for expand item -->
              <img src="https://placeholdit.imgix.net/~text?w=500&h=375" />
              <div class="bxslider1-check-more-container">
                <%= link_to products_path, class: 'bxslider1-check-more-button',  style: "background-image: url(#{@latest_product.image.url(:medium)});" do %>
                    <div class="mask"></div>
                    <span>更多商品</span>
                <% end %>
                <%= link_to courses_path, class: 'bxslider1-check-more-button', style: "background-image: url(#{@latest_course.image.url(:medium)});" do %>
                    <div class="mask"></div>
                    <span>更多課程</span>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      </div><!--/row-->
      <!-- End Recent Works -->
    </div>
    <% @tops.each do |top| %>
      <div class="col-sm-6 col-xs-12 hidden-md hidden-lg">
        <div class="well-sm">
          <%= link_to top[:link] do %>
            <%= image_tag top[:image], class: 'img-responsive' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="col-sm-6 col-xs-12 hidden-md hidden-lg">
      <div class="well-sm">
        <!-- Background image for expand item -->
        <img src="https://placeholdit.imgix.net/~text?w=500&h=375" class="img-responsive" />
        <div class="bxslider1-check-more-container">
          <%= link_to products_path, class: 'bxslider1-check-more-button',  style: "background-image: url(#{@latest_product.image.url(:medium)});" do %>
              <div class="mask"></div>
              <span>更多商品</span>
          <% end %>
          <%= link_to courses_path, class: 'bxslider1-check-more-button', style: "background-image: url(#{@latest_course.image.url(:medium)});" do %>
              <div class="mask"></div>
              <span>更多課程</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>