<div class="one-page">
  <div class="one-page-inner">
    <div class="container">
      <!--=== Slider ===-->
      <%= render 'slider' %>
      <!--=== End Slider ===-->

      <!--<div class="row">-->
      <!--<div class="col-md-8 col-md-offset-2">-->
      <!--<span style="text-align:center">布知道工作室精緻手工包</span>-->
      <!--</div>-->
      <!--</div>-->
      <div class="row">
        <!--<div class="col-md-3 md-margin-bottom-20">-->
          <!--<%= link_to(orders_path, class: 'btn btn-block hover-effect order-button') do %>-->
            <!--<i class="icon-ok"></i>-->
            <!--<span>訂製手工包</span>-->
          <!--<% end %>-->
        <!--</div>-->
        <div class="col-md-12">
          <div class="flexHome">
            <div id="flexHome">
              <ul class="slides">
                <% @broadcasts.each do |broadcast| %>
                  <li>
                    <%= link_to broadcast.link do %>
                      <h4 class="hover-effect">
                        <i class="icon-bullhorn"></i>
                        <%= broadcast.broadcast_translates.where(locale_id: session[:locale_id]).first.notification %>
                      </h4>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Recent Works -->
      <div class="margin-bottom-20 recommend">
        <h4>
          <i class="icon-thumbs-up">
            推薦給您
          </i>
        </h4>
        <ul id="list" class="bxslider1 recent-work">
          <% @products.each do |product| %>
            <li>
              <div class="view view-tenth">
                <%= image_tag product.image.url(:medium), class: 'img-responsive' %>
                <div class="mask">
                  <% product.product_translates.where(locale_id: session[:locale_id]).each do |translate| %>
                    <h2><%= translate.name %></h2>
                    <%= simple_format(truncate(translate.description, length: 30)) %>
                  <% end %>
                  <%= link_to_with_product_type product do %>
                    <span class="info">
                      <%= t('view_detail') %>
                    </span>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div><!--/row-->
      <!-- End Recent Works -->
    </div>
  </div>
</div>