<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-ok"></i>
      <span>訂製要求記錄</span>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
        <div class="box-header">
          <div class="title">訂製要求清單</div>
          <div class="actions">
            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th>訂製要求編號</th>
                  <th>用戶id&nbsp;<label class="label label-success">點擊查看</label></th>
                  <th>聯絡人</th>
                  <th></th>
                  <th>狀態</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @order_custom_items.each do |order_custom_item| %>
                  <tr>
                    <td>
                      <%= order_custom_item.id %>
                    </td>
                    <td>
                      <%= link_to order_custom_item.user_id, admin_user_path(order_custom_item.user_id), target: '_blank' %>
                    </td>
                    <td>
                      <%= order_custom_item.name %>
                    </td>
                    <td>
                      <% if order_custom_item.product %>
                        現貨客製化修改
                      <% else %>
                        完全客製化
                      <% end %>
                    </td>
                    <td>
                      <%= render 'status', order_custom_item: order_custom_item %>
                    </td>
                    <td>
                      <div class='text-right'>
                        <%= link_to(edit_admin_order_custom_item_path(order_custom_item), class: 'btn btn-md') do %>
                          <i class='icon-pencil'></i>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>