<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'products/side_navigation' %>
    <div class="col-sm-9 col-xs-12">
      <div class="row margin-bottom-40">
        <div class="col-md-6">
          <div class="row">
            <%= render 'layouts/nav_item' %>
            <div class="col-sm-12 col-xs-12">
              <%= image_tag @user_gift.gift.image.url(:medium), class: 'img-responsive' %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <%= form_for @user_gift do |f| %>
            <%= f.hidden_field :gift_id %>
            <% translate = @user_gift.gift.gift_translates.select([:quota, :name, :description]).where(locale_id: session[:locale_id]).first %>
            <div class="row">
              <div class="col-md-12 margin-bottom-50">
                <h3 style="color:#666;">
                  <strong>
                    <%= translate.name %>
                  </strong>
                </h3>
                <%= simple_format(translate.description) %>
              </div>
              <div class="col-md-12 margin-bottom-10">
                <div class="header">
                  <span class="color-green"><%= t('price') %></span>
                </div>
              </div>
              <div class="col-md-12 margin-bottom-10">
                <h4 class="margin-bottom-20">
                  <strong style="color:#666;" id="product-price" data-price="<%= translate.quota %>"><%= number_to_currency(translate.quota) %></strong>
                </h4>
                <%= f.button class: 'btn btn-lg btn-default btn-block hover-effect one-page-btn', type: 'submit' do %>
                  <i class="fa fa-gift"></i>
                  <span><%= t('check_out') %></span>
                <% end %>
              </div>
              <div class="col-md-12">
                <%= render 'layouts/social_share', image: "#{request.protocol}#{request.host_with_port}#{@user_gift.gift.image.url(:large)}", text: "#{t('share_text')}#{translate.name}" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="headline">
            <h2><%= t('other_gift_cards') %></h2>
          </div>
          <div class="margin-bottom-40">
            <ul id="list" class="bxslider">
              <% @gifts.each do |gift| %>
                <% translate = gift.gift_translates.where(locale_id: session[:locale_id]).first %>
                <li>
                  <%= link_to gift_path(gift) do %>
                    <em class="overflow-hidden">
                      <%= image_tag gift.image.url(:small), style: 'width: 100%;' %>
                    </em>
                    <span>
                      <strong><%= translate.name %></strong>
                      <i><%= number_to_currency(translate.quota) %></i>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div><!--/row-->
        </div>
      </div>
    </div>
  </div>
</div>