<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-user"></i>
      <span>修改服務條款</span>
    </h1>
    <div class="pull-right">
      <div class="btn-group">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <div class="box-header">
          <div class="title">
            <i class="icon-info"></i>
            服務條款
          </div>
          <div class="actions">
            <a href="#" class="btn box-collapse btn-xs btn-link"><i></i></a>
          </div>
        </div>
        <div class="box-content box-padding">
          <%= form_tag admin_term_of_service_path, method: :put do %>
            <div class="row">
              <% Locale.all.order(id: :desc).each_with_index do |locale, index| %>
                <div class="col-sm-12">
                  <div class="box">
                    <div class="box-header">
                      <div class="title">
                        <%= locale.name %>
                      </div>
                      <div class="actions">
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
                      </div>
                    </div>
                    <div class="box-content">
                      <div class="form-group">
                        <%= hidden_field_tag "term_of_service[#{index}][locale_id]", locale.id %>
                        <%= text_area_tag "term_of_service[#{index}][content]", $redis.get("terms_of_service:locale:#{locale.id}"), rows: 10, class: 'autosize form-control' %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-actions">
                  <div class="pull-right">
                    <%= link_to '取消', admin_term_of_service_path, class: 'btn btn-lg' %>
                    <button type="submit" class="btn btn-primary btn-lg">
                      <i class="icon-save"></i>
                      儲存
                    </button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>