<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        <%= t('recipient_name') %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= order.name %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        <%= t('address') %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= "#{order.shipping_fee.area} / #{order.zip_code} / #{order.address}" %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        <%= t('phone_number') %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= order.phone ||= '-' %>
    </strong>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-xs-12">
      <span class="text-muted">
        <%= t('amount_payable') %>
      </span>
  </div>
  <div class="col-xs-12">
    <strong>
      <%= number_to_currency(order.get_subtotal, locale: order.locale.lang) %>
    </strong>
    <%= "(#{t('shipping_fee')}: #{number_to_currency(order.shipping_fee!, locale: order.locale.lang)})" %>
  </div>
</div>