<%= render 'layouts/breadcrumbs', title: t('check_out') %>
<div class="container main-container">
  <div class="row">
    <div class="col-sm-12 reg-page">
      <div class="item">
        <%= form_for @order, html: {class: 'form-horizontal validate-form'} do |f| %>
          <h4><%= t('shipping_information') %> <small class="text-muted"><%= t('shipping_information_hint') %></small></h4>
          <div class="row">
            <div class="col-sm-12">
              <div class="box">
                <div class="box-content">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <%= f.label :name do %>
                        <%= t('recipient_name') %>
                        <span class="color-red">*</span>
                      <% end %>
                    </div>
                    <div class="controls col-sm-3">
                      <%= f.text_field :name, value: current_user.name, class: 'form-control', data: {'rule-required' => true} %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <%= f.label :zip_code do %>
                        <%= t('zip_code') %>
                        <span class="color-red">*</span>
                      <% end %>
                    </div>
                    <div class="controls col-sm-2">
                      <%= f.text_field :zip_code, value: current_user.zip_code, class: 'form-control', data: {'rule-required' => true, 'rule-number' => 'true', 'rule-minlength' => '3', 'rule-maxlength' => '5'} %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <%= f.label :area do %>
                        <%= t('area') %>
                        <span class="color-red">*</span>
                      <% end %>
                    </div>
                    <div class="controls col-sm-12">
                      <div class="row">
                        <div class="col-sm-3">
                          <%= f.select :shipping_fee_id, options_for_select(ShippingFee.all.order(:id).collect{|fee|
                            translate = ShippingFeeTranslate.where(shipping_fee_id: fee.id, locale_id: session[:locale_id]).first
                            [fee.area, fee.id, {data: {fee: translate.fee, 'free-condition' => translate.free_condition}}]
                          }), {}, {class: 'form-control shipping-fee selectpicker'} %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <small class="text-muted"><%= t('free_shipping_fee', free_condition: number_to_currency(ShippingFeeTranslate.where(locale_id: session[:locale_id]).first.free_condition)) %></small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <%= f.label :address do %>
                        <%= t('address') %>
                        <span class="color-red">*</span>
                      <% end %>
                    </div>
                    <div class="controls col-sm-6">
                      <%= f.text_field :address, value: current_user.address, class: 'form-control', data: {'rule-required' => true} %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <%= f.label :phone do %>
                        <%= t('phone_number') %>
                      <% end %>
                    </div>
                    <div class="controls col-sm-3">
                      <%= f.text_field :phone, value: current_user.phone, class: 'form-control' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h4><%= t('products_in_cart') %></h4>
          <div class="row">
            <div class="col-sm-12">
              <div class="box">
                <div class="box-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <td></td>
                          <td><%= t('call_name') %></td>
                          <td><%= t('price') %></td>
                          <td><%= t('quantity') %></td>
                        </tr>
                        </thead>
                        <tbody>
                        <% @order.order_products.each_with_index do |order_product, index| %>
                          <% translate = order_product.product.product_translates.where(locale_id: session[:locale_id]).first %>
                          <% @subtotal += order_product.price * order_product.quantity %>
                          <tr>
                            <td>
                              <%= image_tag order_product.product.image.url(:thumb) %>
                            </td>
                            <td>
                              <h5>
                                <%= translate.name %><br/>
                                <small><%= order_product.product_option.content if order_product.product_option %></small>
                              </h5>
                            </td>
                            <td>
                              <% if order_product.product_option %>
                                <h5>
                                  <%= number_to_currency(translate.price) %><br/>
                                  <small><%= number_to_currency(order_product.product_option.price) %></small>
                                </h5>
                              <% end %>
                              <%= number_to_currency(order_product.price) %>
                            </td>
                            <td>
                              <%= order_product.quantity %>
                            </td>
                          </tr>
                        <% end %>
                        <% @order.order_custom_items.each_with_index do |order_custom_item, index| %>
                          <% translate = order_custom_item.order_custom_item_translates.where(locale_id: session[:locale_id]).first %>
                          <% @subtotal += translate.price %>
                          <tr>
                            <td>
                              <%= custom_item_image_helper(order_custom_item) %>
                            </td>
                            <td>
                              <h5>
                                <%= custom_item_name_helper(order_custom_item) %>
                              </h5>
                            </td>
                            <td>
                              <%= number_to_currency(translate.price) %>
                            </td>
                            <td>
                              1
                            </td>
                          </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <% shipping_fee = ShippingFeeTranslate.where(shipping_fee_id: ShippingFee.first.id, locale_id: session[:locale_id]).first %>
                  <h4 class="text-right color-orange">
                    <%= t('total_amount') %>
                    <strong class="text-muted subtotal" data-price="<%= @subtotal %>">
                      <%= (@subtotal >= shipping_fee.free_condition)? number_to_currency(@subtotal) : number_to_currency(@subtotal + shipping_fee.fee) %>
                    </strong>
                  </h4>
                  <span class="text-muted pull-right">(<%= t('shipping_fee') %>: <span class="shipping-fee-subtotal"><%= (@subtotal >= shipping_fee.free_condition)? number_to_currency(0) : number_to_currency(shipping_fee.fee) %></span>)</span>
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <%= f.button t('submit_order'), class: 'btn btn-lg btn-orange btn-block hover-effect one-page-btn' %>
              <%= link_to products_path do %>
                <i class="fa fa-angle-left"></i>
                <%= t('keep_shopping') %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>