<%= render 'layouts/breadcrumbs', title: t('check_out') %>
<div class="container">
  <div class="row">
    <div class="col-md-12 reg-page">
      <div class="item">
        <%= form_for @order, html: {class: 'form-horizontal validate-form'} do |f| %>
          <h4>配送資訊 <small class="text-muted">請填寫正確的配送資訊，訂單送出後即不可更動</small></h4>
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-content">
                  <div class="form-group row">
                    <div class="col-md-12">
                      <%= f.label :area do %>
                        區域
                        <span class="color-red">*</span>
                      <% end %>
                    </div>
                    <div class="controls col-md-3">
                      <%= f.select :shipping_fee_id, options_for_select(ShippingFee.all.order(:id).collect{|fee|
                        [fee.area, fee.id, {data: {fee: fee.fee, 'free-condition' => fee.free_condition}}]
                      }), {}, {class: 'form-control shipping-fee'} %>
                      <small class="text-muted"><%= t('free_shipping_fee') %></small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <%= f.label :name do %>
                        收件者姓名
                        <span class="color-red">*</span>
                      <% end %>
                    </div>
                    <div class="controls col-md-3">
                      <%= f.text_field :name, value: current_user.name, class: 'form-control', data: {'rule-required' => true} %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <%= f.label :zip_code do %>
                        郵遞區號
                        <span class="color-red">*</span>
                      <% end %>
                    </div>
                    <div class="controls col-md-2">
                      <%= f.text_field :zip_code, value: current_user.zip_code, class: 'form-control', data: {'rule-required' => true, 'rule-number' => 'true', 'rule-minlength' => '3', 'rule-maxlength' => '5'} %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <%= f.label :address do %>
                        收件地址
                        <span class="color-red">*</span>
                      <% end %>
                    </div>
                    <div class="controls col-md-6">
                      <%= f.text_field :address, value: current_user.address, class: 'form-control', data: {'rule-required' => true} %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <%= f.label :phone do %>
                        聯絡電話
                        <span class="color-red">*</span>
                      <% end %>
                    </div>
                    <div class="controls col-md-3">
                      <%= f.text_field :phone, value: current_user.phone, class: 'form-control', data: {'rule-required' => true, 'rule-phoneNL' => true} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h4>購物車清單</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-content">
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <td></td>
                          <td>名稱</td>
                          <td>價格</td>
                        </tr>
                        </thead>
                        <tbody>
                        <% @order.order_products.each_with_index do |order_product, index| %>
                          <% @subtotal += order_product.product.price %>
                          <tr>
                            <td>
                              <%= image_tag order_product.product.image.url(:thumb), class: 'img-responsive' %>
                            </td>
                            <td>
                              <h5>
                                <%= order_product.product.product_translates.where(locale_id: session[:locale_id]).first.name %>
                              </h5>
                            </td>
                            <td>
                              <%= number_to_currency(order_product.product.price) %>
                            </td>
                          </tr>
                        <% end %>
                        <% @order.order_custom_items.each_with_index do |order_custom_item, index| %>
                          <% @subtotal += order_custom_item.price %>
                          <tr>
                            <td>
                              <%= image_tag order_custom_item.image.url(:thumb), class: 'img-responsive' %>
                            </td>
                            <td>
                              <h5>
                                <%= t('original_bag') %>
                              </h5>
                            </td>
                            <td>
                              <%= number_to_currency(order_custom_item.price) %>
                            </td>
                          </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4 class="text-right color-orange">
                    總金額:
                    <strong class="text-muted subtotal" data-price="<%= @subtotal %>">
                      <%= number_to_currency(@subtotal) %>
                    </strong>
                  </h4>
                  <span class="text-muted pull-right">(運費: <span class="shipping-fee-subtotal">$0.00</span>)</span>
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <%= f.button '提交訂單', class: 'btn btn-u btn-u-lg btn-u-orange btn-block hover-effect' %>
              <%= link_to products_path do %>
                <i class="icon-angle-left"></i>
                繼續逛逛
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>