<%= render 'layouts/breadcrumbs' %>
<div class="container">
  <div class="row">
    <%= render 'user/side_navigation' %>
    <div class="col-md-9">
      <div class="row margin-bottom-40">
        <div class="col-md-12">
          <h4 class="margin-bottom-30">
            訂單編號:
            <strong class="text-muted"><%= @order.id %></strong>
          </h4>
        </div>
        <div class="col-md-12 text-center text-muted">
          <ul class="list-unstyled step">
            <li class="col-xs-3 step-active">
              <span>
                <i class="icon-shopping-cart icon-round"></i>
              </span>
              <h4>下單</h4>
              <p><%= @order.checkout_time.strftime('%Y/%m/%d %H:%M') %></p>
            </li>
            <li class="col-xs-3 <%= 'step-active' if @order.paid? %>">
              <span>
                <i class="icon-credit-card icon-round"></i>
              </span>
              <h4>付款</h4>
              <p><%= @order.payment.pay_time.strftime('%Y/%m/%d %H:%M') if @order.paid? && @order.payment.completed? %></p>
              <span class="label label-success"><%= (@order.payment.amount == 0 || @order.payment.identifier.blank?)? '等待匯款' : '等待確認' if @order.paid? && !@order.payment.completed? %></span>
            </li>
            <li class="col-xs-3 <%= 'step-active' if @order.paid? && @order.payment.completed? %>">
              <span>
                <i class="icon-truck icon-round"></i>
              </span>
              <h4>配送</h4>
              <p><%= @order.delivered_time.strftime('%Y/%m/%d %H:%M') if @order.delivered? %></p>
            </li>
            <li class="col-xs-3 <%= 'step-active' if @order.closed? %>">
              <span>
                <i class="icon-ok icon-round"></i>
              </span>
              <h4>交易完成</h4>
              <p><%= @order.closed_time.strftime('%Y/%m/%d %H:%M') if @order.closed? %></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row margin-bottom-40">
        <% if @order.paid? && !@order.payment.identifier.blank? && !@order.payment.completed? %>
          <div class="col-md-12">
            <h5>待確認匯款資訊</h5>
          </div>
          <div class="col-md-12 margin-bottom-40">
            <div class="row">
              <div class="col-md-2 col-xs-3 text-right">
                匯款金額
              </div>
              <div class="col-md-10 col-xs-9">
                <%= number_to_currency(@order.payment.amount) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-xs-3 text-right">
                帳號末五碼
              </div>
              <div class="col-md-10 col-xs-9">
                <%= @order.payment.identifier %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-xs-3 text-right">
                匯款時間
              </div>
              <div class="col-md-10 col-xs-9">
                <%= @order.payment.pay_time.strftime('%Y/%m/%d') %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-md-12">
          <h5>配送資訊</h5>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2 col-xs-3 text-right">
              姓名
            </div>
            <div class="col-md-10 col-xs-9">
              <%= @order.name %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-xs-3 text-right">
              聯絡電話
            </div>
            <div class="col-md-10 col-xs-9">
              <%= @order.phone.gsub(/\d{4}$/, '****') %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-xs-3 text-right">
              地址
            </div>
            <div class="col-md-10 col-xs-9">
              <%= @order.address %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header box-header-small grey-background">
              <span class="text-muted">訂單編號: <%= @order.id %></span>
            </div>
            <div class="box-content box-no-padding" style="border:0;">
              <div class="responsive-table">
                <div class="scrollable-area">
                  <table class="table table-bordered text-center table-padding-20" style="margin-bottom:0;">
                    <thead>

                    </thead>
                    <tbody>
                    <% @order.order_products.each do |order_product| %>
                      <tr>
                        <td class="text-left col-xs-6">
                          <div class="row">
                            <div class="col-xs-2">
                              <%= image_tag order_product.product.image.url(:thumb), class: 'img-responsive' %>
                            </div>
                            <div class="col-xs-10">
                              <%= order_product.product.product_translates.where(locale_id: session[:locale_id]).first.name %>
                            </div>
                          </div>
                        </td>
                        <td class="col-xs-1">
                          <%= number_to_currency(order_product.product.price) %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-right color-orange">
            總金額 :
            <strong class="text-muted">
              <%= number_to_currency(@order.subtotal) %>
            </strong>
          </h4>
        </div>
        <% if @order.paid? && (@order.payment.amount == 0 || @order.payment.identifier.blank?) %>
          <hr/>
          <div class="col-sm-4 col-sm-offset-4">
            <%= link_to '回報', edit_payment_path(@order.payment), class: 'btn btn-u btn-u-lg btn-u-orange btn-block hover-effect' %>
            <%= link_to '取消訂單', cancel_order_path(@order), method: :put %>
          </div>
        <% elsif @order.delivered? && !@order.closed? %>
          <hr/>
          <div class="col-sm-4 col-sm-offset-4">
            <%= link_to '收貨', close_order_path(@order), method: :put, class: 'btn btn-u btn-u-lg btn-u-orange btn-block hover-effect' %>
          </div>
        <% elsif !@order.paid? %>
          <hr/>
          <div class="col-sm-4 col-sm-offset-4">
            <%= link_to t('payment'), pay_order_path(@order), class: 'btn btn-u btn-u-lg btn-u-orange btn-block hover-effect' %>
            <%= link_to '取消訂單', cancel_order_path(@order), method: :put %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>