<%= render 'layouts/breadcrumbs' %>

<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'user/side_navigation' %>
    <div class="col-sm-9 col-xs-12">

      <%= render 'layouts/flash_message' %>

      <div class="row margin-bottom-40">
        <%= render 'layouts/nav_item' %>

        <%= render 'delivery_message' if @order.delivered? && !@order.delivery_report? %>

        <div class="col-xs-12">
          <h5><%= t('order.detail') %></h5>
        </div>

        <div class="col-sm-7 col-xs-12">

          <div class="box">
            <div class="box-content">
              <div class="row margin-bottom-10">
                <div class="col-xs-12">
                  <span class="text-muted">
                    <%= t('order.no_s') %>
                  </span>
                </div>
                <div class="col-xs-12">
                  <%= "O#{@order.id}" %>
                </div>
              </div>

              <%= render 'customer_information', order: @order %>
              <%= render 'transaction_information', order_payment: @order.order_payment if @order.order_payment %>
            </div>
          </div>

        </div>

        <div class="col-sm-5 col-xs-12">
          <%= render 'order_items', order: @order %>
        </div>
      </div>
    </div>
  </div>
</div>