<div class="headline"><h4><%= t('contact_hint') %></h4></div>
<%= form_for @contact_us, url: contacts_path, html: {class: 'form validate-form'} do |f| %>
  <%= render 'layouts/flash_message' %>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :name do %>
          <%= t('your_name') %>&nbsp;<span class="text-danger">*</span>
        <% end %>
        <div class="controls">
          <%= f.text_field :name, value: flash[:name], class: 'form-control', data: {'rule-required' => true} %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="form-group">
        <%= f.label :email do %>
          Email&nbsp;<span class="text-danger">*</span>
        <% end %>
        <div class="controls">
          <%= f.text_field :email, value: flash[:email], class: 'form-control', data: {'rule-required' => true, 'rule-email' => true} %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="form-group">
        <%= f.label :content do %>
          <%= t('message_no_sign_in') %>&nbsp;<span class="text-danger">*</span>
        <% end %>
        <div class="controls">
          <%= f.text_area :content, value: flash[:content], class: 'form-control', data: {'rule-required' => true}, rows: 8 %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <label>
        <span class="text-danger">*</span>
        <%= t('captcha_hint') %>
      </label>
      <div class="form-group">
        <%= f.button type: 'submit', class: 'btn btn-lg btn-default btn-block hover-effect', data: {'rule-required' => true} do %>
          <i class="fa fa-edit fa-fw"></i>
          <%= t('submit_message') %>
        <% end %>
      </div>
      <%= recaptcha_tags ajax: true %>
    </div>
  </div>
<% end %>