<% if @contact %>
  <ul class="list-unstyled who">
    <li>
      <a href="#">
        <i class="icon-home"></i>
        <span><%= @contact.address %></span>
      </a>
    </li>
    <li>
      <%= mail_to @contact.email do %>
        <i class="icon-envelope-alt"></i>
        <span><%= @contact.email %></span>
      <% end %>
    </li>
    <li>
      <a href="#">
        <i class="icon-mobile-phone" style="padding:0 3px;"></i>
        <span><%= @contact.mobile %></span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-phone"></i>
        <span><%= @contact.phone %></span>
      </a>
    </li>
  </ul>
<% end %>