<%= render 'layouts/breadcrumbs', title: t('header.navigation.contact') %>
<!-- Google Map -->
<div id="map" class="map margin-bottom-40" style="margin-top:-40px;"></div>
<!---/map-->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render 'contacts/form' %>
    </div>
    <div class="col-md-6">
      <div class="row margin-bottom-20">
        <div class="carousel slide testimonials testimonials-v1" id="testimonials-1">
          <div class="carousel-inner">
            <% @designers.each_with_index do |designer, index| %>
              <div class="item <%= 'active' if index == 0 %>">
                <% designer.designer_translates.where(locale_id: session[:locale_id]).each do |translate| %>
                  <%= simple_format(translate.introduction) %>
                  <div class="testimonial-info">
                    <%= image_tag designer.photo.url(:medium) %>
                    <span class="testimonial-author">
                    <%= translate.name %>
                    <em><%= t('position_designer') %></em>
                  </span>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="carousel-arrow">
            <a data-slide="prev" href="#testimonials-1" class="left carousel-control">
              <i class="icon-angle-left"></i>
            </a>
            <a data-slide="next" href="#testimonials-1" class="right carousel-control">
              <i class="icon-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- Contacts -->
          <div class="headline">
            <h2><%= t('header.navigation.contact') %></h2>
          </div>
          <ul class="list-unstyled who">
            <li>
              <a href="#">
                <i class="icon-home"></i>
                <span><%= @contact.address %></span>
              </a>
            </li>
            <li>
              <%= mail_to @contact.email do %>
                <i class="icon-envelope-alt"></i>
                <span><%= @contact.email %></span>
              <% end %>
            </li>
            <li>
              <a href="#">
                <i class="icon-mobile-phone" style="padding:0 3px;"></i>
                <span><%= @contact.mobile %></span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-phone"></i>
                <span><%= @contact.phone %></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <!-- Business Hours -->
          <div class="headline">
            <h2><%= t('business_hours') %></h2>
          </div>
          <%= simple_format(@contact.business_hour) %>
        </div>
      </div>
    </div>
  </div>
</div>