<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-info"></i>
      <span>店家聯絡資訊管理</span>
    </h1>
    <div class="pull-right">
      <div class="btn-group">
        <% if @contact %>
          <%= link_to '修改店家聯絡資訊', edit_admin_contacts_path, class: 'btn btn-primary' %>
        <% else %>
          <%= link_to '新增店家聯絡資訊', new_admin_contacts_path, class: 'btn btn-info' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <div class="box-header">
          <div class="title">
            <i class="icon-info"></i>
            聯絡資訊
          </div>
          <div class="actions">
            <a href="#" class="btn box-collapse btn-xs btn-link"><i></i></a>
          </div>
        </div>
        <div class="box-content box-padding">
          <% if @contact %>
            <div class="row">
              <% @contact.contact_translates.each do |translate| %>
                <div class="col-sm-6">
                  <div class="box">
                    <div class="box-header">
                      <div class="title">
                        <%= translate.locale.name %>
                      </div>
                      <div class="actions">
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
                      </div>
                    </div>
                    <div class="box-content">
                      <div class="form-group">
                        <label>Email</label>
                        <div class="controls">
                          <%= text_field_tag :email, translate.email, class: 'form-control', disabled: 'disabled' %>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>手機</label>
                        <div class="controls">
                          <%= text_field_tag :mobile, translate.mobile, class: 'form-control', disabled: 'disabled' %>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>電話</label>
                        <div class="controls">
                          <%= text_field_tag :phone, translate.phone, class: 'form-control', disabled: 'disabled' %>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>店鋪位置</label>
                        <div class="controls">
                          <%= text_area_tag :address, translate.address, class: 'form-control autosize', disabled: 'disabled' %>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>營業時間</label>
                        <div class="controls">
                          <%= text_area_tag :business_hour, translate.business_hour, class: 'form-control autosize', disabled: 'disabled' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="alert alert-info alert-dismissable">
              <a class="close" data-dismiss="alert" href="#">×</a>
              目前沒有設定聯絡資訊，請按下 <%= link_to '新增', new_admin_contacts_path %> 設定聯絡資訊
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>