<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <%= render 'product_info' %>
    </h1>
    <div class="pull-right">
      <div class="btn-toolbar">
        <%= link_to admin_products_path, class: 'btn btn-default' do %>
          <i class="icon-chevron-left"></i>
          回到現貨列表
        <% end %>
        <%= link_to '新增布料類別', new_admin_product_product_material_type_path(@product), class: 'btn btn-info' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info alert-dismissable">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4><i class="icon-exclamation icon-fixed-width"></i>想要訂製手作包的訪客在進入選擇布料時</h4>
        <p>
          「預設展開」的布料類別將會展開所有類別下布料顯示，「顯示於完全客製訂做」的布料類別將在完全客製化的頁面顯示<br/>
        </p>
      </div>
      <p class="text-right">
        <a class="btn btn-success"><i class="icon-folder-open"></i></a> - 設為「預設展開」
        <a class="btn btn-warning"><i class="icon-unlock"></i></a> - 設為「顯示於完全客製訂做」
      </p>
    </div>
    <div class="col-sm-12">
      <div class="box bordered-box" style="margin-bottom:0;">
        <div class="box-header">
          <div class="title">
            布料類別名稱列表
          </div>
          <div class="actions">
            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content">
          <table class="table table-striped data-table">
            <thead>
            <tr>
              <th>編號</th>
              <th>
                布料類別編號
              </th>
              <th>
                名稱
              </th>
              <th>

              </th>
            </tr>
            </thead>
            <tbody>
            <% @product.product_material_types.each do |product_material_type| %>
            <% material_type = product_material_type.material_type %>
              <tr>
                <td>
                  <%= product_material_type.id %>
                </td>
                <td>
                  <%= material_type.id %>
                </td>
                <td>
                  <% material_type.material_type_translates.order(:locale_id).reject{|translate| translate.name.blank?}.each_with_index do |translate, index| %>
                    <span class="label label-default"><%= translate.locale.name %></span>
                    <%= translate.name %>
                    <%= '<br/>'.html_safe if index != material_type.material_type_translates.length - 1 %>
                  <% end %>
                </td>
                <td class="text-right">

                  <%= link_to '查看此類別下的布料', admin_material_type_materials_path(material_type), class: 'btn btn-default' %>
                  <%= link_to edit_admin_product_material_type_path(product_material_type), class: 'btn btn-default' do %>
                    <i class="icon-pencil"></i>
                  <% end %>

                  <% if product_material_type.visible? %>
                    <%= link_to(visible_admin_product_material_type_path(product_material_type, visible: false), class: 'btn btn-info btn-md', method: :put) do %>
                      <i class="icon-level-down"></i>
                    <% end %>
                  <% else %>
                    <%= link_to(visible_admin_product_material_type_path(product_material_type, visible: true), class: 'btn btn-primary btn-md', method: :put) do %>
                      <i class="icon-level-up"></i>
                    <% end %>
                  <% end %>

                  <%= link_to admin_product_material_type_path(product_material_type), class: 'btn btn-danger', data: {confirm: '確定要刪除這個類別嗎?'}, method: :delete do %>
                    <i class="icon-remove"></i>
                  <% end %>

                  <% if material_type.all? %>
                    <%= link_to all_admin_material_type_path(material_type, all: false), class: 'btn btn-warning btn-transparent', method: :put do %>
                      <i class="icon-lock"></i>
                    <% end %>
                  <% else %>
                    <%= link_to all_admin_material_type_path(material_type, all: true), class: 'btn btn-warning', method: :put do %>
                      <i class="icon-unlock"></i>
                    <% end %>
                  <% end %>

                  <% if product_material_type.collapsed? %>
                    <%= link_to collapsed_admin_product_material_type_path(product_material_type, collapsed: false), class: 'btn btn-success', method: :put do %>
                      <i class="icon-folder-open icon-fixed-width"></i>
                    <% end %>
                  <% else %>
                    <%= link_to collapsed_admin_product_material_type_path(product_material_type, collapsed: true), class: 'btn btn-success btn-transparent', method: :put do %>
                      <i class="icon-folder-close icon-fixed-width"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>