<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <%= render 'product_info' %>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="box bordered-box" style="margin-bottom:0;">
        <div class="box-header">
          <div class="title"><i class="icon-tag"></i>&nbsp;管理布料類別</div>
          <div class="actions">
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content">
          <%= form_for @product_material_type, url: admin_product_product_material_types_path(@product_material_type.product), html: {class: 'form validated-form'} do |form| %>
            <%= form.fields_for :material_type do |nested_form| %>
              <div class="form-group">
                <label>是否顯示於完全客製化訂做畫面</label>
                <div class="controls">
                  <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
                    <%= nested_form.check_box :all %>
                  </div>
                </div>
              </div>
              <%= nested_form.fields_for :material_type_translates do |translate_form| %>
                <div class="form-group">
                  <label>類別名稱(<%= translate_form.object.locale.name %>)</label>
                  <div class="controls">
                    <%= translate_form.text_field :name, class: 'form-control' %>
                    <%= translate_form.hidden_field :locale_id %>
                  </div>
                </div>
              <% end %>
            <% end %>

            <%= form.hidden_field :product_id %>
            <%= form.hidden_field :material_type_id %>

            <div class="form-actions form-actions-padding text-right">
              <% if current_page?(new_admin_product_product_material_type_path(@product_material_type.product)) %>
                <%= link_to new_admin_product_product_material_type_path, class: 'btn btn-default pull-left' do %>
                  <i class="icon-check"></i>
                  從現有的布料類別內挑選
                <% end %>
              <% end %>
              <%= link_to '取消', admin_product_product_material_types_path(@product_material_type.product), class: 'btn btn-default' %>
              <button type="submit" class="btn btn-primary">
                <i class="icon-save"></i>
                儲存
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>