<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <%= render 'product_info' %>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="box bordered-box" style="margin-bottom:0;">
        <div class="box-header">
          <div class="title"><i class="icon-tag"></i>&nbsp;管理布料類別</div>
          <div class="actions">
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content">
          <%= form_for @product_material_type, url: admin_product_product_material_types_path(@product_material_type.product), html: {class: 'form validated-form'} do |form| %>
            <div class="form-group">
              <%= form.label :material_type_id, '從現有的布料類別裡面挑選到現有商品可選布料類別內' %>
              <div class="controls">
                <%= form.select(:material_type_id, @material_types.each.collect do |material_type|
                  # damn... this place i need to get material_type's translate name
                  # but it shouldn't too many code here.
                  # Take a helper to handle this function? Whatever, in this time, just do it and make it work :(
                  ["#{material_type.id}. #{material_type.material_type_translates.all.collect{|translate| translate.name}.join(' / ')}", material_type.id]
                end, {selected: form.object.material_type_id}, {class: 'select2 form-control'}) %>
              </div>
            </div>

            <%= form.hidden_field :product_id %>

            <div class="form-actions form-actions-padding text-right">
              <%= link_to new_admin_product_product_material_type_path(new: true), class: 'btn btn-info pull-left' do %>
                <i class="icon-plus"></i>
                創立全新的布料類別
              <% end %>
              <%= link_to '取消', admin_product_product_material_types_path(@product_material_type.product), class: 'btn btn-default' %>
              <button type="submit" class="btn btn-primary">
                <i class="icon-save"></i>
                儲存
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>