<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="margin-top:40px;">
      <div class="reg-page" style="border-top:none;">
        <div class="reg-header" style="margin-bottom:0">
          <div class="text-center">
            <h2>
              <i class="fa fa-rss"></i>
              <%= t('rss_feeds') %>
            </h2>
          </div>
        </div>
        <%= link_to t('handmadebag'), products_path(format: :rss), class: 'btn btn-block btn-lg btn-default hover-effect' %>
        <h4 class="text-center"><%= products_url(format: :rss) %></h4>
        <hr/>
        <%= link_to t('courses'), courses_path(format: :rss), class: 'btn btn-block btn-lg btn-default hover-effect' %>
        <h4 class="text-center"><%= courses_url(format: :rss) %></h4>
      </div>
    </div>
  </div>
</div>