<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <%= image_tag @product.image.url(:thumb), class: 'well-sm' %>
      現貨修改可選項目&nbsp;
      <small>現貨名稱:&nbsp;</small>
      <span class="label label-danger">
        <%= @product.product_translates.reject(&:blank?).map(&:name).join('/') %>
      </span>
    </h1>
    <div class="pull-right">
      <div class="btn-toolbar">
        <%= link_to admin_products_path, class: 'btn btn-default' do %>
          <i class="icon-chevron-left"></i>
          回到現貨列表
        <% end %>
      </div>
    </div>
  </div>
</div>

<% Locale.select(:id, :name).each do |locale| %>
  <div class="col-xs-3">
    <div class="box">
      <div class="box-header box-header-small">
        <div class="title">
          <label class="label label-default"><%= locale.name %></label>
        </div>
      </div>
      <div class="box-content box-no-padding">
        <%= form_tag admin_product_product_custom_items_path(@product.id), class: 'form', method: :post do %>
          <div class="row" style="padding:8px;">
            <div class="col-xs-9">
              <div class="form-group">
                <%= text_field_tag :value, '', class: 'form-control' %>
              </div>
            </div>
            <div class="col-xs-3">
              <%= hidden_field_tag :key, "product:#{@product.id}:locale:#{locale.id}" %>
              <button type="submit" class="btn btn-primary pull-right">
                新增
              </button>
            </div>
          </div>
        <% end %>
        <table class="table table-striped">
          <tbody>
          <% JSON.parse($redis.get("product:#{@product.id}:locale:#{locale.id}") || '[]').each_with_index do |item, index| %>
            <tr>
              <td>
                <% if params[:key] == "product:#{@product.id}:locale:#{locale.id}" && params[:index].to_i == index %>
                  <%= form_tag admin_product_custom_item_path(index, product_id: @product.id), class: 'form', method: :put do %>
                    <div class="row">
                      <div class="col-xs-9">
                        <div class="form-group">
                          <%= hidden_field_tag :key, "product:#{@product.id}:locale:#{locale.id}" %>
                          <%= text_field_tag :value, item, class: 'form-control' %>
                        </div>
                      </div>
                      <div class="col-xs-3 text-right">
                        <%= link_to admin_product_product_custom_items_path(@product.id), class: 'btn btn-default btn-xs' do %>
                          <i class="icon-remove"></i>
                        <% end %>
                        <button type="submit" class="btn btn-success btn-xs">
                          <i class="icon-ok"></i>
                        </button>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= item %>
                  <div class="pull-right">
                    <%= link_to admin_product_product_custom_items_path(@product.id, key: "product:#{@product.id}:locale:#{locale.id}", index: index), class: 'btn btn-default btn-xs' do %>
                      <i class="icon-pencil"></i>
                    <% end %>
                    <%= link_to admin_product_custom_item_path(index, key: "product:#{@product.id}:locale:#{locale.id}"),
                                method: :delete, class: 'btn btn-danger btn-xs' do %>
                      <i class="icon-trash"></i>
                    <% end %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>