<%= form_tag sort_admin_broadcasts_path, method: :put do %>
  <div class="col-xs-12">
    <div class="page-header page-header-with-buttons">
      <h1 class="pull-left">
        <i class="icon-bullhorn"></i>
        <span>快訊管理</span>
      </h1>
      <div class="pull-right">
        <div class="btn-group">
          <div class="btn-toolbar">
            <%= submit_tag '儲存順序', class: 'btn' %>
            <%= link_to '新增快訊', new_admin_broadcast_path, class: 'btn btn-info' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <% if !params[:sorted].nil? and params[:sorted] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Update Successed!</strong> 修改順序成功
          </div>
        <% end %>
        <% if !params[:sorted].nil? and !params[:sorted] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Update Failed!</strong> 修改順序失敗，請聯絡程式維護者
          </div>
        <% end %>
        <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
          <div class="box-header">
            <div class="title">快訊列表</div>
            <div class="actions">
              <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
              <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
            </div>
          </div>
          <div class="box-content box-no-padding">
            <div class="responsive-table">
              <div class="scrollable-table sortable-container">
                <table class="table" style="margin-bottom:0;">
                  <thead>
                  <tr>
                    <th>快訊內容</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody id="broadcast-sortable">
                  <% @broadcasts.each do |broadcast| %>
                    <% translates = broadcast.broadcast_translates.reject{|translate| translate.notification.blank?}.collect do |translate|
                      {notification: translate.notification, link: translate.link, locale: translate.locale.lang, lang: translate.locale.name}
                    end %>
                    <tr>
                      <td>
                        <%= fields_for 'broadcasts[]', broadcast do |f| %>
                          <%= f.hidden_field :sort, class: 'sort-item' %>
                          <%= f.hidden_field :id %>
                        <% end %>
                        <% translates.each_with_index do |translate, index| %>
                          <%= simple_format((translate[:notification].blank?? 'No Translate' : translate[:notification]), {}, sanitize: false) %>
                          <% if index != broadcast.broadcast_translates.length - 1 %>
                            <hr/>
                          <% end %>
                        <% end %>
                      </td>
                      <td>
                        <div class='text-right'>
                          <%= link_to(edit_admin_broadcast_path(broadcast), class: 'btn btn-md') do %>
                            <i class='icon-pencil'></i>
                          <% end %>
                          <%= link_to(admin_broadcast_path(broadcast), class: 'btn btn-danger btn-md', method: :delete, data: {confirm: '你確定要刪除嗎？'}) do %>
                            <i class='icon-remove'></i>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>