<% @articles.each do |article| %>
  <div class="article">
    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <%= link_to area_travel_information_path(article.area_id, article) do %>
          <%= image_tag article.image.url(:medium), class: 'img-responsive' %>
        <% end %>
      </div>
      <div class="col-sm-10 col-xs-12">
        <div class="article-body">
          <%= link_to area_travel_information_path(article.area_id, article) do %>
            <h4>
              <%= truncate(article.title, length: 42) %>
              <small class="pull-right">
                <i class="fa fa-clock-o fa-fw"></i>
                <%= article.created_at.strftime('%Y/%m/%d') %>
              </small>
            </h4>
          <% end %>
          <p class="text-muted">
            <%= truncate(strip_tags(article.content), length: 110) %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>