<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-picture"></i>
      <span>場地介紹管理(圖片與敘述)</span>
    </h1>
    <div class="pull-right">
      <div class="btn-group">
        <div class="btn-toolbar">
          <%= link_to '新增介紹', new_admin_rent_intro_path, class: 'btn btn-info' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <% @rent_intros.each do |rent_intro| %>
          <div class="col-sm-3">
            <div class="box image-preview-box">
              <div class="box-header box-header-small">
                <div class="title">
                  <%= rent_intro.rent_intro_translates.reject{|translate| translate.description.blank?}.collect{|translate| truncate(translate.description, length: 20)}.join('<br/>').html_safe %>
                </div>
                <div class="actions">
                  <%= link_to(admin_rent_intro_path(rent_intro), class: 'btn btn-xs btn-link', method: :delete, data: {confirm: '你確定刪除嗎？'}) do %>
                    <i class="icon-remove"></i>
                  <% end %>
                  <%= link_to(edit_admin_rent_intro_path(rent_intro), class: 'btn btn-xs btn-link') do %>
                    <i class="icon-pencil"></i>
                  <% end %>
                </div>
              </div>
              <%= image_tag rent_intro.image.url(:medium), class: 'img-responsive' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= paginate @rent_intros %>
        </div>
      </div>
    </div>
  </div>
</div>