<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'side_navigation' %>
    <div class="col-md-9 col-sm-9">
      <div class="row">
        <div class="col-xs-12 visible-xs">
          <a href="#" class="btn btn-xs" data-toggle="offcanvas">
            <i class="fa fa-angle-left fa-fw"></i>
            <%= t('other_materials') %>
          </a>
        </div>
        <div class="col-xs-12 margin-bottom-20">
          <div class="btn-toolbar pull-right">
            <%= link_to(t('fabrics_management'), like_materials_path, class: 'btn btn-default') %>
            <%= link_to t('picked_to_order'), new_custom_order_path, class: 'btn btn-default' %>
          </div>
        </div>
        <div class="col-xs-12">
          <% @materials.each do |material| %>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
              <div class="thumbnails thumbnail-style">
                <a class="mediumnail fancybox-button zoomer" data-rel="fancybox-button" title="<%= material.material_translate.name %>" href="<%= asset_path material.image.url(:large) %>">
                  <span class="overlay-zoom main-image">
                    <%= image_tag material.image.url(:medium), class: 'img-responsive' %>
                  </span>
                </a>
                <div class="caption">
                  <h4 style="margin-top: 10px; margin-bottom: 5px; line-height: 30px;">
                    <%= truncate(material.material_translate.name, length: (session[:locale] == 'en')? 38 : 20) %>
                    <a href="#" class="text-muted material-like <%= 'selected' if JSON.parse(cookies['material-likes'] || '[]').include?(material.id) %>" data-id="<%= material.id %>">
                      <i class="fa fa-heart fa-2x pull-right"></i>
                    </a>
                  </h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>