<div class="container">
  <div class="row">
    <!--Reg Block-->
    <div class="col-md-6 col-md-offset-3" style="margin-top:40px;">
      <div class="reg-page" style="border-top:none;">
        <div class="reg-header">
          <div class="text-center">
            <h2><i class="icon-info"></i>個人帳戶資訊</h2>
            <p>您可以在這邊設定常用聯絡資訊，方便您使用布知道網路商城</p>
          </div>
        </div>

        <%= form_for current_user, html: {class: 'form-horizontal validate-form'} do |f| %>
          <div class="form-group">
            <label class="text-muted col-xs-2 control-label">信箱</label>
            <div class="col-xs-10">
              <label class="form-control" style="border-color:#FEFEFE;">
                <%= current_user.email %>
              </label>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name, '姓名', class: 'text-muted col-xs-2 control-label' %>
            <div class="col-xs-10">
              <%= f.text_field :name, class: 'col-xs-10 form-control', placeholder: '請輸入姓名' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :phone, '電話', class: 'text-muted col-xs-2 control-label' %>
            <div class="controls col-xs-10">
              <%= f.text_field :phone, value: '', class: 'col-xs-10 form-control', placeholder: '請輸入電話', data: {'rule-phoneNL' => true} %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :address, '住址', class: 'text-muted col-xs-2 control-label' %>
            <div class="col-xs-10">
              <%= f.text_area :address, class: 'col-xs-10 form-control', placeholder: '請輸入住址' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :line, 'Line', class: 'text-muted col-xs-2 control-label' %>
            <div class="col-xs-10">
              <%= f.text_field :line, value: '', class: 'col-xs-10 form-control', placeholder: '請輸入Line帳號' %>
            </div>
          </div>
          <%= f.button '儲存常用資訊', class: 'btn btn-default btn-lg hover-effect btn-block', type: 'submit' %>
          <%= link_to '取消', user_path %>
        <% end %>
      </div>
    </div>
    <!--End Reg Block-->
  </div>
</div>