<div class="container">
  <div class="row">
    <!--Reg Block-->
    <div class="col-md-6 col-md-offset-3" style="margin-top:40px;">
      <div class="reg-page" style="border-top:none;">
        <div class="reg-header">
          <div class="text-center">
            <h2><i class="icon-key"></i><%= t('user.set_password') %></h2>
            <p><%= t('user.password_hint') %></p>
          </div>
        </div>

        <%= form_for @user, url: update_password_path, html: {class: 'form-horizontal validate-form'} do |f| %>
          <div class="form-group">
            <%= f.label :current_password, t('user.password_old'), class: 'text-muted col-sm-2 col-xs-12 control-label' %>
            <div class="col-sm-10 col-xs-12">
              <%= f.password_field :current_password, class: 'col-sm-10 col-xs-12 form-control', placeholder: t('user.password_old_placeholder') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, t('user.password_new'), class: 'text-muted col-sm-2 col-xs-12 control-label' %>
            <div class="col-sm-10 col-xs-12">
              <%= f.password_field :password, class: 'col-sm-10 col-xs-12 form-control', placeholder: t('user.password_new_placeholder'), autocomplete: 'off' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, t('user.password_confirm'), class: 'text-muted col-sm-2 col-xs-12 control-label' %>
            <div class="controls col-sm-10 col-xs-12">
              <%= f.password_field :password_confirmation, class: 'col-sm-10 col-xs-12 form-control', placeholder: t('user.password_confirm_placeholder'), autocomplete: 'off' %>
            </div>
          </div>
          <%= render 'layouts/messages', resource: @user %>
          <%= f.button t('user.password_update'), class: 'btn btn-default btn-lg hover-effect btn-block', type: 'submit' %>
          <%= link_to t('cancel'), user_path %>
        <% end %>
      </div>
    </div>
    <!--End Reg Block-->
  </div>
</div>