<div class='col-xs-12'>
  <div class='page-header page-header-with-buttons'>
    <h1 class='pull-left'>
      <i class='icon-dashboard'></i>
      <span>Dashboard</span>
    </h1>
  </div>
  <div class='alert alert-info alert-dismissable'>
    <a class='close' data-dismiss='alert' href='#'>&times;</a>
    歡迎來到 QuoiQuoi 布知道管理界面
  </div>
  <div class='row'>
    <div class='col-sm-6 box'>
      <div class='box-header'>
        <div class='title'>
          <i class='icon-inbox'></i>
          新訂單&nbsp;<span class="text-success">2個月內</span>
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>
                      
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
        <div id='stats-chart1' style="height:200px;"></div>
      </div>
    </div>
    <div class='col-sm-6 box'>
      <div class='box-header'>
        <div class='title'>
          <i class='icon-group'></i>
          新用戶註冊&nbsp;<span class="text-success">2個月內</span>
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>
                      
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
        <div id='stats-chart2' style="height:200px;"></div>
      </div>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-sm-8'>
      <div class='box'>
        <div class='box-header'>
          <div class='title'>
            <div class='icon-file-text'></div>
            訂單
          </div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>
                        
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-4'>
            <%= link_to check_admin_orders_path do %>
              <div class='box-content box-statistic'>
                <h3 class='title text-info'><%= @order_wait_confirm_remittance %></h3>
                <small>待確認匯款</small>
                <div class='text-info icon-check align-right'></div>
              </div>
            <% end %>
          </div>
          <div class='col-sm-4'>
            <%= link_to deliver_admin_orders_path do %>
              <div class='box-content box-statistic'>
                <h3 class='title text-primary'><%= @order_pre_shipping %></h3>
                <small>待出貨訂單</small>
                <div class='text-primary icon-truck align-right'></div>
              </div>
            <% end %>
          </div>
          <div class='col-sm-4'>
            <%= link_to closed_admin_orders_path do %>
              <div class='box-content box-statistic'>
                <h3 class='title text-success'><%= @closed_order %></h3>
                <small>已完成訂單</small>
                <div class='text-success icon-flag align-right'></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-header'>
          <div class='title'>
            <div class='icon-tasks'></div>
            客製化訂單
          </div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-4'>
            <%= link_to check_admin_order_custom_items_path do %>
              <div class='box-content box-statistic'>
                <h3 class='title text-warning'><%= @custom_order_wait_confirm %></h3>
                <small>待確認客製化訂單</small>
                <div class='text-warning icon-check align-right'></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="box">
        <div class='box-header'>
          <div class='title'>
            <div class='icon-file-text'></div>
            手作教室
          </div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= link_to check_admin_registrations_path do %>
              <div class='box-content box-statistic'>
                <h3 class='title text-info'><%= @registration_wait_confirm_remittance %></h3>
                <small>待確認報名課程匯款</small>
                <div class='text-info icon-check align-right'></div>
              </div>
            <% end %>
          </div>
          <div class="col-sm-4">
            <%= link_to admin_courses_registrations_path do %>
              <div class='box-content box-statistic'>
                <h3 class='title text-info'>
                  <div class="icon-angle-right"></div>
                </h3>
                <small>課程狀態一覽</small>
                <div class='text-primary icon-check align-right'></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="box">
        <div class='box-header'>
          <div class='title'>
            <div class='icon-file-text'></div>
            禮券交易
          </div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= link_to check_admin_registrations_path do %>
              <div class='box-content box-statistic'>
                <h3 class='title text-info'><%= @user_gift__wait_confirm_remittance %></h3>
                <small>待確認購買禮券匯款</small>
                <div class='text-info icon-check align-right'></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <!--
  <div class='row'>
    <div class='col-sm-12 col-md-6'>
      <div class='row recent-activity'>
        <div class='col-sm-12'>
          <div class='box'>
            <div class='box-header'>
              <div class='title'>
                <i class='icon-comments-alt'></i>
                客戶留言
              </div>
              <div class='actions'>
                <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                </a>
                            
                <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                </a>
              </div>
            </div>
            <div class='box-content box-no-padding'>
              <ul class='list-unstyled comments list-hover list-striped'>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Kellie</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Qui vel omnis quia ea quasi voluptate rerum cum sit. Corporis qui ducimus quidem</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 18:33:37 +0200'>September 15, 2013 - 18:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Jerald</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Hic aut earum blanditiis sit culpa in saepe reiciendis. Alias expedita officia magnam possimus et possimus culpa assumenda consequatur qui aut vel</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 19:33:37 +0200'>September 15, 2013 - 19:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Cathleen</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Eum pariatur quod sapiente nulla. Minima modi cumque necessitatibus quam dolor corrupti fugiat impedit voluptas nobis nisi consequatur aut</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 20:33:37 +0200'>September 15, 2013 - 20:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Zoe</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Ut quibusdam debitis eaque et quis sapiente eos tempore distinctio quia et deleniti. Quae libero ullam harum mollitia non sunt placeat temporibus consequatur</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 21:33:37 +0200'>September 15, 2013 - 21:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Toby</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Dolorem id consequatur quod dolor natus. Optio fugiat qui qui debitis</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 22:33:37 +0200'>September 15, 2013 - 22:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Lynette</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Et aliquam et et. Nemo natus est sint modi occaecati</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 23:33:37 +0200'>September 15, 2013 - 23:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
              </ul>
              <div class='load-more'>
                <a id="comments-more-activity" class="btn btn-block" data-loading-text="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt; Loading more..." href="#"><i class='icon-circle-arrow-down'></i>
                  讀取更多
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-12 col-md-6'>
      <div class='row recent-activity'>
        <div class='col-sm-12'>
          <div class='box'>
            <div class='box-header'>
              <div class='title'>
                <i class='icon-comments'></i>
                訪客留言
              </div>
              <div class='actions'>
                <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                </a>

                <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                </a>
              </div>
            </div>
            <div class='box-content box-no-padding'>
              <ul class='list-unstyled comments list-hover list-striped'>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Kellie</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Qui vel omnis quia ea quasi voluptate rerum cum sit. Corporis qui ducimus quidem</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 18:33:37 +0200'>September 15, 2013 - 18:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Jerald</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Hic aut earum blanditiis sit culpa in saepe reiciendis. Alias expedita officia magnam possimus et possimus culpa assumenda consequatur qui aut vel</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 19:33:37 +0200'>September 15, 2013 - 19:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Cathleen</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Eum pariatur quod sapiente nulla. Minima modi cumque necessitatibus quam dolor corrupti fugiat impedit voluptas nobis nisi consequatur aut</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 20:33:37 +0200'>September 15, 2013 - 20:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Zoe</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Ut quibusdam debitis eaque et quis sapiente eos tempore distinctio quia et deleniti. Quae libero ullam harum mollitia non sunt placeat temporibus consequatur</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 21:33:37 +0200'>September 15, 2013 - 21:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Toby</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Dolorem id consequatur quod dolor natus. Optio fugiat qui qui debitis</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 22:33:37 +0200'>September 15, 2013 - 22:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Lynette</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-reply'></i>
                      </a>

                    </div>
                    <div class='text'>Et aliquam et et. Nemo natus est sint modi occaecati</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 23:33:37 +0200'>September 15, 2013 - 23:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
              </ul>
              <div class='load-more'>
                <a id="comments-more-activity" class="btn btn-block" data-loading-text="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt; Loading more..." href="#"><i class='icon-circle-arrow-down'></i>
                  讀取更多
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
</div>