<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-book"></i>
      <span>文章管理</span>
    </h1>
    <div class="pull-right">
      <div class="btn-group">
        <%= link_to '新增文章', new_admin_travel_information_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
        <div class="box-header sea-blue-background">
          <div class="title">文章列表</div>
          <div class="actions">
            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th>編號</th>
                  <th>文章種類</th>
                  <th>標題</th>
                  <th>內文</th>
                  <th>文章建立日期</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @travel_information.each do |travel_information| %>
                  <tr>
                    <td>
                      <%= travel_information.id %>
                    </td>
                    <td>
                      <%= travel_information.area.name %>
                    </td>
                    <td>
                      <%= truncate(travel_information.title, length: 20) %>
                    </td>
                    <td>
                      <%= truncate(travel_information.content, length: 30) %>
                    </td>
                    <td>
                      <%= travel_information.created_at.strftime('%Y/%m/%d %H:%M') %>
                    </td>
                    <td>
                      <div class='text-right'>
                        <%= link_to(edit_admin_travel_information_path(travel_information), class: 'btn btn-md') do %>
                          <i class='icon-pencil'></i>
                        <% end %>
                        <%= link_to(admin_travel_information_path(travel_information), class: 'btn btn-danger btn-md', method: :delete, data: {confirm: '你確定要刪除嗎？'}) do %>
                          <i class='icon-remove'></i>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>