<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<h2><%= t('mailer.title_for_order') %></h2>
<p>
  <strong><%= t('mailer.deliver_for_order') %>: </strong><br/>
</p>
<table>
  <thead>
  <tr>
    <th>
      <%= t('call_name') %>
    </th>
    <th>
      <%= t('price') %>
    </th>
    <th>
      <%= t('quantity') %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @order.order_products.each_with_index do |order_product, index| %>
    <% translate = order_product.product.product_translates.where(locale_id: @locale_id).first %>
    <tr>
      <td>
        <%= image_tag "#{@domain}#{order_product.product.image.url(:thumb)}", class: 'img-responsive' %>
      </td>
      <td>
        <h5>
          <%= translate.name %>
        </h5>
      </td>
      <td>
        <%= number_to_currency(translate.price) %>&nbsp;<small><%= @order.currency %></small>
      </td>
      <td>
        <%= order_product.quantity %>
      </td>
    </tr>
  <% end %>
  <% @order.order_custom_items.each_with_index do |order_custom_item, index| %>
    <tr>
      <td>
        <%= image_tag "#{@domain}#{(order_custom_item.product)? order_custom_item.product.image.url(:thumb) : order_custom_item.image.url(:thumb)}", class: 'img-responsive' %>
      </td>
      <td>
        <h5>
          <%= t('original_bag') %>
        </h5>
      </td>
      <td>
        <%= number_to_currency(order_custom_item.price) %>&nbsp;<small><%= @order.currency %></small>
      </td>
      <td>
        1
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<h3><%= t('subtotal') %> <%= number_to_currency(@order.subtotal) %>&nbsp;<small><%= @order.currency %></small></h3>
<h3><%= t('shipping_information') %></h3>
<table>
  <tr>
    <td style="text-align: right"><%= t('recipient_name') %></td>
    <td><%= @order.name %></td>
  </tr>
  <tr>
    <td style="text-align: right"><%= t('zip_code') %></td>
    <td><%= @order.zip_code %></td>
  </tr>
  <tr>
    <td style="text-align: right"><%= t('address') %></td>
    <td><%= @order.address %></td>
  </tr>
  <tr>
    <td style="text-align: right"><%= t('phone_number') %></td>
    <td><%= (@order.phone.blank?)? @order.phone.gsub(/\d{4}$/, '****') : '-' %></td>
  </tr>
  <tr>
    <td style="text-align: right"><%= t('shipping_fee') %></td>
    <td><%= @fee %>&nbsp;<small><%= @order.currency %></small></td>
  </tr>
</table>
<br>
<br>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>
