<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  <strong><%= t('mailer.dear') %>: </strong><br/>
  <%= t('check_hint').html_safe %><a href="mailto:quoiquoistudio@gmail.com">Email</a>&nbsp;-&nbsp;quoiquoistudio@gmail.com<br/>
  <%= t('mailer.deliver_for_order').html_safe %><br/>
</p>
<% if @order.order_products.length > 0 %>
  <h4><%= t('products') %></h4>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>
        <%= t('call_name') %>
      </th>
      <th>
        <%= t('price') %>
      </th>
      <th>
        <%= t('quantity') %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @order.order_products.each_with_index do |order_product, index| %>
      <% translate = order_product.product.product_translates.where(locale_id: @order.locale_id).first %>
      <tr>
        <td>
          <%= image_tag "http://quoiquoi.tw#{order_product.product.image.url(:thumb)}", class: 'img-responsive' %>
        </td>
        <td>
          <h5>
            <%= translate.name %>
          </h5>
        </td>
        <td>
          <%= number_to_currency(order_product.price) %>
        </td>
        <td style="text-align: center">
          <%= order_product.quantity %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% if @order.order_custom_items.length > 0 %>
  <h4><%= t('personalized_products') %></h4>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>
        <%= t('call_name') %>
      </th>
      <th>
        <%= t('price') %>
      </th>
      <th>
        <%= t('quantity') %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @order.order_custom_items.each_with_index do |order_custom_item, index| %>
      <tr>
        <td>
          <%= custom_item_image_helper(order_custom_item) %>
        </td>
        <td>
          <h5>
            <%= custom_item_name_helper(order_custom_item, @order.locale_id) %>
          </h5>
        </td>
        <td>
          <%= number_to_currency(order_custom_item.order_custom_item_translates.where(locale_id: @order.locale_id).first.price) %>
        </td>
        <td style="text-align: center">
          1
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% if @discount > 0 %>
  <h4><%= t('user_gift.discount') %><label>&nbsp;<%= number_to_currency(@discount) %></label></h4>
<% end %>
<h4><%= t('shipping_fee') %><label>&nbsp;<%= number_to_currency(@fee) %></label></h4>
<h3><%= t('total_amount') %> <%= number_to_currency(@order.subtotal) %></h3>
<h3><%= t('shipping_information') %></h3>
<table>
  <tr>
    <td style="text-align: right"><%= t('recipient_name') %></td>
    <td><%= @order.name %></td>
  </tr>
  <tr>
    <td style="text-align: right"><%= t('zip_code') %></td>
    <td><%= @order.zip_code %></td>
  </tr>
  <tr>
    <td style="text-align: right"><%= t('area') %></td>
    <td><%= @order.shipping_fee.area %></td>
  </tr>
  <tr>
    <td style="text-align: right"><%= t('address') %></td>
    <td><%= @order.address %></td>
  </tr>
  <tr>
    <td style="text-align: right"><%= t('phone_number') %></td>
    <td><%= (@order.phone.blank?)? @order.phone.gsub(/\d{4}$/, '****') : '-' %></td>
  </tr>
  <tr>
    <td style="text-align: right"><%= t('shipping_fee') %></td>
    <td><%= number_to_currency(@fee) %></td>
  </tr>
</table>
<br>
<%= t('sincerely') %>
<br>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>
