<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  <strong><%= t('mailer.dear') %>: </strong><br/>
  <%= t('mailer.remind_for_order', remittance_link: "<a href=\"#{@domain}/payments/#{@order.payment.id}/edit\">#{t('order.advice')}</a>").html_safe %>&nbsp;<%= "#{@domain}/payments/#{@order.payment.id}/edit" %>
</p>
<table>
  <thead>
  <tr>
    <th>
      <%= t('call_name') %>
    </th>
    <th>
      <%= t('price') %>
    </th>
    <th>
      <%= t('quantity') %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @order.order_products.each_with_index do |order_product, index| %>
    <% translate = order_product.product.product_translates.where(locale_id: @order.locale_id).first %>
    <tr>
      <td>
        <%= image_tag "#{@domain}#{order_product.product.image.url(:thumb)}", class: 'img-responsive' %>
      </td>
      <td>
        <h5>
          <%= translate.name %>
        </h5>
      </td>
      <td>
        <%= number_to_currency(translate.price) %>&nbsp;<small><%= @order.currency %></small>
      </td>
      <td>
        <%= order_product.quantity %>
      </td>
    </tr>
  <% end %>
  <% @order.order_custom_items.each_with_index do |order_custom_item, index| %>
    <tr>
      <td>
        <%= image_tag "#{@domain}#{(order_custom_item.product)? order_custom_item.product.image.url(:thumb) : order_custom_item.image.url(:thumb)}", class: 'img-responsive' %>
      </td>
      <td>
        <h5>
          <%= t('original_bag') %>
        </h5>
      </td>
      <td>
        <%= number_to_currency(order_custom_item.price) %>&nbsp;<small><%= @order.currency %></small>
      </td>
      <td>
        1
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<h3><%= t('total_amount') %> <%= number_to_currency(@order.subtotal) %>&nbsp;<small><%= @order.currency %></small></h3>
<h4><%= t('shipping_fee') %><label><%= @fee %>&nbsp;<small><%= @order.currency %></label></h4>
<br>
<br>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>
