<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  <strong><%= t('mailer.dear') %>: </strong><br/>
  <%= t('mailer.remind_three_days', remittance_link: "<a href=\"http://quoiquoi.tw/payments/#{@order.payment.id}/edit\">#{t('order.advice')}</a>").html_safe %>&nbsp;<%= "http://quoiquoi.tw/payments/#{@order.payment.id}/edit" %>
</p>
<% if @order.order_products.length > 0 %>
  <h4><%= t('products') %></h4>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>
        <%= t('call_name') %>
      </th>
      <th>
        <%= t('price') %>
      </th>
      <th>
        <%= t('quantity') %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @order.order_products.each_with_index do |order_product, index| %>
      <% translate = order_product.product.product_translates.where(locale_id: @order.locale_id).first %>
      <tr>
        <td>
          <%= image_tag "http://quoiquoi.tw#{order_product.product.image.url(:thumb)}", class: 'img-responsive' %>
        </td>
        <td>
          <h5>
            <%= translate.name %>
          </h5>
        </td>
        <td>
          <%= number_to_currency(order_product.price) %>
          <% if order_product.discount > 0 %>
            <br/>
            <small><%= t('order_product.discount', percent: locale_discount(order_product.discount, translate.locale.lang)) %></small>
          <% end %>
        </td>
        <td style="text-align: center">
          <%= order_product.quantity %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% if @order.order_custom_items.length > 0 %>
  <h4><%= t('personalized_products') %></h4>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>
        <%= t('call_name') %>
      </th>
      <th>
        <%= t('price') %>
      </th>
      <th>
        <%= t('quantity') %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @order.order_custom_items.each_with_index do |order_custom_item, index| %>
      <tr>
        <td>
          <%= image_tag "http://quoiquoi.tw#{(order_custom_item.product)? order_custom_item.product.image.url(:thumb) : order_custom_item.image.url(:thumb)}", class: 'img-responsive' %>
        </td>
        <td>
          <h5>
            <%= t('original_bag') %>
          </h5>
        </td>
        <td>
          <%= number_to_currency(order_custom_item.order_custom_item_translates.where(locale_id: @order.locale_id).first.price) %>
        </td>
        <td>
          1
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% if @discount > 0 %>
  <h4><%= t('user_gift.discount') %><label>&nbsp;<%= number_to_currency(@discount) %></label></h4>
<% end %>
<h4><%= t('shipping_fee') %><label>&nbsp;<%= number_to_currency(@fee) %></label></h4>
<h3><%= t('total_amount') %> <%= number_to_currency(@order.subtotal) %></h3>
<br>
<br>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>
