<div class="container">
  <div class="row">
    <!--Reg Block-->
    <div class="col-md-6 col-md-offset-3" style="margin-top:40px;">
      <div class="reg-page" style="border-top:0;">
        <div class="reg-header">
          <div class="text-center">
            <h2><%= t('payment_completed') %></h2>
            <p><%= t('completed_payment_hint') %></p>
          </div>
        </div>
        <%= link_to products_path, class: 'btn btn-orange btn-lg hover-effect btn-block', style: 'color: #FFF;' do %>
          <i class="fa fa-shopping-cart"></i>
          <%= t('keep_shopping') %>
        <% end %>
        <%= link_to courses_path, class: 'btn btn-default btn-lg hover-effect btn-block' do %>
          <i class="fa fa-book"></i>
          <%= t('other_courses') %>
        <% end %>
      </div>
    </div>
    <!--End Reg Block-->
  </div>
</div>