<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-flag"></i>
      <span>報名課程記錄</span>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
        <div class="box-header">
          <div class="title">所有報名課程列表</div>
          <div class="actions">
            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th>報名編號</th>
                  <th>用戶id&nbsp;<label class="label label-success">點擊查看</label></th>
                  <th>報名人數</th>
                  <th>狀態</th>
                  <th>付款方式</th>
                  <th>建立時間</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @registrations.each do |registration| %>
                  <tr>
                    <td>
                      <%= registration.id %>
                    </td>
                    <td>
                      <% if registration.user %>
                        <%= link_to registration.user_id, admin_user_path(registration.user_id), target: '_blank' %>
                      <% else %>
                        -
                      <% end %>
                    </td>
                    <td>
                      <%= registration.attendance %>
                    </td>
                    <td>
                      <%= render 'status', registration: registration %>
                    </td>
                    <td>
                      <% if !registration.payment %>
                        尚未付款完成
                      <% elsif registration.payment.wait? %>
                        匯款
                      <% else %>
                        Paypal
                      <% end %>
                    </td>
                    <td>
                      <%= registration.created_at.strftime('%Y/%m/%d %H:%M') %>
                    </td>
                    <td class="text-right">
                      <%= link_to("#{admin_registrations_path}/#{registration.id}", class: 'btn btn-md') do %>
                        <i class="icon-eye-open"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>