<%= f.nested_fields_for :product_custom_items, render_template: false do |builder| %>
  <div class="col-sm-6 box item">
    <div class="box-header">
      <div class="title">
        <i class="icon-gift"></i>
      </div>
      <div class="actions">
        <a class="btn remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
        </a>

        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
        </a>
      </div>
    </div>
    <div class="box-content">
      <div class="form-group">
        <%= builder.select(:product_custom_type_id, ProductCustomType.all.collect.with_index do |product_custom_type, index|
          [product_custom_type.product_custom_type_translates.collect{|product_custom_translate| product_custom_translate.name}.join(' - ') << (product_custom_type.multi? ? ' (可多選)' : ''),
           product_custom_type.id]
        end.insert(0, '請選擇客製化項目種類'), {include_blank: false}, {class: 'form-control'}) %>
      </div>
      <div class="form-group">
        <%= builder.label :workday, '工作天數' %>
        <div class="controls">
          <%= builder.text_field :workday, class: 'form-control', placeholder: '請輸入工作天數',
                                 data: {'rule-required' => true, 'rule-number' => true} %>
        </div>
      </div>
      <div class="form-group">
        <%= builder.label :price, '價格' %>
        <div class="controls">
          <%= builder.text_field :price, class: 'form-control', placeholder: '請輸入價格',
                                 data: {'rule-required' => true, 'rule-number' => true} %>
        </div>
      </div>
      <%= builder.fields_for :product_custom_item_translates do |second_builder| %>
        <div class="form-group">
          <%= second_builder.label :name, "客製化項目#{builder.object.product_custom_item_translates[second_builder.index].locale.name}名稱" %>
          <div class="controls">
            <%= second_builder.text_field :name, class: 'form-control',
                                          placeholder: "請輸入客製化項目#{builder.object.product_custom_item_translates[second_builder.index].locale.name}名稱",
                                          data: {'rule-required' => true} %>
          </div>
          <%= second_builder.hidden_field :locale_id %>
        </div>
      <% end %>
      <div class="box">
        <%= image_tag builder.object.image.url(:large), class: 'img-responsive', data: {src: 'holder/1000x750'} %>
        <%= builder.file_field :image, class: 'btn-block' %>
      </div>
    </div>
    <%= builder.hidden_field :id %>
    <%= builder.hidden_field :_destroy %>
  </div>
<% end %>
<script class="template item product_custom_item" type="text/html">
  &lt;div class="col-sm-6"&gt;
    &lt;div class="box-header"&gt;
      &lt;div class="title"&gt;
        &lt;i class="icon-gift"&gt;&lt;/i&gt;
      &lt;/div&gt;
      &lt;div class="actions"&gt;
        &lt;a class="btn box-remove btn-xs btn-link" href="#"&gt;&lt;i class="icon-remove"&gt;&lt;/i&gt;
        &lt;/a&gt;

        &lt;a class="btn box-collapse btn-xs btn-link" href="#"&gt;&lt;i&gt;&lt;/i&gt;
        &lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="box-content"&gt;
      &lt;div class="form-group"&gt;
        <%= AwesomeNestedFields.escape_html_tags select_tag('product[product_custom_items_attributes][new_nested_item][product_custom_type_id]',
                                                            options_for_select(ProductCustomType.all.collect.with_index do |product_custom_type, index|
                                                              [product_custom_type.product_custom_type_translates.collect{|product_custom_translate| product_custom_translate.name}.join(' - ') << (product_custom_type.multi? ? ' (可多選)' : ''),
                                                               product_custom_type.id]
                                                            end.insert(0, '請選擇客製化項目種類')), {include_blank: false, class: 'form-control'}) %>
      &lt;/div&gt;
      &lt;div class="form-group"&gt;
        &lt;label for="product_product_custom_items_attributes_new_nested_item_workday"&gt;工作天數&lt;/label&gt;
        &lt;div class="controls"&gt;
          &lt;input class="form-control" data-rule-required="true" data-rule-number="true" id="product_product_custom_items_attributes_new_nested_item_workday" name="product[product_custom_items_attributes][new_nested_item][workday]" placeholder="請輸入工作天數" type="text" /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="form-group"&gt;
        &lt;label for="product_product_custom_items_attributes_new_nested_item_price"&gt;價格&lt;/label&gt;
        &lt;div class="controls"&gt;
          &lt;input class="form-control" data-rule-required="true" data-rule-number="true" id="product_product_custom_items_attributes_new_nested_item_price" name="product[product_custom_items_attributes][new_nested_item][price]" placeholder="請輸入價格" type="text" /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      <% @locales.each_with_index do |locale, index| %>
        &lt;div class="form-group"&gt;
          &lt;label for="product_product_custom_items_attributes_new_nested_item_product_custom_item_translates_attributes_<%= index %>_name"&gt;客製化項目<%= locale.name %>名稱&lt;/label&gt;
          &lt;div class="controls"&gt;
            &lt;input class="form-control" data-rule-required="true" id="product_product_custom_items_attributes_new_nested_item_product_custom_item_translates_attributes_<%= index %>_name" name="product[product_custom_items_attributes][new_nested_item][product_custom_item_translates_attributes][<%= index %>][name]" placeholder="請輸入客製化項目<%= locale.name %>名稱" type="text" /&gt;
          &lt;/div&gt;
          &lt;input id="product_product_custom_items_attributes_new_nested_item_product_custom_item_translates_attributes_<%= index %>_locale_id" name="product[product_custom_items_attributes][new_nested_item][product_custom_item_translates_attributes][<%= index %>][locale_id]" type="hidden" value="<%= locale.id %>" /&gt;
        &lt;/div&gt;
      <% end %>
      &lt;div class="box"&gt;
        <%= AwesomeNestedFields.escape_html_tags image_tag '/system/large.gif', class: 'img-responsive', alt: 'Preview' %>
        &lt;input class="btn-block" id="product_product_custom_items_attributes_new_nested_item_image" name="product[product_custom_items_attributes][new_nested_item][image]" type="file" /&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</script>