<div class="box">
  <div class="box-header">
    <div class="title">
      <i class="icon-edit"></i>
      手工包
    </div>
    <div class="actions">
      <a href="#" class="btn box-collapse btn-xs btn-link"><i></i></a>
    </div>
  </div>
  <div class="box-content box-padding">
    <%= form_for([:admin, @product], html: { class: 'form validate-form', multipart: true }) do |f| %>
      <fieldset>
        <div class="row">
          <div class="col-sm-6">
            <div class="nested-field" style="margin-bottom:10px;">
              <div class="row">
                <div class="col-sm-12">
                  <div class="box image-preview-box">
                    <%= image_tag f.object.image.url(:large), class: 'img-responsive' %>
                    <%= f.file_field :image, title: '選擇圖片', class: 'btn-block fit-placeholder-size' %>
                  </div>
                  <a href="#" class="add btn btn-u pull-right">
                    新增圖片
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="list-items items">
                  <%= f.nested_fields_for :product_images do |builder| %>
                    <div class="list-item-3 item">
                      <div class="box image-preview-box">
                        <div class="box-header box-header-small">
                          <div class="actions">
                            <a class="btn remove btn-xs btn-link"><i class="icon-remove"></i></a>
                            <a class="btn box-collapse btn-xs btn-link"><i></i>
                            </a>
                          </div>
                        </div>
                        <%= image_tag builder.object.image.url(:large), class: 'img-responsive' %>
                        <%= builder.file_field :image, title: '選擇圖片', class: 'btn-block' %>

                        <%= builder.hidden_field :id %>
                        <%= builder.hidden_field :_destroy %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="nested-field">
              <div class="row">
                <div class="col-sm-12">
                  <a href="#" class="add btn btn-u pull-right append-youtube">
                    新增Youtube影片
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="items">
                  <%= f.nested_fields_for :product_youtubes do |builder| %>
                    <div class="col-sm-12 item">
                      <div class="box">
                        <div class="box-header">
                          <div class="actions">
                            <a class="btn remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
                          </div>
                        </div>
                        <div class="youtube-preview">
                          <% if builder.object.link %>
                            <img class="img-responsive" src="http://img.youtube.com/vi/<%= builder.object.link.gsub(/[https|http]+:\/\/www\.youtube\.com\/watch\?v=([\w\d]+)/, '\1') %>/maxresdefault.jpg" />
                          <% else %>
                            <%= image_tag asset_path('system/placeholder/youtube.gif'), class: 'img-responsive youtube-preview' %>
                          <% end %>
                        </div>
                        <%= builder.text_field :link, class: 'form-control youtube-link', placeholder: 'https://' %>
                        <%= builder.hidden_field :id %>
                        <%= builder.hidden_field :_destroy %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :quantity, '商品現存數量' %>
              <div class="controls">
                <%= f.text_field :quantity, class: 'form-control', placeholder: '請輸入商品現存數量',
                                 data: {'rule-required' => true, 'rule-number' => true} %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :discount, '優惠折扣(例如8折請輸入8)' %>
              <div class="controls">
                <%= f.text_field :discount, class: 'form-control', placeholder: '請輸入要打幾折',
                                 data: {'rule-required' => true, 'rule-number' => true} %>
              </div>
            </div>

            <% Locale.all.each do |locale| %>
              <div class="row product-option-group">
                <div class="col-sm-12">
                  <div class="form-group" style="margin-top: 10px;">
                    <label>選項分類 (<%= locale.name %>)</label>
                    <%= link_to '新增', new_admin_product_product_option_group_path(@product, locale_id: locale.id), class: 'btn pull-right add-form' %>
                  </div>

                  <!-- Append form start -->
                  <div class="form-block">

                  </div>
                  <!-- Append form end -->

                  <div class="table-block" data-src="<%= admin_product_product_option_groups_path(@product, locale_id: locale.id) %>">

                  </div>
                </div>
              </div>
            <% end %>

            <div class="tabbable">
              <ul class="nav nav-responsive nav-tabs">
                <% f.object.product_translates.each_with_index do |translate, index| %>
                  <li class="<%= 'active' if index == 0 %>">
                    <a href="#<%= translate.locale.id %>" data-toggle="tab">
                      資訊 <label class="label label-success"><%= translate.locale.name %></label> <span class="badge badge-success">可以留空</span>
                    </a>
                  </li>
                <% end %>
              </ul>
              <div class="tab-content">
                <% f.object.product_translates.each_with_index do |translate, index| %>
                  <%= f.fields_for :product_translates, translate do |field| %>
                    <div class="tab-pane <%= 'active' if index == 0 %>" id="<%= field.object.locale.id %>">
                      <div class="form-group">
                        <%= field.label :price, "價格(#{field.object.locale.currency})" %>
                        <div class="controls">
                          <%= field.text_field :price, class: 'form-control',
                                                 placeholder: '請輸入價格', data: {number: true} %>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= field.label :name, '商品名稱' %>
                        <div class="controls">
                          <%= field.text_field :name, class: 'form-control',
                                                 placeholder: '請輸入名稱' %>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= field.label :description, '商品敘述' %>
                        <div class="controls">
                          <%= field.text_area :description, class: 'form-control wysihtml5-less-image', placeholder: '請輸入敘述', rows: 14 %>
                        </div>
                      </div>
                      <%= field.hidden_field :locale_id %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-actions">
          <div class="col-sm-12">
            <div class="pull-right">
              <%= link_to '取消', admin_products_path, class: 'btn' %>
              <%= f.button(class: 'btn btn-primary') do %>
                <i class="icon-save"></i>
                儲存
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<!-- because needs multi editor, so the modal template inhere -->
<div id="insert-image-model" class="bootstrap-wysihtml5-insert-image-modal modal fade">
  <div class="modal-dialog" style="width:auto;">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3 class="modal-title">
          插入圖片
          <span class="badge badge-important">敘述內的圖片在顯示上將自動貼齊寬度</span>
        </h3>
      </div>

      <div class="modal-body">
        <div class="box">
          <div class="box-content">
            <%= render 'admin/templates/image_upload' %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">取消</a>
      </div>
    </div>
  </div>
</div>