<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-shopping-cart"></i>
      <span>手作現有商品管理</span>
    </h1>
    <div class="pull-right">
      <div class="btn-group">
        <%= link_to '新增商品', new_admin_product_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 form">
      <div class="title" style="margin-bottom: 20px;">
        顯示標籤
        <div class="btn-group">
          <%= link_to '前往商品標籤管理', admin_product_tags_path, class: 'btn btn-xs btn-success stop-interval-check' %>
        </div>
        <%= link_to '顯示全部 (清除標籤篩選)', admin_products_path, class: 'btn btn-xs stop-interval-check' %>
      </div>
      <div class="row">
        <% @product_tags.each do |product_tag| %>
          <div class="col-sm-2 col-xs-3 margin-bottom-10">
            <div class='product-tag-switch switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
              <%= check_box_tag('product.product_tags',
                product_tag.id,
                @selected_tag_ids.nil? ? true : @selected_tag_ids.include?(product_tag.id)
              )
              %>
            </div>
            <div>
              <% product_tag.product_tag_translates.each do |translate| %>
                <label class="label label-default"><%= translate.locale.name %></label>&nbsp;
                <%= translate.name %><br/>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
        <div class="box-header">
          <div class="title">商品列表</div>
          <div class="actions">
            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th>編號</th>
                  <th></th>
                  <th>商品名稱</th>
                  <th>現存數量</th>
                  <th>價格</th>
                  <th>折扣</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                  <% @products.each do |product| %>
                  <% translates = product.product_translates.reject{|translate| translate.price.blank?}.collect do |translate|
                    {name: translate.name, price: translate.price, locale: translate.locale.lang, lang: translate.locale.name, currency: translate.locale.currency}
                  end %>
                    <tr>
                      <td>
                        <%= product.id %>
                      </td>
                      <td>
                        <div class="preview">
                          <%= image_tag product.image.url(:thumb), style: 'height:75px;' %>
                        </div>
                      </td>
                      <td>
                        <% translates.each do |translate| %>
                          <span class="label label-default"><%= translate[:lang] %></span>&nbsp;<%= truncate(translate[:name], length: 18) %><br/>
                        <% end %>
                      </td>
                      <td>
                        <%= product.quantity %>
                      </td>
                      <td>
                        <% translates.each do |translate| %>
                          <%= number_to_currency(translate[:price], locale: translate[:locale]) %>&nbsp;<small class="text-muted"><%= translate[:currency] %></small><br/>
                        <% end %>
                      </td>
                      <td>
                        <% if product.discount > 0 %>
                          <%= locale_discount(product.discount, locale = 'zh-TW') %>折
                        <% else %>
                          未設定折扣
                        <% end %>
                      </td>
                      <td>
                        <div class='text-right'>
                          <%= link_to(edit_admin_product_path(product), class: 'btn stop-interval-check') do %>
                            <i class='icon-pencil'></i>
                          <% end %>

                          <% if product.visible? %>
                            <%= link_to(visible_admin_product_path(product, visible: false), class: 'btn btn-info stop-interval-check', method: :put) do %>
                              <i class="icon-level-down"></i>
                            <% end %>
                          <% else %>
                            <%= link_to(visible_admin_product_path(product, visible: true), class: 'btn btn-primary stop-interval-check', method: :put) do %>
                              <i class="icon-level-up"></i>
                            <% end %>
                          <% end %>

                          <%= link_to(admin_product_path(product), class: 'btn btn-danger', method: :delete, data: {confirm: '你確定要刪除嗎？'}) do %>
                            <i class='icon-remove'></i>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

const getSelectedIds = () => {
  return Array.from(document.querySelectorAll('input[name="product.product_tags"]'))
    .reduce((accu, productTagDOM) => {
      if (!productTagDOM.checked) {
        return accu;
      }
      return [...accu, productTagDOM.value];
    }, []);
};

const lastSelectedIds = getSelectedIds();
let isRedirecting = false;

document.querySelector('.stop-interval-check').addEventListener('click', () => {
  isRedirecting = true;
});

const timer = setInterval(() => {
  const selectedIds = getSelectedIds();

  if (isRedirecting) {
    return;
  }

  if (JSON.stringify(lastSelectedIds) === JSON.stringify(selectedIds)) {
    return;
  }

  isRedirecting = true;

  clearInterval(timer);

  window.location.href = `/admin/products?selected_tag_ids=${selectedIds.join(',')}`
}, 100);

</script>