<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'side_navigation' %>
    <div class="col-sm-9 col-xs-12">
      <div class="row">
        <%= render 'layouts/nav_item' %>
        <% @courses.each do |course| %>
          <%= link_to month_course_path(course, month: course.time.strftime('%m').to_i), class: 'col-lg-4 col-md-4 col-sm-6 col-xs-12 course', title: course.course_translate.name do %>
            <div class="thumbnails thumbnail-style">
              <%= image_tag course.image.url(:small), class: 'img-responsive', alt: course.course_translate.name %>
              <div class="caption">
                <h4 style="margin-top: 10px; margin-bottom: 5px;">
                  <%= truncate(course.course_translate.name, length: (session[:locale] == 'en')? 38 : 20) %>
                </h4>
                <ul class="list-unstyled">
                  <li>
                    <strong>
                      <%= "#{t('starting_time')}： #{course.time.strftime('%Y/%m/%d %H:%M')}-#{(course.time + course.length.hours).strftime('%H:%M')} (#{t('date.day_names')[course.time.strftime('%u').to_i - 1]})" %>
                    </strong>
                  </li>
                  <li>
                    <%= "#{t('teacher')}： #{course.course_translate.teacher}" %>
                    <span class="label label-default pull-right"><%= course.status %></span>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
        <script id="more-template" type="text/html">
          <a href="{{url}}" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 course" title="{{name}}">
            <div class="thumbnails thumbnail-style">
              <img src="{{image}}" class="img-responsive" alt="{{name}}">
              <div class="caption">
                  <h4 style="margin-top: 10px; margin-bottom: 5px;">
                      {{truncated_name}}
                  </h4>
                  <ul class="list-unstyled">
                    <li>
                      <strong>
                        <%= "#{t('starting_time')}： " %>{{time}}
                      </strong>
                    </li>
                    <li>
                      <%= "#{t('teacher')}： " %>{{teacher}}
                      <span class="label label-default pull-right">{{status}}</span>
                    </li>
                  </ul>
              </div>
            </div>
          </a>
        </script>
        <div class="col-xs-12" style="border-top: 1px solid #F1F1F1;">
          <%= link_to_if(@courses.total_pages > @courses.current_page,
                         t('load_more'),
                         month_courses_path(month: params[:month], page: ((params[:page] || 1).to_i + 1), format: :json),
                         class: 'load-more btn btn-link btn-md btn-block text-center text-blue',
                         data: {template: '#more-template'}
              ) {} %>
        </div>
      </div>
    </div>
  </div>
</div>