<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'side_navigation' %>
    <div class="col-sm-9 col-xs-12">
      <div class="row">
        <%= render 'layouts/nav_item' %>
        <% @courses.each do |course| %>
          <% course.course_translates.where(locale_id: session[:locale_id]).each do |translate| %>
            <% unless translate.name.blank? %>
              <%= link_to course_path(course, month: course.time.strftime('%m').to_i), class: 'col-lg-4 col-md-4 col-sm-6 col-xs-12' do %>
                <div class="thumbnails thumbnail-style">
                  <%= image_tag course.image.url(:small), class: 'img-responsive' %>
                  <div class="caption">
                    <h4 style="margin-top: 10px; margin-bottom: 5px;">
                      <%= translate.name %>
                    </h4>
                    <ul class="list-unstyled">
                      <li>
                        <strong>
                          <%= "#{t('starting_time')}： #{course.time.strftime('%Y/%m/%d %H:%M')} - #{(course.time + course.length.hours).strftime('%H:%M')}" %>
                        </strong>
                      </li>
                      <li>
                        <strong>
                          <%= "#{t('teacher')}： #{translate.teacher}" %>
                        </strong>
                      </li>
                    </ul>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12" style="border-top: 1px solid #F1F1F1;">
          <%= paginate @courses %>
        </div>
      </div>
    </div>
  </div>
</div>