<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'side_navigation' %>
    <div class="col-sm-9 col-xs-12">
      <div class="row">
        <%= render 'layouts/nav_item' %>
        <% @courses.each do |course| %>
          <% attendance = course.registrations.reject{|registration| registration.canceled?}.collect{|registration| (registration.payment && registration.payment.completed?)? registration.attendance : 0}.inject{|sum, attendance| sum + attendance} || 0 %>
          <% translate = course.course_translates.where(locale_id: session[:locale_id]).first %>
          <% unless translate.name.blank? %>
            <%= link_to course_path(course, month: course.time.strftime('%m').to_i), class: 'col-lg-4 col-md-4 col-sm-6 col-xs-12 course' do %>
              <div class="thumbnails thumbnail-style">
                <%= image_tag course.image.url(:small), class: 'img-responsive' %>
                <div class="caption">
                  <h4 style="margin-top: 10px; margin-bottom: 5px;">
                    <%= truncate(translate.name, length: (session[:locale] == 'en')? 38 : 20) %>
                  </h4>
                  <ul class="list-unstyled">
                    <li>
                      <strong>
                        <%= "#{t('starting_time')}： #{course.time.strftime('%Y/%m/%d %H:%M')}-#{(course.time + course.length.hours).strftime('%H:%M')} (#{t('date.day_names')[course.time.strftime('%u').to_i - 1]})" %>
                      </strong>
                    </li>
                    <li>
                      <%= "#{t('teacher')}： #{translate.teacher}" %>
                      <% if course.canceled? %>
                        <span class="label label-default pull-right">
                          <%= t('registration.cancel') %>
                        </span>
                      <% elsif course.time < Time.now + 5.hours %>
                        <span class="label label-default pull-right">
                          <%= t('course.past') %>
                        </span>
                      <% elsif attendance >= course.popular || course.full? %>
                        <span class="label label-default pull-right">
                          <%= t('registration.full') %>
                        </span>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12" style="border-top: 1px solid #F1F1F1;">
          <%= paginate @courses if params[:month] != 'new' %>
        </div>
      </div>
    </div>
  </div>
</div>