<%= render 'layouts/breadcrumbs', title: t('header.navigation.class') %>
<div class="container">
  <div class="row">
    <%= render 'side_navigation' %>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="thumbnails thumbnail-style">
            <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path 'test2.png' %>">
              <span class="overlay-zoom">
                <%= image_tag 'test2.png', class: 'img-responsive' %>
                <div class="zoom-icon"></div>
              </span>
            </a>
            <div class="caption">
              <h4>多肉植栽&花藝小特餐</h4>
              2014/2/15 10:00~12:30
            </div>
            <div class="w-footer">
              <div class="row">
                <div class="col-sm-12">
                  <span class="price">
                    <%= number_to_currency(1144) %>
                  </span>
                  <%= link_to t('view_detail'), nil, class: 'btn btn-default pull-right' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnails thumbnail-style">
            <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path 'test2.png' %>">
              <span class="overlay-zoom">
                <%= image_tag 'test2.png', class: 'img-responsive' %>
                <div class="zoom-icon"></div>
              </span>
            </a>
            <div class="caption">
              <h4>多肉植栽&花藝小特餐</h4>
              2014/2/15 10:00~12:30
            </div>
            <div class="w-footer">
              <div class="row">
                <div class="col-sm-12">
                  <span class="price">
                    <%= number_to_currency(1144) %>
                  </span>
                  <%= link_to t('view_detail'), nil, class: 'btn btn-default pull-right' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnails thumbnail-style">
            <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path 'test2.png' %>">
              <span class="overlay-zoom">
                <%= image_tag 'test2.png', class: 'img-responsive' %>
                <div class="zoom-icon"></div>
              </span>
            </a>
            <div class="caption">
              <h4>多肉植栽&花藝小特餐</h4>
              2014/2/15 10:00~12:30
            </div>
            <div class="w-footer">
              <div class="row">
                <div class="col-sm-12">
                  <span class="price">
                    <%= number_to_currency(1144) %>
                  </span>
                  <%= link_to t('view_detail'), nil, class: 'btn btn-default pull-right' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnails thumbnail-style">
            <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path 'test2.png' %>">
              <span class="overlay-zoom">
                <%= image_tag 'test2.png', class: 'img-responsive' %>
                <div class="zoom-icon"></div>
              </span>
            </a>
            <div class="caption">
              <h4>多肉植栽&花藝小特餐</h4>
              2014/2/15 10:00~12:30
            </div>
            <div class="w-footer">
              <div class="row">
                <div class="col-sm-12">
                  <span class="price">
                    <%= number_to_currency(1144) %>
                  </span>
                  <%= link_to t('view_detail'), nil, class: 'btn btn-default pull-right' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnails thumbnail-style">
            <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path 'test2.png' %>">
              <span class="overlay-zoom">
                <%= image_tag 'test2.png', class: 'img-responsive' %>
                <div class="zoom-icon"></div>
              </span>
            </a>
            <div class="caption">
              <h4>多肉植栽&花藝小特餐</h4>
              2014/2/15 10:00~12:30
            </div>
            <div class="w-footer">
              <div class="row">
                <div class="col-sm-12">
                  <span class="price">
                    <%= number_to_currency(1144) %>
                  </span>
                  <%= link_to t('view_detail'), nil, class: 'btn btn-default pull-right' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnails thumbnail-style">
            <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path 'test2.png' %>">
              <span class="overlay-zoom">
                <%= image_tag 'test2.png', class: 'img-responsive' %>
                <div class="zoom-icon"></div>
              </span>
            </a>
            <div class="caption">
              <h4>多肉植栽&花藝小特餐</h4>
              2014/2/15 10:00~12:30
            </div>
            <div class="w-footer">
              <div class="row">
                <div class="col-sm-12">
                  <span class="price">
                    <%= number_to_currency(1144) %>
                  </span>
                  <%= link_to t('view_detail'), nil, class: 'btn btn-default pull-right' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnails thumbnail-style">
            <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path 'test2.png' %>">
              <span class="overlay-zoom">
                <%= image_tag 'test2.png', class: 'img-responsive' %>
                <div class="zoom-icon"></div>
              </span>
            </a>
            <div class="caption">
              <h4>多肉植栽&花藝小特餐</h4>
              2014/2/15 10:00~12:30
            </div>
            <div class="w-footer">
              <div class="row">
                <div class="col-sm-12">
                  <span class="price">
                    <%= number_to_currency(1144) %>
                  </span>
                  <%= link_to t('view_detail'), nil, class: 'btn btn-default pull-right' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnails thumbnail-style">
            <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path 'test2.png' %>">
              <span class="overlay-zoom">
                <%= image_tag 'test2.png', class: 'img-responsive' %>
                <div class="zoom-icon"></div>
              </span>
            </a>
            <div class="caption">
              <h4>多肉植栽&花藝小特餐</h4>
              2014/2/15 10:00~12:30
            </div>
            <div class="w-footer">
              <div class="row">
                <div class="col-sm-12">
                  <span class="price">
                    <%= number_to_currency(1144) %>
                  </span>
                  <%= link_to t('view_detail'), nil, class: 'btn btn-default pull-right' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnails thumbnail-style">
            <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path 'test2.png' %>">
              <span class="overlay-zoom">
                <%= image_tag 'test2.png', class: 'img-responsive' %>
                <div class="zoom-icon"></div>
              </span>
            </a>
            <div class="caption">
              <h4>多肉植栽&花藝小特餐</h4>
              2014/2/15 10:00~12:30
            </div>
            <div class="w-footer">
              <div class="row">
                <div class="col-sm-12">
                  <span class="price">
                    <%= number_to_currency(1144) %>
                  </span>
                  <%= link_to t('view_detail'), nil, class: 'btn btn-default pull-right' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnails thumbnail-style">
            <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path 'test2.png' %>">
              <span class="overlay-zoom">
                <%= image_tag 'test2.png', class: 'img-responsive' %>
                <div class="zoom-icon"></div>
              </span>
            </a>
            <div class="caption">
              <h4>多肉植栽&花藝小特餐</h4>
              2014/2/15 10:00~12:30
            </div>
            <div class="w-footer">
              <div class="row">
                <div class="col-sm-12">
                  <span class="price">
                    <%= number_to_currency(1144) %>
                  </span>
                  <%= link_to t('view_detail'), nil, class: 'btn btn-default pull-right' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="border-top: 1px solid #F1F1F1;">
          <%= paginate @courses %>
        </div>
      </div>
    </div>
  </div>
</div>