<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'side_navigation' %>
    <div class="col-sm-9 col-xs-12">
      <div class="row">
        <%= render 'layouts/nav_item' %>
        <% @courses.group_by(&:month).each do |month, courses| %>
          <div class="col-xs-12">
            <div class="headline">
              <h4><%= t("year_#{month.month}", year: month.year) %></h4>
            </div>
          </div>
          <% courses.take(8).each do |course| %>
            <%= link_to past_course_path(course), class: 'col-lg-3 col-md-3 col-sm-4 col-xs-6 course', title: course.course_translate.name do %>
              <div class="thumbnails thumbnail-style">
                <%= image_tag course.image.url(:small), class: 'img-responsive', alt: course.course_translate.name %>
                <div class="caption">
                  <h4 style="margin-top: 10px; margin-bottom: 5px;">
                    <%= truncate(course.course_translate.name, length: (session[:locale] == 'en')? 26 : 13) %>
                  </h4>
                  <ul class="list-unstyled">
                    <li>
                      <%= "#{t('teacher')}： #{course.course_translate.teacher}" %>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          <% end %>
          <script id="<%= "#{month.year}-#{month.month}" %>-template" type="text/html">
            <a class="col-lg-3 col-md-3 col-sm-4 col-xs-6 course" title="{{name}}" href="{{url}}">
              <div class="thumbnails thumbnail-style">
                <img class="img-responsive" alt="{{name}}" src="{{image}}">
                <div class="caption">
                  <h4 style="margin-top: 10px; margin-bottom: 5px;">
                    {{truncated_name}}
                  </h4>
                  <ul class="list-unstyled">
                    <li>
                      <%= "#{t('teacher')}： " %>{{teacher}}
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </script>
          <div class="col-xs-12">
            <%= link_to_if(total_pages(courses, 8) > 1,
                           t('load_more'),
                           "/courses/past/#{month.year}-#{month.month}.json?page=#{((params[:page] || 1).to_i + 1)}",
                           class: 'load-more btn btn-link btn-md btn-block text-center text-blue',
                           data: {template: "##{month.year}-#{month.month}-template"}
                ) {} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>