<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'side_navigation' %>
    <div class="col-sm-9 col-xs-12">
      <div class="row margin-bottom-60">
        <%= render 'layouts/nav_item' %>
        <% translate = @course.course_translates.where(locale_id: session[:locale_id]).first %>
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-xs-12 nopadding">
              <div class="well-sm" style="margin-top:0;padding-top:0;">
                <a class="mediumnail fancybox-button zoomer" data-rel="fancybox-button" title="<%= translate.name %>" href="<%= asset_path @course.image.url(:large) %>">
                  <span class="overlay-zoom">
                    <%= image_tag @course.image.url(:medium), class: 'img-responsive' %>
                    <div class="zoom-icon"></div>
                  </span>
                </a>
              </div>
            </div>

            <a href="#" class="col-xs-4 nopadding"
               data-toggle="preview-change"
               data-large="<%= asset_path @course.image.url(:large) %>"
               data-medium="<%= asset_path @course.image.url(:medium) %>">
              <div class="well-sm">
                <%= image_tag @course.image.url(:thumb), class: 'img-responsive' %>
              </div>
            </a>
            <% @course.course_images.each do |course_image| %>
              <a href="#" class="col-xs-4 nopadding"
                 data-toggle="preview-change"
                 data-large="<%= asset_path course_image.image.url(:large) %>"
                 data-medium="<%= asset_path course_image.image.url(:medium) %>">
                <div class="well-sm">
                  <%= image_tag course_image.image.url(:thumb), class: 'img-responsive' %>
                </div>
              </a>
            <% end %>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-md-12 margin-bottom-50">
              <h3 style="color:#666;">
                <strong>
                  <%= translate.name %>
                </strong>
              </h3>
              <ul class="list-unstyled">
                <li>
                  <span><%= t('course_time') %></span>:&nbsp;<strong><%= "#{@course.time.strftime('%Y/%m/%d %H:%M')} - #{(@course.time + @course.length.hours).strftime('%H:%M')}" %></strong>
                </li>
                <li>
                  <span><%= t('teacher') %></span>:&nbsp;<strong><%= translate.teacher %></strong>
                </li>
              </ul>
              <%= simple_format(translate.description) %>
            </div>
            <div class="col-md-12 margin-bottom-10">
              <h4 class="margin-bottom-20">
                <strong style="color:#666;"><%= number_to_currency(translate.price) %></strong>
                <small><%= translate.note %></small>
              </h4>

              <%= form_for @registration, url: new_registration_path, method: :get do |f| %>
                <%= f.hidden_field :course_id %>
                <% if @course.course_options.length > 0 %>
                  <label><%= t('option') %></label>
                  <%= f.select :course_option_id, CourseOption.where(locale_id: session[:locale_id]).order(:id).collect{|option| [option.content, option.id]}, {}, class: 'selectpicker form-control', data: {width: '100%'}, disabled: (current_user && @registration.id)? true : false %>
                <% end %>

                <% if @course.canceled? || @registration.canceled? %>
                  <a href="#" class="btn btn-default btn-lg btn-block hover-effect" disabled="disabled">
                    <span><%= t('course.canceled') %></span>
                  </a>
                <% elsif @course.time > Time.now + 5.hours %>
                  <% if @course.popular <= @course.registrations.collect{|registration| (registration.payment && registration.payment.completed?)? registration.attendance : 0}.inject{|sum, attendance| sum + attendance} %>
                    <a href="#" class="btn btn-default btn-lg btn-block hover-effect" disabled="disabled">
                      <span><%= t('registration.full') %></span>
                    </a>
                  <% elsif current_user && @registration.id %>
                    <%= link_to registrations_path, class: 'btn btn-default btn-lg btn-block hover-effect one-page-btn', disabled: 'disabled' do %>
                      <span><%= t('had_registered') %></span>
                    <% end %>
                  <% else %>
                    <button type="submit" class="btn btn-default btn-lg btn-block hover-effect">
                      <i class="icon-edit"></i>
                      <span><%= t('register') %></span>
                    </button>
                  <% end %>
                <% end %>
              <% end %>

            </div>
            <div class="col-md-12">
              <%= render 'layouts/social_share', image: "#{request.protocol}#{request.host_with_port}#{@course.image.url(:large)}", text: "#{t('share_text')}#{translate.name}" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Recent Works -->
          <div class="headline">
            <h4><%= t('recent_course') %></h4>
          </div>
          <div class="margin-bottom-40">
            <ul id="list" class="bxslider">
              <% @recent_courses.each do |recent_course| %>
                <li>
                  <%= link_to course_path(recent_course, month: recent_course.time.strftime('%m').to_i) do %>
                    <em class="overflow-hidden">
                      <%= image_tag recent_course.image.url(:small), style: 'width:100%;' %>
                    </em>
                    <span>
                      <% translate = recent_course.course_translates.where(locale_id: session[:locale_id]).first %>
                      <h5><strong><%= translate.name %></strong></h5>
                      <h5><%= "#{recent_course.time.strftime('%Y/%m/%d %H:%M')} - #{(recent_course.time + recent_course.length.hours).strftime('%Y/%m/%d %H:%M')}" %></h5>
                      <i><%= t('teacher') %>:&nbsp;<%= translate.teacher %></i>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div><!--/row-->
          <!-- End Recent Works -->
        </div>
      </div>
    </div>
  </div>
</div>