<%= render 'layouts/breadcrumbs', title: t('header.navigation.class') %>
<div class="container">
  <div class="row">
    <%= render 'side_navigation' %>
    <div class="col-md-9">
      <div class="row margin-bottom-60">
        <% @course.course_translates.where(locale_id: session[:locale_id]).each do |course_translate| %>
          <div class="col-md-6">
            <div class="row">
              <div class="col-sm-12">
                <a class="mediumnail fancybox-button zoomer" data-rel="fancybox-button" title="<%= course_translate.name %>" href="<%= asset_path @course.image.url(:large) %>">
                  <span class="overlay-zoom">
                    <%= image_tag @course.image.url(:medium), class: 'img-responsive' %>
                    <div class="zoom-icon"></div>
                  </span>
                </a>
              </div>
              <% @course.course_images.each do |course_image| %>
                <div class="col-sm-4" style="margin-top:15px;">
                  <a class="mediumnail fancybox-button zoomer" data-rel="fancybox-button" title="<%= course_translate.name %>" href="<%= asset_path course_image.image.url(:large) %>">
                  <span class="overlay-zoom">
                    <%= image_tag course_image.image.url(:medium), class: 'img-responsive' %>
                    <div class="zoom-icon"></div>
                  </span>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 margin-bottom-50">
                <ul class="social-icons pull-right">
                  <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                  <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                  <li><a href="#" data-original-title="Google Plus" class="social_googleplus"></a></li>
                </ul>
                <h3 style="color:#666;">
                  <strong>
                    <%= course_translate.name %>
                  </strong>
                </h3>
                <ul class="list-unstyled">
                  <li>
                    <strong>開課時間: <%= "#{@course.time.strftime('%Y/%m/%d %H:%M')} - #{(@course.time + @course.length.hours).strftime('%H:%M')}" %></strong>
                  </li>
                  <li>
                    <strong>開課老師: <%= course_translate.teacher %></strong>
                  </li>
                  <li>
                    <strong>報名完成人數: <%= @total_attendance %></strong>
                  </li>
                  <li>
                    <strong>最多報名人數: <%= @course.popular %></strong>
                  </li>
                </ul>
                <%= simple_format(course_translate.description) %>
              </div>
              <div class="col-md-12">
                <h4 class="margin-bottom-20">
                  <strong style="color:#666;"><%= number_to_currency(@course.price) %></strong>
                  <small><%= course_translate.note %></small>
                </h4>
                <% if @course.time > Time.now + 5.hours %>
                  <% if @registration.id %>
                    <%= link_to registrations_path, class: 'btn btn-default btn-lg btn-block hover-effect one-page-btn' do %>
                      <span>已報名課程</span>
                    <% end %>
                  <% else %>
                    <%= link_to new_registration_path(course_id: @course.id), class: 'btn btn-default btn-lg btn-block hover-effect one-page-btn' do %>
                      <i class="icon-edit"></i>
                      <span>報名課程</span>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Recent Works -->
          <div class="headline">
            <h2>近期課程</h2>
          </div>
          <div class="margin-bottom-40">
            <ul id="list" class="bxslider recent-work">
              <% @recent_courses.each do |recent_course| %>
                <li>
                  <%= link_to course_path(recent_course) do %>
                    <em class="overflow-hidden">
                      <%= image_tag recent_course.image.url(:thumb) %>
                    </em>
                    <span>
                      <% recent_course.course_translates.where(locale_id: session[:locale_id]).each do |translate| %>
                        <strong>
                            <%= translate.name %>
                        </strong>
                        <i>
                          <%= "#{recent_course.time.strftime('%Y/%m/%d %H:%M')} - #{(recent_course.time + recent_course.length.hours).strftime('%Y/%m/%d %H:%M')}" %>
                        </i>
                        <br/>
                        <i>開課老師：<%= translate.teacher %></i>
                      <% end %>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div><!--/row-->
          <!-- End Recent Works -->
        </div>
      </div>
    </div>
  </div>
</div>