<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-shopping-cart"></i>
      <span>其他商品管理</span>
    </h1>
    <div class="pull-right">
      <div class="btn-group">
        <%= link_to '新增商品', new_admin_other_product_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
        <div class="box-header sea-blue-background">
          <div class="title">商品列表</div>
          <div class="actions">
            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th>編號</th>
                  <th></th>
                  <th>商品名稱</th>
                  <th>商品種類</th>
                  <th>現存數量</th>
                  <th>價格</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                  <% @products.each do |product| %>
                    <% translates = product.product_translates.reject{|translate| translate.price.blank?}.collect do |translate|
                      {name: translate.name, price: translate.price, locale: translate.locale.lang, lang: translate.locale.name, currency: translate.locale.currency}
                    end %>
                    <tr>
                      <td>
                        <%= product.id %>
                      </td>
                      <td>
                        <div class="preview" style="width:100px;height:75px;">
                          <%= image_tag product.image.url(:thumb) %>
                        </div>
                      </td>
                      <td>
                        <%= product.product_translates.collect{|translate| translate.name}.join(' - ') %>
                      </td>
                      <td>
                        <% translates.each do |translate| %>
                          <span class="label label-default"><%= translate[:lang] %></span>&nbsp;<%= translate[:name] %><br/>
                        <% end %>
                      </td>
                      <td>
                        <%= product.quantity %>
                      </td>
                      <td>
                        <% translates.each do |translate| %>
                          <%= number_to_currency(translate[:price], locale: translate[:locale]) %>&nbsp;<small class="text-muted"><%= translate[:currency] %></small><br/>
                        <% end %>
                      </td>
                      <td>
                        <div class='text-right'>
                          <%= link_to(edit_admin_other_product_path(product), class: 'btn btn-md') do %>
                            <i class='icon-pencil'></i>
                          <% end %>
                          <%= link_to(admin_product_path(product), class: 'btn btn-danger btn-md', method: :delete, data: {confirm: '你確定要刪除嗎？'}) do %>
                            <i class='icon-remove'></i>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>