<div class="box">
  <div class="box-header">
    <div class="title">
      <i class="icon-edit"></i>
      影片
    </div>
    <div class="actions">
      <a href="#" class="btn box-collapse btn-xs btn-link"><i></i></a>
    </div>
  </div>
  <div class="box-content box-padding">
    <%= form_for([:admin, @introduce_youtube], html: { class: 'form validate-form', multipart: true }) do |f| %>
      <fieldset>
        <div class="row">
          <div class="col-sm-12 nested-field">
            <div class="row">
              <div class="col-md-6">
                <div class="youtube-preview">
                  <% if f.object.youtube %>
                    <img class="img-responsive" src="http://img.youtube.com/vi/<%= f.object.youtube.gsub(/[https|http]+:\/\/www\.youtube\.com\/watch\?v=([\w\d]+)/, '\1') %>/maxresdefault.jpg" />
                  <% else %>
                    <%= image_tag asset_path('system/placeholder/youtube.gif'), class: 'img-responsive youtube-preview' %>
                  <% end %>
                </div>
                <%= f.text_field :youtube, class: 'form-control youtube-link', placeholder: 'https://' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-actions">
          <div class="col-sm-12">
            <div class="pull-right">
              <%= link_to '取消', admin_introduce_youtubes_path, class: 'btn btn-lg' %>
              <%= f.button(class: 'btn btn-primary btn-lg') do %>
                <i class="icon-save"></i>
                儲存
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>