<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-tag"></i>
      <span>布料類別管理</span>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <div class="box bordered-box" style="margin-bottom:0;">
        <div class="box-content">
          <h5 class="clearfix">
            布料名稱列表
            <%= link_to '新增布料類別', new_admin_material_type_path, class: 'btn btn-info pull-right' %>
          </h5>
          <table class="table table-striped data-table">
            <thead>
            <tr>
              <th>
                編號
              </th>
              <th>
                名稱
              </th>
              <th>

              </th>
            </tr>
            </thead>
            <tbody>
            <% @material_types.each do |material_type| %>
            <tr>
              <td>
                <%= material_type.id %>
              </td>
              <td>
                <% material_type.material_type_translates.order(:locale_id).reject{|translate| translate.name.blank?}.each_with_index do |translate, index| %>
                  <span class="label label-default"><%= translate.locale.name %></span>
                  <%= translate.name %>
                  <%= '<br/>'.html_safe if index != material_type.material_type_translates.length - 1 %>
                <% end %>
              </td>
              <td class="text-right">
                <%= link_to edit_admin_material_type_path(material_type), class: 'btn' do %>
                  <i class="icon-pencil"></i>
                <% end %>
                <%= link_to admin_material_type_path(material_type), class: 'btn btn-danger', data: {confirm: '確定要刪除這個類別嗎?'}, method: :delete do %>
                  <i class="icon-remove"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>