<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-tag"></i>
      <span>布料類別管理</span>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="box bordered-box" style="margin-bottom:0;">
        <div class="box-header">
          <div class="title"><i class="icon-tag"></i>&nbsp;管理布料類別</div>
          <div class="actions">
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content">
          <%= form_for [:admin, @material_type], html: {class: 'form validated-form'} do |form| %>
            <%= form.fields_for :material_type_translates do |field| %>
              <div class="form-group">
                <%= field.label :name, "類別名稱(#{field.object.locale.name})" %>
                <div class="controls">
                  <%= field.text_field :name, class: 'form-control', data: {'rule-required' => true} %>
                </div>
                <%= field.hidden_field :locale_id %>
              </div>
            <% end %>
            <div class="form-actions form-actions-padding text-right">
              <%= link_to '取消', admin_material_types_path, class: 'btn btn-default' %>
              <button type="submit" class="btn btn-primary">
                <i class="icon-save"></i>
                儲存
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>