<% translates = gift.gift_translates.reject{|translate| translate.quota.blank?}.collect do |translate|
  locale = Locale.where(id: translate.locale_id).first
  {name: translate.name, quota: translate.quota, currency: locale.currency, lang: locale.name}
end %>
<div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
  <div class="box-header sea-blue-background">
    <div class="title">禮品券詳細內容</div>
    <div class="actions">
      <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
    </div>
  </div>
  <div class="box-content box-no-padding">
    <div class="responsive-table">
      <div class="scrollable-table">
        <table class="data-table table table-striped" style="margin-bottom:0;">
          <thead>
          <tr>
            <th></th>
            <th>名稱</th>
            <th>額度</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <%= image_tag gift.image.url(:thumb), class: 'img-responsive' %>
            </td>
            <td>
              <% translates.each do |translate| %>
                <span class="label label-default"><%= translate[:lang] %></span>&nbsp;<%= translate[:name] %><br/>
              <% end %>
            </td>
            <td>
              <% translates.each do |translate| %>
                <%= number_to_currency(translate[:quota]) %>&nbsp;<small class="text-muted"><%= translate[:currency] %></small><br/>
              <% end %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>