<% if @contact %>
  <ul class="list-unstyled who">
    <li>
      <i class="fa fa-user fa-fw"></i>
      <span><%= t('quoiquoi') %></span>
    </li>
    <li>
      <i class="fa fa-home fa-fw"></i>
      <span><%= @contact.address %></span>
    </li>
    <li>
      <%= mail_to @contact.email do %>
        <i class="fa fa-envelope-o fa-fw"></i>
        <span><%= @contact.email %></span>
      <% end %>
    </li>
    <li>
      <i class="fa fa-phone fa-fw"></i>
      <span><%= @contact.phone %></span>
    </li>
  </ul>
<% end %>