<ul class="list-unstyled who">
  <li>
    <i class="fa fa-user fa-fw"></i>
    <span><%= t('quoiquoi') %></span>
  </li>
  <li>
    <i class="fa fa-home fa-fw"></i>
    <span><%= $redis.get("about:locale:#{session[:locale_id]}:address") %></span>
  </li>
  <li>
    <%= mail_to $redis.get("about:locale:#{session[:locale_id]}:email") do %>
      <i class="fa fa-envelope-o fa-fw"></i>
      <span><%= $redis.get("about:locale:#{session[:locale_id]}:email") %></span>
    <% end %>
  </li>
  <li>
    <i class="fa fa-phone fa-fw"></i>
    <span><%= $redis.get("about:locale:#{session[:locale_id]}:phone") %></span>
  </li>
  <li>
    <%= link_to(rss_path) do %>
      <i class="fa fa-rss fa-fw"></i>
      <%= t('subscribe_rss') %>
    <% end %>
  </li>
</ul>