<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <%= render 'carousel' %>
          <div class="title-box">
            <%= simple_format(@contact.introduction) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <ul id="list" class="bxslider">
              <% @designers.each do |designer| %>
                <li>
                  <a>
                    <div class="thumbnail-style">
                      <%= image_tag designer.photo.url(:medium), class: 'img-responsive' %>
                      <% designer.designer_translates.where(locale_id: session[:locale_id]).each do |translate| %>
                        <h3><a><%= translate.name %></a> <small><%= translate.position %></small></h3>
                        <%= simple_format translate.introduction %>
                        <div class="text-right">
                          <ul class="list-unstyled list-inline">
                            <% unless designer.facebook.blank? %>
                              <li>
                                <%= link_to designer.facebook, target: '_blank' do %>
                                  <i class="fa fa-fw fa-lg fa-facebook"></i>
                                <% end %>
                              </li>
                            <% end %>
                            <% unless designer.twitter.blank? %>
                              <li>
                                <%= link_to designer.twitter, target: '_blank' do %>
                                  <i class="fa fa-fw fa-lg fa-twitter"></i>
                                <% end %>
                              </li>
                            <% end %>
                            <% unless designer.google_plus.blank? %>
                              <li>
                                <%= link_to designer.google_plus, target: '_blank' do %>
                                  <i class="fa fa-fw fa-lg fa-google-plus"></i>
                                <% end %>
                              </li>
                            <% end %>
                            <% unless designer.linkedin.blank? %>
                              <li>
                                <%= link_to designer.linkedin, target: '_blank' do %>
                                  <i class="fa fa-fw fa-lg fa-linkedin"></i>
                                <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                    </div>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <hr/>
        <div class="col-md-12">
          <%= render 'youtube' %>
        </div>
        <div class="col-md-6">
          <%= render 'contacts/form' %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 margin-bottom-40">
          <%= render 'designer_carousel' %>
        </div>
        <div class="col-md-12 margin-bottom-40">
          <!-- Contacts -->
          <div class="headline">
            <h4><%= t('contact') %></h4>
          </div>
          <%= render 'about/infos' %>
        </div>
        <div class="col-md-12 margin-bottom-40">
          <!-- Business Hours -->
          <div class="headline">
            <h4><%= t('business_hours') %></h4>
          </div>
          <%= simple_format(@contact.business_hour) %>
        </div>
        <div class="col-md-12 margin-bottom-40">
          <div class="headline">
            <h4>交通資訊</h4>
          </div>
          <%= link_to asset_path('location_info.png'), target: '_blank' do %>
            <%= image_tag 'location_info.png', class: 'img-responsive' %>
          <% end %>
          <%= link_to asset_path('location_info2.png'), target: '_blank' do %>
            <%= image_tag 'location_info2.png', class: 'img-responsive' %>
          <% end %>
          <!-- Google Map -->
          <div id="map" class="map"></div>
          <!---/map-->
        </div>
      </div>
    </div>
  </div>
</div>