<%= form_tag cancel_user_gift_path(user_gift_id), class: 'form validate-form', method: :put do %>
  <div class="modal fade" id="cancel-form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            <%= t('order.cancel_reason') %>
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="message"><%= t('order.cancel_reason_hint') %></label>
            <div class="controls">
              <%= text_area_tag :cancel_reason, '', class: 'form-control', rows: 4, data: {'rule-required' => true} %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('close') %></button>
          <button type="submit" class="btn btn-primary"><%= t('submit') %></button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>