<%= form_for user_gift, method: :post, html: {class: 'form'} do |form| %>
  <div class="box-content">
    <div class="row">
      <div class="col-xs-12">
        <div class="radio">
          <label>
            <%= form.radio_button :payment_method, UserGift.payment_methods[:remittance], checked: true %>
            <%= t('remittance') %>
          </label>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="radio">
          <label>
            <%= form.radio_button :payment_method, UserGift.payment_methods[:credit_card] %>
            <%= t('credit_card') %> <i class="fa fa-credit-card"></i>
          </label>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="radio">
          <label>
            <%= form.radio_button :payment_method, UserGift.payment_methods[:cvs_family] %>
            <%= image_tag 'famiport.png', class: 'img-responsive', style: 'max-width: 130px;' %>
          </label>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="radio">
          <label>
            <%= form.radio_button :payment_method, UserGift.payment_methods[:cvs_ibon] %>
            <%= image_tag 'ibon.png', class: 'img-responsive', style: 'max-width: 100px;' %>
          </label>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="radio">
          <label>
            <%= form.radio_button :payment_method, UserGift.payment_methods[:paypal] %>
            <%= image_tag 'paypal.png', class: 'img-responsive', style: 'max-width: 70px;' %>
          </label>
        </div>
        <label class="pull-left">
          <%= t('paypal_hint').html_safe %>
        </label>

      </div>
    </div>

    <!-- The hidden field for information of register -->
    <%= form.hidden_field :gift_id %>
    <%= form.hidden_field :quantity %>

    <%= form.hidden_field :locale_id %>
    <!-- end. -->

    <input type="hidden" value="<%= params[:user_gift_serial] %>" />

    <hr/>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-lg btn-orange btn-block hover-effect">
          <%= t('check_out') %>
        </button>
        <%= link_to :back do %>
          <i class="fa fa-angle-left"></i>
          <%= t('order.back') %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>