<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'user/side_navigation' %>
    <div class="col-sm-9 col-xs-12">
      <div class="row">
        <%= render 'layouts/nav_item' %>
      </div>
      <% @user_gifts.each do |user_gift| %>
        <% translate = GiftTranslate.where(gift_id: user_gift.gift_id, locale_id: session[:locale_id]).first %>
        <div class="box">
          <div class="box-header box-header-small grey-background">
            <h4>
              <%= t('no_s') %> <strong class="text-muted"><%= user_gift.id %></strong>
              <small class="order-time"><%= t('build_time') %> <strong><%= user_gift.created_at.strftime('%Y/%m/%d %H:%M') %></strong></small>
            </h4>
          </div>
          <div class="box-content box-no-padding" style="border:0;">
            <div class="responsive-table">
              <div class="scrollable-area">
                <table class="table table-bordered text-center table-padding-20" style="margin-bottom:0;">
                  <thead>

                  </thead>
                  <tbody>
                  <tr>
                    <td class="text-left col-md-4">
                      <%= image_tag user_gift.gift.image.url(:thumb) %>
                    </td>
                    <td>
                      <%= translate.name %>
                    </td>
                    <td>
                      <% if !user_gift.payment %>
                        <%= t('order.wait_paying') %>
                      <% elsif user_gift.payment.amount == 0 || user_gift.payment.identifier.blank? %>
                        <%= t('order.wait_remittance') %>
                      <% elsif user_gift.payment.completed? %>
                        <%= t('completed_payment') %>
                      <% else %>
                        <%= t('order.wait_confirm') %>
                      <% end %>
                    </td>
                    <td>
                      <%= number_to_currency(translate.quota * user_gift.quantity.to_f) %><br/>
                      <span class="text-muted"><%= "#{number_to_currency(translate.quota)} * #{user_gift.quantity}" %></span>
                    </td>
                    <td>
                      <ul class="list-unstyled">
                        <% if !user_gift.payment %>
                          <%= link_to t('pay'), pay_user_gift_path(user_gift), class: 'btn btn-u btn-u-orange hover-effect' %>
                        <% elsif !user_gift.payment.completed? && (user_gift.payment.amount == 0 || user_gift.payment.pay_time.blank?) %>
                          <%= link_to t('order.advice'), edit_payment_path(user_gift.payment), class: 'btn btn-u btn-u-orange hover-effect' %>
                        <% end %>
                        <li>
                          <%= link_to t('detail'), user_gift_path(user_gift) %>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>