<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row">
    <%= render 'user/side_navigation' %>
    <div class="col-md-9">
      <% @user_gifts.each do |user_gift| %>
        <div class="box">
          <div class="box-header box-header-small grey-background">
            <h4>
              禮品券編號: <strong class="text-muted"><%= user_gift.id %></strong>
              <small class="order-time">建立時間: <strong><%= user_gift.created_at.strftime('%Y/%m/%d %H:%M') %></strong></small>
            </h4>
          </div>
          <div class="box-content box-no-padding" style="border:0;">
            <div class="responsive-table">
              <div class="scrollable-area">
                <table class="table table-bordered text-center table-padding-20" style="margin-bottom:0;">
                  <thead>

                  </thead>
                  <tbody>
                  <tr>
                    <td class="text-left col-md-4">
                      <%= image_tag user_gift.gift.image.url(:thumb) %>
                    </td>
                    <td>
                      <%= user_gift.gift.gift_translates.where(locale_id: session[:locale_id]).first.name %>
                    </td>
                    <td>
                      <% if !user_gift.payment %>
                        等待付款
                      <% elsif user_gift.payment.amount == 0 || user_gift.payment.identifier.blank? %>
                        等待匯款
                      <% elsif user_gift.payment.completed? %>
                        <% if user_gift.used_user_id.blank? || user_gift.used_time.blank? %>
                          尚未兌換
                        <% else %>
                          已使用
                        <% end %>
                      <% else %>
                        等待確認
                      <% end %>
                    </td>
                    <td>
                      <%= number_to_currency(user_gift.gift.quota) %>
                    </td>
                    <td>
                      <ul class="list-unstyled">
                        <% if !user_gift.payment %>
                          <%= link_to '付款', pay_user_gift_path(user_gift), class: 'btn btn-u btn-u-orange hover-effect' %>
                        <% elsif !user_gift.payment.completed? || user_gift.payment.amount == 0 || user_gift.payment.pay_time.blank? %>
                          <%= link_to '回報', edit_payment_path(user_gift.payment), class: 'btn btn-u btn-u-orange hover-effect' %>
                        <% end %>
                        <li>
                          <%= link_to '禮品券詳細', user_gift_path(user_gift) %>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>