<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <%= render 'layouts/flash_message' %>
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="box collapse-in-mobile">
        <h4 class="box-collapse">
          <a class="pull-right">
            <i class="fa fa-angle-down fa-lg hidden-lg hidden-md hidden-sm"></i>
          </a>
          <%= t('user_gift.information') %>
        </h4>
        <div class="box-content">
          <%= render 'gift_card_information', gift: @user_gift.gift %>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= form_for @user_gift, url: payment_user_gifts_path, html: {class: 'validate-form'} do |f| %>
          <div class="box">
            <h4><%= t('check_out') %></h4>
            <div class="box-content">
              <div class="form-group">
                <label>
                  <%= t('quantity') %>
                </label>
                <div class="controls">
                  <%= f.select :quantity,
                               (1..10).collect{|number| [number, number]},
                               {selected: f.object.quantity},
                               {
                                   class: 'selectpicker attendance form-control',
                                   data: {width: '100%', price: @user_gift.gift.gift_translate.quota}
                               }
                  %>
                </div>
              </div>

              <h4 class="color-orange text-right">
                <%= t('amount') %>
                <strong class="tuition text-muted"
                        data-raw="<%= @user_gift.gift.gift_translate.quota %>"
                        data-subtotal="<%= @user_gift.gift.gift_translate.quota %>">
                  <%= number_to_currency(@user_gift.gift.gift_translate.quota * f.object.quantity.to_f) %>
                </strong>
              </h4>

              <div class="row">
                <div class="col-xs-12">
                  <hr/>
                </div>

                <div class="col-xs-12">

                  <%= f.hidden_field :gift_id %>

                  <button type="submit" class="btn btn-lg btn-orange btn-block hover-effecr">
                    <%= t('check_out') %>
                  </button>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
