<% translate = GiftTranslate.where(gift_id: @user_gift_serial.user_gift.gift_id, locale_id: session[:locale_id]).first %>
<div class="container">
  <div class="row">
    <!--Reg Block-->
    <div class="col-md-8 col-md-offset-2" style="margin-top:40px;">
      <div class="reg-page" style="border-top:none;">
        <div class="row">
          <div class="col-md-12">
            <% if @user_gift_serial %>
              <% if @user_gift_serial.used_time %>
                <h4 class="text-center">
                  <i class="fa fa-exclamation"></i>
                  <%= t('user_gift.oops') %>
                </h4>
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3 text-center">
                    <%= link_to t('back_to_payment'), :back %>
                  </div>
                </div>
              <% else %>
                <div class="row">
                  <%= form_tag discount_user_gifts_path, method: :put do %>
                    <div class="col-sm-6 col-sm-offset-3">
                      <%= hidden_field_tag :token, params[:token] %>
                      <%= hidden_field_tag :order_id, params[:order_id] %>
                      <%= hidden_field_tag :registration_id, params[:registration_id] %>
                      <button type="submit" class="btn btn-lg btn-orange btn-block hover-effect">
                        <%= t('user_gift.confirm') %>
                      </button>
                      <%= link_to :back do %>
                        <i class="fa fa-angle-left"></i>
                        <%= t('cancel_and_back_to_payment') %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <h4 class="text-center">
                <i class="fa fa-exclamation"></i>
                <%= t('user_gift.sorry') %>
              </h4>
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                  <%= link_to t('back_to_payment'), :back %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!--End Reg Block-->
  </div>
</div>