<% translate = GiftTranslate.where(gift_id: @user_gift.gift_id).first %>
<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row">
    <%= render 'user/side_navigation' %>
    <div class="col-md-9">
      <div class="row margin-bottom-40">
        <div class="col-md-12">
          <h4 class="margin-bottom-30">
            <%= t('number') %>
            <strong class="text-muted"><%= @user_gift.id %></strong>
          </h4>
        </div>
        <div class="col-md-12 text-center text-muted">
          <ul class="list-unstyled step">
            <li class="col-xs-3 step-active">
              <span>
                <i class="fa fa-gift icon-round"></i>
              </span>
              <h4><%= t('buy') %></h4>
              <p><%= @user_gift.created_at.strftime('%Y/%m/%d %H:%M') %></p>
            </li>
            <li class="col-xs-3 <%= 'step-active' if @user_gift.payment && @user_gift.payment.completed? %>">
              <span>
                <i class="fa fa-credit-card icon-round"></i>
              </span>
              <h4><%= t('pay') %></h4>
              <p><%= @user_gift.payment.pay_time.strftime('%Y/%m/%d %H:%M') if @user_gift.payment && @user_gift.payment.completed? %></p>
              <span class="label label-success"><%= (@user_gift.payment.amount == 0 || @user_gift.payment.identifier.blank?)? t('order.wait_remittance') : t('order.wait_confirm') if @user_gift.payment && !@user_gift.payment.completed? %></span>
            </li>
            <li class="col-xs-3 <%= 'step-active' unless @user_gift.used_time.blank? %>">
              <span>
                <i class="fa fa-check icon-round"></i>
              </span>
              <h4><%= t('user_gift.use') %></h4>
              <p><%= @user_gift.used_time.strftime('%Y/%m/%d %H:%M') unless (@user_gift.used_time.blank?) %></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row margin-bottom-40">
        <% if @user_gift.payment && !@user_gift.payment.identifier.blank? && !@user_gift.payment.completed? %>
          <div class="col-md-12">
            <h5><%= t('remitted_information') %></h5>
          </div>
          <div class="col-md-12 margin-bottom-40">
            <div class="row">
              <div class="col-md-2 col-xs-3 text-right">
                <%= t('remitted_amount') %>
              </div>
              <div class="col-md-10 col-xs-9">
                <%= number_to_currency(@user_gift.payment.amount) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-xs-3 text-right">
                <%= t('your_account') %>
              </div>
              <div class="col-md-10 col-xs-9">
                <%= @user_gift.payment.identifier %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-xs-3 text-right">
                <%= t('remitted_date') %>
              </div>
              <div class="col-md-10 col-xs-9">
                <%= @user_gift.payment.pay_time.strftime('%Y/%m/%d') %>
              </div>
            </div>
          </div>
        <% end %>
        <% if @user_gift.payment && @user_gift.payment.completed? %>
          <div class="col-md-12">
            <div class="box">
              <div class="box-header box-header-small grey-background">
                <span class="text-muted"><%= t('user_gift.information') %></span>
              </div>
              <div class="box-content box-no-padding" style="border:0;">
                <div class="responsive-table">
                  <div class="scrollable-area">
                    <table class="table table-bordered text-left table-padding-20" style="margin-bottom:0;">
                      <thead>

                      </thead>
                      <tbody>
                      <tr>
                        <td class="col-xs-4"><%= t('user_gift.quota') %></td>
                        <td><%= number_to_currency(translate.quota) %></td>
                      </tr>
                      <tr>
                        <td class="col-xs-4"><%= t('user_gift.serial') %></td>
                        <td><%= @user_gift.token %></td>
                      </tr>
                      <tr>
                        <td class="col-xs-4"><%= t('used_time') %></td>
                        <td><%= @user_gift.used_time.blank?? t('not_used') : @user_gift.used_time.strftime('%Y/%m/%d %H:%M') %></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="col-md-12 text-center">
            <h3>
              <i class="icon-exclamation"></i>
              <%= t('order.wait_remittance') %>
            </h3>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% if @user_gift.payment && (@user_gift.payment.amount == 0 || @user_gift.payment.identifier.blank?) %>
          <hr/>
          <div class="col-sm-4 col-sm-offset-4">
            <%= link_to t('order.advice'), edit_payment_path(@user_gift.payment), class: 'btn btn-u btn-u-lg btn-u-orange btn-block hover-effect' %>
            <%= link_to t('user_gift.cancel'), user_gift_path(@user_gift), method: :delete %>
          </div>
        <% elsif !@user_gift.payment %>
          <hr/>
          <div class="col-sm-4 col-sm-offset-4">
            <%= link_to t('payment'), pay_user_gift_path(@user_gift), class: 'btn btn-u btn-u-lg btn-u-orange btn-block hover-effect' %>
            <%= link_to t('user_gift.cancel'), user_gift_path(@user_gift), method: :delete %>
          </div>
        <% elsif @user_gift.used_time.blank? && @user_gift.user_id.blank? %>
          <hr/>
          <div class="col-sm-4 col-sm-offset-4">
            <%= link_to t('user_gift.renew'), user_gift_path(@user_gift), class: 'btn btn-u btn-u-lg btn-u-orange btn-block hover-effect', method: :put %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>