<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-user"></i>
      <span>用戶管理</span>
    </h1>
    <div class="pull-right">
      <ul class="breadcrumb">
        <%= render_breadcrumbs tag: 'li', separator: ' <li class="separator"><i class="icon-angle-right"></i></li> ' %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
        <div class="box-header sea-blue-background">
          <div class="title">
            <span>用戶列表</span>
          </div>
          <div class="actions">
            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th>用戶id</th>
                  <th>Email</th>
                  <th>常用聯絡姓名</th>
                  <th>常用聯絡電話</th>
                  <th>常用聯絡line</th>
                  <th>加入時間</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td>
                      <%= user.id %>
                    </td>
                    <td>
                      <%= mail_to user.email %>
                    </td>
                    <td>
                      <%= user.name.blank?? '未設定' : user.name %>
                    </td>
                    <td>
                      <%= user.phone.blank?? '未設定' : user.phone %>
                    </td>
                    <td>
                      <%= user.line.blank?? '未設定' : user.line %>
                    </td>
                    <td>
                      <%= user.created_at.strftime('%Y/%m/%d %H:%I:%S') %>
                    </td>
                    <td>
                      <div class="text-right">
                        <%= link_to(admin_user_path(user), class: 'btn btn-md') do %>
                          <i class="icon-eye-open"></i>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>