<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'side_navigation' %>
    <div class="col-md-9 col-sm-9">
      <div class="row">
        <%= render 'layouts/nav_item' %>
        <% @products.each do |product| %>
          <%= link_to [@product_type, product], class: 'col-lg-4 col-md-4 col-sm-6 col-xs-12', title: product.product_translate.name do %>
            <div class="thumbnails thumbnail-style">
              <%= image_tag product.image.url(:small), class: 'img-responsive', alt: product.product_translate.name %>
              <div class="caption">
                <h4 style="margin-top: 10px; margin-bottom: 5px;">
                  <%= truncate(product.product_translate.name, length: (session[:locale] == 'en')? 38 : 20) %>
                </h4>
                  <span class="price">
                    <%= number_to_currency(price_discount(product.product_translate.price, product.discount)) %>
                  </span>
                <% if product.discount > 0 %>
                    <span class="text-ruby">
                      <i class="fa fa-gift fa-fw"></i><%= t('product.discount', percent: locale_discount(product.discount)) %>
                    </span>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

        <script id="more-template" type="text/html">
          <a href="{{url}}" class="col-lg-4 col-md-4 col-sm-6 col-xs-12" title="{{name}}">
            <div class="thumbnails thumbnail-style">
              <img src="{{image}}" class="img-responsive" alt="{{name}}">
              <div class="caption">
                <h4 style="margin-top: 10px; margin-bottom: 5px;">
                  {{turncated_name}}
                </h4>
                <span class="price">
                  {{price}}
                </span>
                <span class="text-ruby {{visible}}">
                  <i class="fa fa-gift fa-fw"></i>{{discount}}
                </span>
              </div>
            </div>
          </a>
        </script>

        <div class="col-xs-12" style="border-top: 1px solid #F1F1F1;">
          <%= link_to_if(@products.total_pages > @products.current_page, t('load_more'),
                         polymorphic_path([@product_type, :products], page: ((params[:page] || 1).to_i + 1), format: :json),
                         class: 'load-more btn btn-link btn-md btn-block text-center text-blue') {} %>
        </div>
      </div>
    </div>
  </div>
</div>