<%= render 'layouts/breadcrumbs', title: t('header.navigation.handmadebag') %>
<div class="container">
  <div class="row">
    <%= render 'side_navigation' %>
    <div class="col-md-9">
      <div class="row margin-bottom-40">
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-12">
              <a class="mediumnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path @order_product.product.image.url(:large) %>">
                <span class="overlay-zoom main-image">
                  <%= image_tag @order_product.product.image.url(:medium), class: 'img-responsive' %>
                  <div class="zoom-icon"></div>
                </span>
              </a>
            </div>
            <% @order_product.product.product_images.each do |product_image| %>
              <div class="col-sm-4" style="margin-top:15px;">
                <a class="mediumnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path product_image.image.url(:large) %>">
                <span class="overlay-zoom">
                  <%= image_tag product_image.image.url(:medium), class: 'img-responsive' %>
                  <div class="zoom-icon"></div>
                </span>
                </a>
              </div>
            <% end %>
          </div>
          <div class="row">
            <% @order_product.product.product_youtubes.each do |youtube| %>
              <div class="col-md-12 youtube-link" style="margin-top:20px;" data-link="<%= youtube.link %>">
                <%= image_tag asset_path('system/youtube.gif'), class: 'img-responsive' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <%= form_for @order_product do |f| %>
            <%= f.hidden_field :product_id %>
            <% @order_product.product.product_translates.select([:name, :description]).where(locale_id: session[:locale_id]).each do |translate| %>
              <div class="row">
                <div class="col-md-12 margin-bottom-50">
                  <ul class="social-icons pull-right">
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="Google Plus" class="social_googleplus"></a></li>
                  </ul>
                  <h3 style="color:#666;">
                    <strong>
                      <%= translate.name %>
                    </strong>
                  </h3>
                  <%= simple_format(translate.description) %>
                </div>
                <div class="col-md-12 margin-bottom-10">
                  <div class="header">
                    <span class="color-green"><%= t('price') %></span>
                  </div>
                </div>
                <div class="col-md-12 margin-bottom-50">
                  <h4 class="margin-bottom-20">
                    <strong style="color:#666;" id="product-price" data-price="<%= @order_product.product.price %>"><%= number_to_currency(@order_product.product.price) %></strong>
                  </h4>
                  <% if @order_product.product.quantity > 0 %>
                    <%= f.button class: 'btn btn-u-lg btn-u-orange btn-u btn-block hover-effect one-page-btn', type: 'submit' do %>
                      <i class="icon-shopping-cart"></i>
                      <span>加到購物車</span>
                    <% end %>
                  <% else %>
                    <%= link_to '#', class: 'btn btn-lg btn-u-orange btn-block hover-effect one-page-btn', style: 'color: #FFF;' do %>
                      <i class="icon-shopping-cart"></i>
                      <span>目前無存貨</span>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-md-12">
                  <h5>覺得這個包很棒，不過想要特別的修改嗎？</h5>
                  <%= link_to new_product_order_custom_items_path(@order_product.product), class: 'btn btn-u-lg btn-default btn-block hover-effect one-page-btn' do %>
                    <i class="icon-edit"></i>
                    <span>提出你的需求</span>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Recent Works -->
          <div class="headline">
            <h2>其他商品</h2>
          </div>
          <div class="margin-bottom-40">
            <ul id="list" class="bxslider recent-work">
              <% @other_products.each do |product| %>
                <li>
                  <%= link_to_with_product_type product do %>
                    <em class="overflow-hidden">
                      <%= image_tag product.image.url(:medium), style: 'width:100%;' %>
                    </em>
                    <span>
                        <strong>
                          <%= product.product_translates.where(locale_id: session[:locale_id]).first.name %>
                        </strong>
                        <i><%= number_to_currency(product.price) %></i>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div><!--/row-->
          <!-- End Recent Works -->
        </div>
      </div>
    </div>
  </div>
</div>