<%= render 'layouts/breadcrumbs', title: t('header.navigation.handmadebag') %>
<div class="container">
  <div class="row">
    <%= render 'side_navigation' %>
    <div class="col-md-9">
      <div class="row margin-bottom-40">
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-12">
              <a class="mediumnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path @order_product.product.image.url(:large) %>">
                <span class="overlay-zoom main-image">
                  <%= image_tag @order_product.product.image.url(:medium), class: 'img-responsive' %>
                  <div class="zoom-icon"></div>
                </span>
              </a>
            </div>
            <% @order_product.product.product_images.each do |product_image| %>
              <div class="col-sm-4" style="margin-top:15px;">
                <a class="mediumnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="<%= asset_path product_image.image.url(:large) %>">
                <span class="overlay-zoom">
                  <%= image_tag product_image.image.url(:medium), class: 'img-responsive' %>
                  <div class="zoom-icon"></div>
                </span>
                </a>
              </div>
            <% end %>
          </div>
          <div class="row">
            <% @order_product.product.product_youtubes.each do |youtube| %>
              <div class="col-md-12 youtube-link" style="margin-top:20px;" data-link="<%= youtube.link %>">
                <%= image_tag asset_path('system/youtube.gif'), class: 'img-responsive' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <%= form_for @order_product do |f| %>
            <%= f.hidden_field :product_id %>
            <% @order_product.product.product_translates.select([:name, :description]).where(locale_id: session[:locale_id]).each do |translate| %>
              <div class="row">
                <div class="col-md-12 margin-bottom-50">
                  <ul class="social-icons pull-right">
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="Google Plus" class="social_googleplus"></a></li>
                  </ul>
                  <h3 style="color:#666;">
                    <strong>
                      <%= translate.name %>
                    </strong>
                  </h3>
                  <p>
                    <%= translate.description %>
                  </p>
                </div>
                <div class="col-md-12 margin-bottom-10">
                  <div class="header">
                    <span class="color-green"><%= t('product.configure_your_handmadebag') %></span>
                  </div>
                </div>
                <% @product_custom_types.each_with_index do |product_custom_type, index| %>
                  <div class="col-md-12 margin-bottom-10 select-parent">
                    <% custom_items = product_custom_type.product_custom_items.where(product_id: @order_product.product.id) %>
                    <% if custom_items.length > 0 %>
                      <% custom_items.each do |custom_item| %>
                        <%= image_tag custom_item.image.url(:medium), class: 'preload' %>
                      <% end %>
                      <%= fields_for "order_product[order_product_custom_items_attributes][#{index}]" do |builder| %>
                        <% product_custom_type.product_custom_type_translates.where(locale_id: session[:locale_id]).each do |type_translate| %>
                          <% if product_custom_type.multi? %>
                            <%= builder.label :product_custom_item_id, type_translate.name %>
                            <%= builder.select :product_custom_item_id, options_for_select(custom_items.map do |product_custom_item|
                              [
                                  '',
                                  product_custom_item.id,
                                  data: {content: "<span class='options' data-image='#{image_path product_custom_item.image.url(:medium)}'>#{product_custom_item.product_custom_item_translates.where(locale_id: session[:locale_id]).first.name}<span class='label label-default'>#{number_to_currency(product_custom_item.price)}</span></span>",
                                         price: product_custom_item.price,
                                         workday: product_custom_item.workday}
                              ]
                            end), {}, {include_blank: false, class: 'selectpicker', data: {width: '100%'}, multiple: 'multiple', title: "#{t('product.choose_custom_item')}#{type_translate.name}"} %>
                          <% else %>
                            <%= builder.label :product_custom_item_id, type_translate.name %>
                            <%= builder.select :product_custom_item_id, options_for_select(custom_items.map do |product_custom_item|
                              [
                                  '',
                                  product_custom_item.id,
                                  data: {content: "<span class='options' data-image='#{image_path product_custom_item.image.url(:medium)}'>#{product_custom_item.product_custom_item_translates.where(locale_id: session[:locale_id]).first.name}<span class='label label-default'>#{number_to_currency(product_custom_item.price)}</span></span>",
                                         price: product_custom_item.price,
                                         workday: product_custom_item.workday}
                              ]
                            end.prepend(["#{t('product.origin')}#{type_translate.name}", nil, data: {price: 0, workday: 0}])), {}, {include_blank: false, class: 'selectpicker', data: {width: '100%'}} %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <div class="col-md-12 margin-bottom-50">
                  <h4 class="margin-bottom-20">
                    <strong style="color:#666;" id="product-price" data-price="<%= @order_product.product.price %>"><%= number_to_currency(@order_product.product.price) %></strong>
                    <small>需要的工作天大約為 10 天</small>
                  </h4>
                  <%= f.button class: 'btn btn-u-lg btn-u-orange btn-u btn-block hover-effect one-page-btn', type: 'submit' do %>
                    <i class="icon-shopping-cart"></i>
                    <span>加到購物車</span>
                  <% end %>
                </div>
                <div class="col-md-12">
                  <h5>覺得這個包很棒，不過想要特別的修改嗎？</h5>
                  <a href="" class="btn btn-u-lg btn-default btn-block hover-effect one-page-btn">
                    <i class="icon-edit"></i>
                    <span>提出你的需求</span>
                  </a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Recent Works -->
          <div class="headline">
            <h2>其他商品</h2>
          </div>
          <div class="margin-bottom-40">
            <ul id="list" class="bxslider recent-work">
              <li>
                <a href="#">
                  <em class="overflow-hidden">
                    <%= image_tag 'test2.png' %>
                  </em>
                    <span>
                        <strong>手工包包手工包包</strong>
                        <i>$3,000.00</i>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <em class="overflow-hidden">
                    <%= image_tag 'test2.png' %>
                  </em>
                    <span>
                        <strong>手工包包手工包包</strong>
                        <i>$3,000.00</i>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <em class="overflow-hidden">
                    <%= image_tag 'test2.png' %>
                  </em>
                    <span>
                        <strong>手工包包手工包包</strong>
                        <i>$3,000.00</i>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <em class="overflow-hidden">
                    <%= image_tag 'test2.png' %>
                  </em>
                    <span>
                        <strong>手工包包手工包包</strong>
                        <i>$3,000.00</i>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <em class="overflow-hidden">
                    <%= image_tag 'test2.png' %>
                  </em>
                    <span>
                        <strong>手工包包手工包包</strong>
                        <i>$3,000.00</i>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <em class="overflow-hidden">
                    <%= image_tag 'test2.png' %>
                  </em>
                    <span>
                        <strong>手工包包手工包包</strong>
                        <i>$3,000.00</i>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <em class="overflow-hidden">
                    <%= image_tag 'test2.png' %>
                  </em>
                    <span>
                        <strong>手工包包手工包包</strong>
                        <i>$3,000.00</i>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <em class="overflow-hidden">
                    <%= image_tag 'test2.png' %>
                  </em>
                    <span>
                        <strong>手工包包手工包包</strong>
                        <i>$3,000.00</i>
                    </span>
                </a>
              </li>
            </ul>
          </div><!--/row-->
          <!-- End Recent Works -->
        </div>
      </div>
    </div>
  </div>
</div>