<%= render 'layouts/breadcrumbs' %>
<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'side_navigation' %>
    <div class="col-sm-9">
      <div class="row margin-bottom-40">
        <%= render 'layouts/nav_item' %>
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-xs-12 nopadding">
              <div class="well-sm" style="margin-top:0;padding-top:0;">
                <a class="mediumnail fancybox-button zoomer" data-rel="fancybox-button" title="<%= @product.product_translate.name %>" href="<%= asset_path @product.image.url(:large) %>">
                  <span class="overlay-zoom main-image">
                    <%= image_tag @product.image.url(:medium), class: 'img-responsive' %>
                  </span>
                </a>
              </div>
            </div>
            <ul class="list-items">
              <li class="list-item-3 nopadding">
                <a href="#" class="active"
                   data-toggle="preview-change"
                   data-large="<%= asset_path @product.image.url(:large) %>"
                   data-medium="<%= asset_path @product.image.url(:medium) %>">
                  <div class="well-sm">
                    <%= image_tag @product.image.url(:thumb), class: 'img-responsive' %>
                  </div>
                </a>
              </li>
              <% @product.product_images.each do |product_image| %>
                <li class="list-item-3 nopadding">
                  <a href="#" class=""
                     data-toggle="preview-change"
                     data-large="<%= asset_path product_image.image.url(:large) %>"
                     data-medium="<%= asset_path product_image.image.url(:medium) %>">
                    <div class="well-sm">
                      <%= image_tag product_image.image.url(:thumb), class: 'img-responsive' %>
                    </div>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="row">
            <% @product.product_youtubes.each do |youtube| %>
              <div class="col-md-12 youtube-video" style="margin-top:20px;" data-youtube-id="<%= youtube.link.gsub(/[https|http]+:\/\/www\.youtube\.com\/watch\?v=([\w\d]+)/, '\1') %>">
                <img class="img-responsive" src="http://img.youtube.com/vi/<%= youtube.link.gsub(/[https|http]+:\/\/www\.youtube\.com\/watch\?v=([\w\d]+)/, '\1') %>/maxresdefault.jpg" />
                <i class="fa fa-youtube-play fa-5x"></i>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <%= form_for @product.order_products.build do |f| %>
            <%= f.hidden_field :product_id %>
            <div class="row">
              <div class="col-md-12 margin-bottom-50">
                <h3 style="color:#666;">
                  <strong>
                    <%= @product.product_translate.name %>
                  </strong>
                </h3>
                <%== Sanitize.fragment(@product.product_translate.description, Sanitize::Config::ALLOWED) %>
              </div>
              <% if @product.visible? %>
                <div class="col-md-12 margin-bottom-10">
                  <div class="header margin-bottom-10">
                    <span class="text-muted"><%= t('price') %></span>
                  </div>
                  <h4 class="margin-bottom-20">
                    <strong id="product-price" data-price="<%= @product.product_translate.price %>"><%= number_to_currency(price_discount(@product.product_translate.price, @product.discount)) %></strong>
                    <% if @product.discount > 0 %>
                      <small><%= t('full_price') %> <%= number_to_currency(@product.product_translate.price) %>, <%= t('product.discount', percent: locale_discount(@product.discount)) %></small>
                    <% end %>
                  </h4>
                </div>

                <div class="col-md-12 margin-bottom-20">
                  <% if @product.product_option_groups.size > 0 %>
                  <div class="header margin-bottom-10">
                    <span class="text-muted"><%= t('option') %></span>
                  </div>
                  <% end %>

                  <% @product.product_option_groups.each do |option_group| %>
                    <label><%= option_group.name %></label>
                    <%= f.fields_for :order_product_options, OrderProductOption.new do |option_field| %>
                      <%= option_field.select :product_option_id,
                                              option_group.product_options.collect{|option|
                                                [option.content, option.id, {
                                                    data: {
                                                        subtext: number_to_currency(option.price)
                                                    }
                                                }]
                                              },
                                              {},
                                              class: 'selectpicker form-control',
                                              data: {
                                                  width: '100%', 'show-subtext' => true
                                              } %>
                    <% end %>
                  <% end %>
                </div>

                <div class="col-md-12 margin-bottom-50">
                  <% if @product.quantity > 0 %>
                    <label><%= t('quantity') %></label>
                    <%= f.select :quantity, options_for_select((1..@product.quantity).collect{|number| [number, number]}), {}, class: 'selectpicker form-control', data: {width: '100%'} %>
                    <%= f.button class: 'btn btn-lg btn-orange btn-block hover-effect one-page-btn', type: 'submit' do %>
                      <i class="fa fa-shopping-cart"></i>
                      <span><%= t('add_to_cart') %></span>
                    <% end %>
                  <% else %>
                    <%= link_to '#', class: 'btn btn-lg btn-orange btn-block hover-effect one-page-btn', style: 'color: #FFF;', disabled: 'disabled' do %>
                      <i class="fa fa-shopping-cart"></i>
                      <span><%= t('not_in_stock') %></span>
                    <% end %>
                  <% end %>
                </div>
                <% unless @product.product_type %>
                  <div class="col-md-12 margin-bottom-10">
                    <h5><%= t('customize_hint') %></h5>
                    <%= link_to new_product_order_custom_items_path(@product), class: 'btn btn-lg btn-blue btn-block hover-effect one-page-btn' do %>
                      <i class="fa fa-edit"></i>
                      <span><%= t('customize') %></span>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <div class="col-md-12">
                  <a href="#" class="btn btn-lg btn-default btn-block" disabled="disabled">
                    <i class="fa fa-exclamation"></i>
                    <span><%= t('not_for_sale') %></span>
                  </a>
                </div>
              <% end %>
              <div class="col-md-12">
                <%= render 'layouts/social_share', image: "#{request.protocol}#{request.host_with_port}#{@product.image.url(:large)}", text: "#{t('share_text')}#{@product.product_translate.name}" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="headline">
            <h4><%= t('product.other_products') %></h4>
          </div>
          <div class="margin-bottom-40">
            <ul id="list" class="bxslider">
              <% @product.others(session[:locale_id], 8).each do |product| %>
                <li>
                  <%= link_to_with_product_type product do %>
                    <em class="overflow-hidden">
                      <%= image_tag product.image.url(:small), style: 'width:100%;' %>
                    </em>
                    <span>
                        <strong>
                          <%= product.product_translate.name %>
                        </strong><br/>
                        <%= number_to_currency(product.product_translate.price) %>
                      <% if product.discount > 0 %>
                        <span class="text-ruby">
                          <i class="fa fa-gift fa-fw"></i><%= t('product.discount', percent: locale_discount(product.discount)) %>
                        </span>
                      <% end %>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div><!--/row-->
        </div>
      </div>
    </div>
  </div>
</div>