<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-gear"></i>
      網站系統管理
    </h1>
    <div class="pull-right">
      <div class="btn-group">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="actions">
            <a href="#" class="btn box-collapse btn-xs btn-link"><i></i></a>
          </div>
        </div>
        <div class="box-content">
          <%= form_tag admin_system_path, method: :put do %>
            <label for="website-title">網站名稱(請盡可能簡短)</label>
            <div class="form-group">
              <%= text_field_tag 'seo[title]', $redis.get('seo:title'), class: 'form-control' %>
            </div>
            <label for="seo-title">網站標題(請控制在100字以內)</label>
            <div class="form-group">
              <%= text_field_tag 'seo[og][title]', $redis.get('seo:og:title'), class: 'form-control' %>
            </div>
            <label for="seo-description">網站敘述(請控制在140字以內)</label>
            <div class="form-group">
              <%= text_field_tag 'seo[description]', $redis.get('seo:description'), class: 'form-control' %>
            </div>
            <div class="form-actions">
              <div class="btn-toolbar text-right">
                <%= link_to '取消', admin_system_path, class: 'btn btn-default btn-lg' %>
                <button type="submit" class="btn btn-primary btn-lg">
                  儲存
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>