<div class="box">
  <div class="box-header">
    <div class="title">
      <i class="icon-anchor"></i>
      文章種類
    </div>
    <div class="actions">
      <a href="#" class="btn box-collapse btn-xs btn-link"><i></i></a>
    </div>
  </div>
  <div class="box-content box-padding">
    <%= form_for([:admin, @article_type], html: { class: 'form validate-form', multipart: true }) do |f| %>
      <fieldset>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.label :locale_id, '語系' %>
              <%= f.select :locale_id, options_for_select(Locale.all.each.collect{|locale| [locale.name, locale.id]}, selected: @article_type.locale_id), {}, {class: 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.label :name, '文章類型名稱' %>
              <div class="controls">
                <%= f.text_field :name, class: 'form-control', placeholder: '請輸入文章類型名稱' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-actions">
          <div class="col-sm-12">
            <div class="pull-right">
              <%= link_to '取消', admin_article_types_path, class: 'btn btn-lg' %>
              <%= f.button(class: 'btn btn-primary btn-lg') do %>
                <i class="icon-save"></i>
                儲存
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>