<div class="box">
  <div class="box-header">
    <div class="title">
      <i class="icon-edit"></i>
      課程
    </div>
    <div class="actions">
      <a href="#" class="btn box-collapse btn-xs btn-link"><i></i></a>
    </div>
  </div>
  <div class="box-content box-padding">
    <%= form_for([:admin, @course], html: { class: 'form validate-form', multipart: true }) do |f| %>
      <fieldset>
        <div class="row">
          <div class="col-sm-6 nested-field">
            <div class="row">
              <div class="col-sm-12">
                <div class="box image-preview-box">
                  <%= image_tag f.object.image.url(:large), class: 'img-responsive' %>
                  <%= f.file_field :image, title: '選擇圖片', class: 'btn-block' %>
                </div>
                <a href="#" class="add btn btn-u pull-right">
                  新增圖片
                </a>
              </div>
            </div>
            <div class="row">
              <div class="items">
                <%= f.nested_fields_for :course_images do |builder| %>
                  <div class="col-sm-4 item">
                    <div class="box image-preview-box">
                      <div class="box-header">
                        <div class="actions">
                          <a class="btn remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                          </a>

                          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                          </a>
                        </div>
                      </div>
                      <%= image_tag builder.object.image.url(:large), class: 'img-responsive' %>
                      <%= builder.file_field :image, title: '選擇圖片', class: 'btn-block' %>
                      <%= builder.hidden_field :id %>
                      <%= builder.hidden_field :_destroy %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :time, '課程時間' %>
              <div class="controls">
                <div class="datetimepicker input-group">
                  <%= f.text_field :time, class: 'form-control', value: @course.time.blank?? '' : @course.time.strftime('%Y/%m/%d %H:%M'),
                                   placeholder: '請輸入課程時間(年/月/日 小時:分鐘) ',
                                   data: {'rule-required' => true, 'rule-date' => true, format: 'yyyy/MM/dd hh:mm'} %>
                  <span class="input-group-addon">
                  <span class="icon-calendar" data-date-icon="icon-calendar" data-time-icon="icon-time"></span>
                </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <% f.label :length, '課程長度' %>
              <div class="controls">
                <%= f.text_field :length, class: 'form-control', placeholder: '請輸入課程長度(小時)',
                                 data: {'rule-required' => true, 'rule-number' => true} %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :attendance, '單人最多報名人數' %>
              <div class="controls">
                <%= f.text_field :attendance, class: 'form-control', placeholder: '請輸入單人最多報名人數',
                                 data: {'rule-required' => true, 'rule-number' => true} %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :popular, '課程允許人數上限' %>
              <div class="controls">
                <%= f.text_field :popular, class: 'form-control', placeholder: '請輸入課程人數上限',
                                 data: {'rule-required' => true, 'rule-number' => true} %>
              </div>
            </div>
            <div class="nested-field text-right">
              <div class="form-group">
                <a href="#" class="add btn btn-u">
                  新增課程選項
                </a>
              </div>
              <div class="items">
                <%= f.nested_fields_for :course_options do |builder| %>
                  <div class="form-group item">
                    <div class="row">
                      <div class="col-md-2" style="padding-right: 0">
                        <%= builder.select :locale_id, Locale.all.order(id: :desc).collect{|locale| [locale.name, locale.id]}, {selected: builder.object.locale_id}, {class: 'form-control'} %>
                      </div>
                      <div class="col-md-9" style="padding-right: 0;">
                        <%= builder.text_field :content, class: 'form-control', placeholder: '選項內容' %>
                        <%= builder.hidden_field :id %>
                        <%= builder.hidden_field :_destroy %>
                      </div>
                      <div class="col-md-1" style="padding-left: 0;">
                        <a class="btn remove btn-xs btn-link" href="#" style="padding-top: 7px;">
                          <i class="icon-remove"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <%= f.fields_for :course_translates do |builder| %>
              <div class="box">
                <div class="box-header">
                  <div class="title">
                    <%= @course.course_translates[builder.index].locale.name %>
                    <small style="margin-left:10px;">
                      <span class="label label-success">可留空</span>
                    </small>
                  </div>
                  <div class="actions">
                    <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
                  </div>
                </div>
                <div class="box-content">
                  <div class="form-group">
                    <%= builder.label :price, "課程價格(#{@course.course_translates[builder.index].locale.currency})" %>
                    <div class="controls">
                      <%= builder.text_field :price, class: 'form-control',
                                             placeholder: '請輸入價格', data: {number: true} %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= builder.label :teacher, '上課老師' %>
                    <div class="controls">
                      <%= builder.text_field :teacher, class: 'form-control',
                                             placeholder: '請輸入老師名字' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= builder.label :name, '課程名稱' %>
                    <div class="controls">
                      <%= builder.text_field :name, class: 'form-control',
                                             placeholder: '請輸入名稱' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= builder.label :description, '課程敘述' %>
                    <div class="controls">
                      <%= builder.text_area :description, class: 'form-control autosize', placeholder: '請輸入敘述' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= builder.label :note, '課程備註' %>
                    <div class="controls">
                      <%= builder.text_field :note, class: 'form-control', placeholder: '請輸入備註' %>
                    </div>
                  </div>
                  <%= builder.hidden_field :locale_id %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row form-actions">
          <div class="col-sm-12">
            <div class="pull-right">
              <%= link_to '取消', admin_courses_path, class: 'btn btn-lg' %>
              <%= f.button(class: 'btn btn-primary btn-lg') do %>
                <i class="icon-save"></i>
                儲存
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>