<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-shopping-cart"></i>
      <span>課程管理</span>
    </h1>
    <div class="pull-right">
      <div class="btn-group">
        <%= link_to '新增課程', new_admin_course_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
        <div class="box-header sea-blue-background">
          <div class="title">商品列表</div>
          <div class="actions">
            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th></th>
                  <th>商品名稱</th>
                  <th>價格</th>
                  <th>狀態 <label class="label label-success">報名人數/繳費完成人數/課程人數上限</label></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                  <% @courses.each do |course| %>
                    <tr>
                      <td>
                        <div class="preview" style="width:100px;height:75px;">
                          <%= image_tag course.image.url(:thumb) %>
                        </div>
                      </td>
                      <td>
                        <%= course.course_translates.collect{|translate| translate.name.blank?? 'No Translate' : translate.name}.join(' - ') %>
                      </td>
                      <td>
                        <%= number_to_currency(course.price) %>
                      </td>
                      <td>
                        <%= "#{@total_registration}/#{@total_attendance}/#{course.popular}" %>
                      </td>
                      <td>
                        <div class='text-right'>
                          <%= link_to(edit_admin_course_path(course), class: 'btn btn-md') do %>
                            <i class='icon-pencil'></i>
                          <% end %>
                          <%= link_to(admin_course_path(course), class: 'btn btn-danger btn-md', method: :delete, data: {confirm: '你確定要刪除嗎？'}) do %>
                            <i class='icon-remove'></i>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>