<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-shopping-cart"></i>
      <span>課程管理</span>
    </h1>
    <div class="pull-right">
      <div class="btn-group">
        <%= link_to '新增課程', new_admin_course_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info alert-dismissable">
        <a class="close" data-dismiss="alert" href="#">×</a>
        課程取消後需要將所有已報名學員全數退費後才會關閉
      </div>
    </div>
    <div class="col-sm-12">
      <div class="box">
        <div class="box-header sea-blue-background">
          <div class="title">
            查詢條件
          </div>
          <div class="actions">
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content">
          <%= form_tag admin_courses_path, method: :get, html: {class: 'form'} do %>
            <div class="row">
              <div class="col-sm-12">
                <h4>顯示狀態</h4>
                <div class="row">
                  <div class="col-sm-2">
                    <label class="label label-warning">課程時間未到</label>
                    <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
                      <%= check_box_tag 'search_filter[]', 'not_completed', @search_filter.include?('not_completed') %>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <label class="label label-success">課程時間已過</label>
                    <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
                      <%= check_box_tag 'search_filter[]', 'completed', @search_filter.include?('completed') %>
                    </div>
                  </div>
                  <div class="col-sm-4 text-right pull-right">
                    <div class="btn-toolbar">
                      <button type="submit" class="btn btn-inverse">
                        <i class="icon-search"></i>
                        查詢
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="box bordered-box" style="margin-bottom:0;">
        <div class="box-header">
          <div class="actions">
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
          </div>
        </div>
        <div class="box-content box-no-padding">
          <div class="responsive-table">
            <div class="scrollable-table">
              <table class="data-table table table-striped" style="margin-bottom:0;">
                <thead>
                <tr>
                  <th>編號</th>
                  <th></th>
                  <th>課程名稱</th>
                  <th>價格</th>
                  <th>時間</th>
                  <th>
                    <label class="label label-default">報名人數</label>&nbsp;
                    <label class="label label-warning">繳費完成人數</label>&nbsp;
                    <label class="label label-success">課程人數上限</label>
                  </th>
                  <th>狀態</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                  <% @courses.each do |course| %>
                    <% translates = course.course_translates.reject{|translate| translate.price.blank?}.collect do |translate|
                      {name: translate.name, price: translate.price, locale: translate.locale.lang, lang: translate.locale.name, currency: translate.locale.currency}
                    end %>
                    <tr>
                      <td><%= course.id %></td>
                      <td>
                        <div class="preview" style="width:100px;height:75px;">
                          <%= image_tag course.image.url(:thumb) %>
                        </div>
                      </td>
                      <td>
                        <% translates.each do |translate| %>
                          <span class="label label-default"><%= translate[:lang] %></span>&nbsp;<%= translate[:name] %><br/>
                        <% end %>
                      </td>
                      <td>
                        <% translates.each do |translate| %>
                          <%= number_to_currency(translate[:price], locale: translate[:locale]) %>&nbsp;<small class="text-muted"><%= translate[:currency] %></small><br/>
                        <% end %>
                      </td>
                      <td>
                        <%= "#{course.time.strftime('%Y/%m/%d %H:%M')} - #{(course.time + course.length.hours).strftime('%H:%M')}" %><br/>
                        <% if course.time < Time.now %>
                          <label class="label label-success">課程時間已過</label>
                        <% end %>
                        <% if course.time > Time.now %>
                          <label class="label label-warning">課程時間未到</label>
                        <% end %>
                      </td>
                      <td>
                        <label class="label label-default">
                          <%= course.registrations.collect{|registration| registration.attendance}.inject{|sum, attendance| sum + attendance} || 0 %>
                        </label>&nbsp;
                        <label class="label label-warning">
                          <%= course.registrations.collect{|registration| (registration.payment && registration.payment.completed?)? registration.attendance : 0}.inject{|sum, attendance| sum + attendance} || 0 %>
                        </label>&nbsp;
                        <label class="label label-success">
                          <%= course.popular %>
                        </label>
                      </td>
                      <td>
                        <% if course.canceled? %>
                          <label class="label label-default">已取消</label>
                        <% end %>
                      </td>
                      <td>
                        <div class='text-right'>
                          <%= link_to(edit_admin_course_path(course), class: 'btn btn-md') do %>
                            <i class='icon-pencil'></i>
                          <% end %>
                          <%= link_to(admin_course_path(course), class: 'btn btn-danger btn-md', method: :delete, data: {confirm: '你確定要刪除嗎？ 取消課程請報名課程管理'}) do %>
                            <i class='icon-remove'></i>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>