<%= render 'layouts/breadcrumbs' %>

<div class="container main-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'user/side_navigation' %>
    <div class="col-sm-9 col-xs-12">

      <%= render 'layouts/flash_message' %>

      <div class="row margin-bottom-40">
        <%= render 'layouts/nav_item' %>

        <div class="col-sm-6 col-xs-12">

          <% if @custom_order.product_id.nil? %>
            <div class="margin-bottom-10">
              <div class="data-display-name">
                您給我們的參考
              </div>
              <div class="data-display-content">
                <%= @custom_order.references %>
              </div>
            </div>

            <div class="margin-bottom-10">
              <div class="data-display-name">
                <%= t('your_custom_options') %>
              </div>
              <div class="data-display-content">
                <%= @custom_order.order_type %>
              </div>
            </div>

            <div class="margin-bottom-10">
              <div class="data-display-name">
                風格敘述
              </div>
              <div class="data-display-content">
                <%= @custom_order.style %>
              </div>
            </div>

            <div class="margin-bottom-10">
              <div class="data-display-name">
                尺寸
              </div>
              <div class="data-display-content">
                <%= @custom_order.size %>
              </div>
            </div>

            <div class="margin-bottom-10">
              <div class="data-display-name">
                其他需求
              </div>
              <div class="data-display-content">
                <%= @custom_order.description %>
              </div>
            </div>

            <div class="margin-bottom-10">
              <div class="data-display-name">
                <%= t('material_you_like') %>
              </div>
              <div class="data-display-content">
                <% Material.where(id: JSON.parse((@custom_order.materials.blank?)? '[]' : @custom_order.materials)).each do |material| %>
                  <a class="fancybox-button zoomer"
                     title="<%= material.material_translates.find_by_locale_id(session[:locale_id]).name %>"
                     href="<%= material.image.url(:original) %>">
                    <span class="overlay-zoom main-image">
                      <span class="material" style="background-image: url(<%= material.image.url(:thumb) %>);background-size: cover;"></span>
                    </span>
                  </a>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="margin-bottom-10">
              <div class="data-display-name">
                <%= t('cusutomise_product') %>
              </div>
              <div class="data-display-content">
                <%= link_to(product_path(@custom_order.product_id), target: '_blank') do %>
                  <%= "#{t('product_no')}#{@custom_order.product_id}: #{@custom_order.product.product_translates.find_by_locale_id(session[:locale_id]).name}" %>
                  <span class="text-muted">
                    <i class="fa fa-info-circle"></i>
                  </span>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="margin-bottom-40">
            <div class="data-display-name">
              <%= t('status') %>
            </div>
            <div class="data-display-content">
              <% if @custom_order.cancel? || (!@custom_order.approve.nil? && !@custom_order.approve?) %>
                <label class="label label-default">
                  <%= t('order.canceled') %>
                </label>
                <div>
                  <strong>
                    <i class="fa fa-fw fa-comment-o"></i>
                    <%= @custom_order.dismiss_message %>
                  </strong>
                </div>
              <% elsif @custom_order.approve.nil? %>
                <label class="label label-warning">
                  <%= t('discussing') %>
                </label>
                <a class="btn-xs btn-link" data-toggle="modal" data-target="#cancel-form">
                  (<%= t('order.cancel') %>)
                </a>
                <%= render 'cancel_form', custom_order_id: @custom_order.id %>
              <% else %>
                <label class="label label-success">
                  <%= t('approved') %>
                </label>
              <% end %>
            </div>
          </div>

          <% if @custom_order.approve.nil? %>
            <p class="text-center">
              <%== t('custom_order.hint', phone: $redis.get("about:locale:#{session[:locale_id]}:phone"), email: mail_to($redis.get("about:locale:#{session[:locale_id]}:email"))) %>
            </p>
          <% end %>
          <% if @custom_order.approve %>
            <h4 class="text-center"><%= t('custom_order.charge') %> <span class="text-muted"><%= number_to_currency(@custom_order.price) %></span></h4>
            <p class="text-center">
              <%= t('mailer.text.custom.approve.hint') %>
            </p>
            <%= link_to order_custom_items_path(custom_order_id: @custom_order.id), method: :post, class: 'btn btn-orange btn-lg btn-block' do %>
              <i class="fa fa-shopping-cart fa-fw"></i>
              <%= t('check_out') %>
            <% end %>
          <% end %>
        </div>

        <div class="col-sm-6 col-xs-12">
          <ul class="list-unstyled messages list-hover list-striped">
            <% @messages.each do |message| %>
              <li>
                <div class="body">
                  <% if message.admin? %>
                    <div class="name text-ruby">
                      管理者
                      <small class="pull-right text-success">
                        <%== '<i class="fa fa-check"></i>' if message.read? %>
                      </small>
                    </div>
                  <% else %>
                    <div class="name">
                      <i class="fa fa-user fa-fw"></i>您
                      <small class="pull-right text-muted">
                        <%= '已讀' if message.read? %>
                      </small>
                    </div>
                  <% end %>
                  <div class="text"><%= message.content %></div>
                </div>
                <div class="text-right">
                  <small class="date text-muted">
                    <span class="timeago fade has-tooltip in" data-placement="top"><%= message.created_at.strftime('%Y/%m/%d %H:%I:%S') %></span>
                    <i class="fa fa-comment-o"></i>
                  </small>
                </div>
              </li>
            <% end %>
          </ul>

          <%= form_for(Message.new(custom_order_id: @custom_order.id), html: {class: 'form valid-form'}) do |f| %>
            <%= f.text_area :content, class: 'form-control margin-bottom-10', placeholder: (@messages.size <= 0)? '留一些訊息給設計師' : '' %>
            <%= f.hidden_field :custom_order_id %>
            <button type="submit" class="btn btn-default pull-right">留言</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>