<% subtotal = 0 %>
<section id="asideMenu" class="col-md-3 col-sm-6 col-xs-10 aside-menu" data-no-turbolink="data-no-turbolink">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <div class="title">
            <i class="fa fa-shopping-cart">
              <span style="margin-left:10px;"><%= t('header.navigation.cart') %></span>
            </i>
          </div>
          <div class="actions">
            <button class="btn btn-close pull-right navbar-toggle-aside-menu" type="button">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <% if @menu_orders && (@menu_orders.order_products.length > 0 || @menu_orders.order_custom_items.length > 0) %>
          <div class="box-content">
            <div class="row">
              <div class="col-md-12">
                <h4 class="side-section-title">
                  你的購物清單
                </h4>
              </div>
            </div>
          </div>
          <div>
            <% @menu_orders.order_products.each do |order_product| %>
              <% subtotal += order_product.product.price %>
              <div class="search-blocks search-blocks-colored side-menu-block">
                <div class="col-md-6 search-img">
                  <%= image_tag order_product.product.image.url(:medium), class: 'img-responsive' %>
                </div>
                <div class="col-md-6">
                  <%= link_to(order_product_path(order_product), class: 'btn pull-right', method: :delete) do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                  <h4>
                    <%= order_product.product.product_translates.where(locale_id: session[:locale_id]).first.name %>
                  </h4>
                  <h5 class="text-muted"><%= number_to_currency(order_product.product.price) %></h5>
                </div>
              </div>
            <% end %>
            <% @menu_orders.order_custom_items.each do|order_custom_item| %>
              <% subtotal += order_custom_item.price %>
              <div class="search-blocks search-blocks-colored side-menu-block">
                <div class="col-md-6 search-img">
                  <%= image_tag order_custom_item.image.url(:medium), class: 'img-responsive' %>
                </div>
                <div class="col-md-6">
                  <%= link_to(order_custom_item_path(order_custom_item), class: 'pull-right', method: :delete) do %>
                    <i class="icon-remove"></i>
                  <% end %>
                  <h4><%= t('original_bag') %></h4>
                  <h5 class="text-muted"><%= number_to_currency(order_custom_item.price) %></h5>
                </div>
              </div>
            <% end %>
          </div>
          <div class="box-content">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-right margin-bottom-20">
                  總金額: <%= number_to_currency(subtotal) %>
                </h4>
                <%= link_to '去結算', cart_path, class: 'btn btn-u-orange btn-block btn-lg hover-effect navbar-toggle-aside-menu', style: 'color:#FFF;' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>