<ul class="nav controls list-inline pull-right">
  <li class="dropdown light">
    <a class="dropdown-toggle mobile-control-btn" data-toggle="dropdown" href="#">
      <i class="fa fa-cog fa-2x"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <div class="control-title">
          <%= t('language') %>
        </div>
        <%= link_to '中文', controller: controller.controller_name, action: controller.action_name, locale: 'zh-TW' %>
        <%= link_to 'English', controller: controller.controller_name, action: controller.action_name, locale: 'en' %>
      </li>
      <li class="divider"></li>
      <li>
        <div class="control-title">
          <%= t('links') %>
        </div>
        <a href="https://www.facebook.com/bellaszakka" target="_blank">
          <i class="fa fa-fw fa-facebook"></i>
          <%= t('facebook') %>
        </a>
        <a href="http://weibo.com/quoiquoistudio" target="_blank">
          <i class="fa fa-fw fa-weibo"></i>
          <%= t('weibo') %>
        </a>
        <a href="http://lisabella.pixnet.net/blog" target="_blank">
          <i class="fa fa-fw fa-share"></i>
          Blog
        </a>
      </li>
      <li class="divider"></li>
      <% if user_signed_in? %>
        <li>
          <%= link_to t('order.my'), orders_path %>
        </li>
        <li>
          <%= link_to t('registration.all'), registrations_path %>
        </li>
        <li>
          <%= link_to t('custom_order.all'), custom_orders_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            <i class="fa fa-sign-out fa-fw"></i>
            <%= t('signout') %>
          <% end %>
        </li>
      <% else %>
        <li>
          <a href="#" data-toggle="modal" data-target="#signin-modal">
            <%= t('order.my') %>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#signin-modal">
            <%= t('registration.all') %>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#signin-modal">
            <%= t('custom_order.all') %>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#" data-toggle="modal" data-target="#signin-modal">
            <i class="fa fa-sign-in fa-fw"></i>
            <%= t('signin') %>
          </a>
        </li>
      <% end %>
    </ul>
  </li>
  <li class="dropdown user-menu">
    <a class="aside-menu-switch mobile-control-btn" href="#">
      <i class="fa fa-shopping-cart fa-2x"></i>
    </a>
  </li>
  <li class="dropdown user-menu">
    <a href="<%= new_custom_order_path %>" class="mobile-control-btn cta-btn">
      <i class="icon icon-handwriting"></i>
    </a>
  </li>
</ul>