<div class="container">
  <div class="row">
    <div class="col-md-3 md-margin-bottom-40">
      <!-- About -->
      <div class="headline">
        <h2><%= t('contact') %></h2>
      </div>
      <%= render 'about/infos' %>
    </div>

    <% @article_types.each do |type| %>
      <div class="col-md-3 articles">
        <%= link_to article_path(type.articles.last) do %>
          <div class="headline">
            <h2><%= type.name %></h2>
          </div>
        <% end %>
        <ul class="list-unstyled article">
          <% type.articles.order(created_at: :desc).limit(10).each do |article| %>
            <li>
              <%= link_to truncate(article.title, length: 18), article_path(article.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-3 articles">
      <div class="headline">
        <%= link_to areas_path do %>
          <h2>
            <%= t('tourist_attractions') %>
          </h2>
        <% end %>
      </div>
      <ul class="list-unstyled article">
        <% Area.where(locale_id: session[:locale_id]).each do |area| %>
          <li>
            <%= link_to area_path(area.id) do %>
              <i class="fa fa-tag fa-fw"></i>
              <%= area.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div><!--/row-->
</div>