<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
      <div class="col-xs-12 visible-xs">
        <%= link_to(root_path, class: 'btn btn-link btn-block', style: 'overflow: hidden') do %>
          <%= image_tag 'logo.png', id: 'logo-header' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="navbar-header pull-left">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin-top:0;border:none;color:#FFF;">
            <i class="fa fa-bars"></i>
          </button>
        </div>
      </div>
      <div class="col-xs-9 pull-right visible-xs">
        <div class="">
          <%= render 'layouts/controls' %>
        </div>
      </div>
      <div class="col-xs-12">
        <%= link_to(root_path, class: 'navbar-brand btn btn-link hidden-xs') do %>
          <%= image_tag 'logo.png', id: 'logo-header' %>
        <% end %>
        <%= render 'layouts/nav_navigation' %>
      </div>
    </div>
  </div>
</nav>