
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(root_path, class: 'navbar-brand', style: 'margin-top:-25px;') do %>
        <h2 id="logo-header">
          <%= image_tag 'logo.jpg', id: 'logo-header', height: '60px', style: 'height:60px;' %>
        </h2>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div style="height: 1px;" class="navbar-collapse navbar-responsive-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <%= nav_item(root_path) do %>
          <%= link_to(root_path) do %>
            <i class="glyphicon glyphicon-home"></i>
          <% end %>
        <% end %>
        <%= nav_item(products_path, {rule: /#{:products}.*|#{order_custom_items_path}.*|#{order_products_path}.*/}) do %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
            <%= t('header.navigation.shop') %>
            <i class="icon-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to t('header.navigation.handmadebag'), products_path %>
            </li>
            <li>
              <%= link_to t('header.navigation.order_request'), new_order_custom_items_path %>
            </li>
            <% @product_types.each do |product_type| %>
              <li>
                <%= link_to product_type.product_type_translates.where(locale_id: session[:locale_id]).first.name.upcase, product_type_products_path(product_type) %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%= nav_item(nil, {rule: /#{courses_path}.*/}) do %>
          <%= link_to t('header.navigation.class'), courses_path(month: Date.today.month) %>
        <% end %>
        <%= nav_item(nil, {rule: /#{reports_path}/}) do %>
          <%= link_to t('header.navigation.report_remittance'), new_report_path %>
        <% end %>
        <%= nav_item(requirements_path) do %>
          <%= link_to t('header.navigation.requirement'), requirements_path %>
        <% end %>
        <%= nav_item(rents_path) do %>
          <%= link_to t('header.navigation.rent'), rents_path %>
        <% end %>
        <%= nav_item(contacts_path) do %>
          <%= link_to t('header.navigation.contact'), contacts_path %>
        <% end %>
        <li class="hidden-sm"><a class="search"><i class="icon-search search-btn"></i></a></li>
        <li class="hidden-sm">
          <a href="#" class="aside-menu-switch dropdown-toggle dropdown-form-toggle" title="Open sidebar">
            <i class="icon-shopping-cart">
              <strong style="margin-left:5px;"><%= t('header.navigation.cart') %></strong>
            </i>
          </a>
        </li>
      </ul>
      <div class="search-open">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn-u" type="button">Go</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div><!-- /navbar-collapse -->
  </div>
</nav>