<div class="container">
  <ul class="loginbar pull-right">
    <li>
      <i class="icon-globe"></i>
      <a><%= t('header.top.language') %></a>
      <ul class="lenguages">
        <%= lang_nav_item('zh-TW') do %>
          <%= link_to '中文', controller: controller.controller_name, action: controller.action_name, locale: 'zh-TW' %>
        <% end %>
        <%= lang_nav_item('en') do %>
          <%= link_to 'English', controller: controller.controller_name, action: controller.action_name, locale: 'en' %>
        <% end %>
      </ul>
    </li>
    <li class="devider"></li>
    <li>
      <a href="https://www.facebook.com/">
        <i class="icon-facebook"></i>
      </a>
    </li>
    <li class="devider"></li>
    <li>
      <a href="https://www.facebook.com/">
        <i class="icon-google-plus"></i>
      </a>
    </li>
    <li class="devider"></li>
    <li>
      <a href="https://www.facebook.com/">
        <i class="icon-twitter"></i>
      </a>
    </li>
    <li class="devider"></li>
    <li>
      <a href="https://www.facebook.com/">
        Blog
      </a>
    </li>
    <li class="devider"></li>
    <% if user_signed_in? %>
      <li>
        <%= link_to(orders_path) do %>
          <%= t('header.top.user') %>
        <% end %>
      </li>
      <li class="devider"></li>
      <li>
        <%= link_to(destroy_user_session_path, method: :delete) do %>
          <i class="icon-signout"></i>
          <%= t('header.top.signout') %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to(new_user_session_path) do %>
          <i class="icon-signin"></i>
          <%= t('header.top.signin') %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>