<!-- Collect the nav links, forms, and other content for toggling -->
<div style="height: 1px;" class="navbar-collapse navbar-responsive-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <li class="visible-xs">
      <%= form_tag search_path, method: :get do %>
        <div class="input-group">
          <%= text_field_tag :keyword, params[:keyword], class: 'form-control', placeholder: t('search') %>
          <span class="input-group-btn">
            <button class="btn btn-default hover-effect" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div><!-- /input-group -->
      <% end %>
    </li>
    <li class="nav-dropdown-menu">
      <a href="#" class="btn btn-link" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
        <%= t('handmadebag') %>
        <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu">
        <% @product_tags.each do |product_tag| %>
          <li>
            <%= link_to product_tag.product_tag_translate.name, { controller: :products, action: :index, tag: "#{product_tag.id}-#{product_tag.product_tag_translate.name}" }, { class: 'btn btn-link' } %>
          </li>
        <% end %>
      </ul>
    </li>
    <li class="nav-dropdown-menu">
      <a href="#" class="btn btn-link" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
        <%= t('shop') %>
        <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu">
        <% @product_types.each do |product_type| %>
          <li>
            <%= link_to product_type.product_type_translate.name, product_type_products_path(product_type), class: 'btn btn-link' %>
          </li>
        <% end %>
        <li>
          <%= link_to t('gift'), gifts_path, class: 'btn btn-link' %>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to t('course.title'), courses_path, class: 'btn btn-link' %>
    </li>
    <li>
      <%= link_to t('past_works'), past_work_types_path, class: 'btn btn-link' %>
    </li>
    <li>
      <%= link_to t('fabrics_for_customization'), material_type_path(MaterialType.order(:id).limit(1).pluck(:id)), class: 'btn btn-link' %>
    </li>
    <li>
      <%= link_to t('about_us'), about_path, class: 'btn btn-link' %>
    </li>
    <li class="hidden-xs hidden-sm">
      <a class="search btn btn-link">
        <i class="fa fa-search search-btn fa-fw"></i>
      </a>
    </li>
    <li class="hidden-xs">
      <a href="#" class="aside-menu-switch dropdown-toggle dropdown-form-toggle btn btn-link" title="Open sidebar">
        <i class="fa fa-shopping-cart">
          <strong>
            <% if !@order_in_cart.nil? && @order_in_cart.quantity > 0 %>
              <span class="badge badge-orange">
                <%= @order_in_cart.quantity %>
              </span>
            <% end %>
          </strong>
        </i>
      </a>
    </li>
    <li class="hidden-xs">
      <a href="<%= new_custom_order_path %>" class="btn btn-link btn-primary cta-btn">
        <i class="icon icon-handwriting"></i>
        <%= t('customization') %>
      </a>
    </li>
  </ul>
  <div class="search-open">
    <%= form_tag search_path, method: :get do %>
      <div class="input-group">
        <%= text_field_tag :keyword, params[:keyword], class: 'form-control', placeholder: t('search') %>
        <span class="input-group-btn">
          <button class="btn btn-default hover-effect" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div><!-- /input-group -->
    <% end %>
  </div>
</div><!-- /navbar-collapse -->