<div id="outdated">
  <a href="#" id="btnClose" class="btn pull-right btn-lg" data-dismiss="#outdated"><i class="fa fa-times"></i></a>
  <h2><%= t('outdated.title') %></h2>
  <p><%= t('outdated.content') %></p>
  <a id="btnUpdate" style="display: none;"></a>
  <div class="browsers">
    <div class="browser" id="chrome">
      <div class="statistic">
        <h1>37.0%</h1>
        <p>
          <%= t('outdated.hint') %>
        </p>
      </div>
      <div class="logo">
        <span></span>
        GOOGLE CHROME
      </div>
      <a href="https://www.google.com/chrome/browser/" target="_blank" class="btn btn-download btn-block">
        <%= t('outdated.get') %>
      </a>
    </div>
    <div class="browser" id="firefox">
      <div class="statistic">
        <h1>17.6%</h1>
        <p>
          <%= t('outdated.hint') %>
        </p>
      </div>
      <div class="logo">
        <span></span>
        MOZILLA FIREFOX
      </div>
      <a href="http://mozilla.com.tw/firefox/new/" target="_blank" class="btn btn-download btn-block">
        <%= t('outdated.get') %>
      </a>
    </div>
    <div class="browser" id="ie">
      <div class="statistic">
        <h1>19.6%</h1>
        <p>
          <%= t('outdated.hint') %>
        </p>
      </div>
      <div class="logo">
        <span></span>
        INTERNET EXPLORER
      </div>
      <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank" class="btn btn-download btn-block">
        <%= t('outdated.get') %>
      </a>
    </div>
    <div class="browser" id="safari">
      <div class="statistic">
        <h1>16.7%</h1>
        <p>
          <%= t('outdated.hint') %>
        </p>
      </div>
      <div class="logo">
        <span></span>
        APPLE SAFARI
      </div>
      <a href="http://support.apple.com/downloads/#safari" target="_blank" class="btn btn-download btn-block">
        <%= t('outdated.get') %>
      </a>
    </div>
    <div class="browser" id="opera">
      <div class="statistic">
        <h1>3%</h1>
        <p>
          <%= t('outdated.hint') %>
        </p>
      </div>
      <div class="logo">
        <span></span>
        OPERA
      </div>
      <a href="http://www.opera.com/zh-tw/computer" target="_blank" class="btn btn-download btn-block">
        <%= t('outdated.get') %>
      </a>
    </div>
  </div>
</div>