<!DOCTYPE html>
<html>
<head>
  <title>QuoiQuoi 布知道 - 後台管理系統</title>
  <%= stylesheet_link_tag    'flatty', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'flatty', 'data-turbolinks-track' => true %>
</head>
<body class="fixed-navigation contrast-orange">

<header>
  <%= render 'layouts/admin/header_navigation' %>
</header>

<div id="wrapper">
  <div id="main-nav-bg"></div>
  <%= render 'layouts/admin/main_navigation' %>

  <section id="content">
    <div class="container">
      <div id="content-wrapper" class="row">
        <%= yield %>
      </div>
    </div>
  </section>
</div>
<%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
</body>
</html>
