<!DOCTYPE html>
<html>
<head>
  <title><%= @website_title %></title>
  <meta charset="UTF-8">
  <meta name="description" content="<%= @meta_og_description %>" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:domain" content="quoiquoi.tw" />
  <meta name="twitter:creator" content="@quoiquoi">
  <meta property="og:title" content="<%= @meta_og_title %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:description" content="<%= @meta_og_description %>" />
  <meta property="og:type" content="<%= @meta_og_type %>" />
  <meta property="og:image" content="<%= @meta_og_image %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'unify', media: 'all' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
  <!-- Aside menu start. -->
  <%= render 'layouts/aside_menu' %>
  <!-- Aside menu end. -->
  <div class="col-md-12 wrapper right-0">
    <div class="navbar" style="margin-bottom:0;border:0;">
      <!-- Header start. -->
      <header class="header">
        <%= render 'layouts/header_navigation' %>
      </header>
      <!-- Header end. -->
    </div>

    <!-- Content start. -->
    <%= yield %>
    <!-- Content end. -->

    <!-- Back to top button start. -->
    <div id="topcontrol">
      <i class="glyphicon glyphicon-chevron-up"></i>
    </div>
    <!-- Back to top button end. -->

    <!-- Footer start. -->
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
    <!-- Footer end. -->

    <!-- Copyright start. -->
    <div class="copyright">
      <%= render 'layouts/copyright' %>
    </div>
    <!-- Copyright end. -->
  </div>
</div>

<div id="calendar-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="full-calendar-demo" data-url="<%= courses_path(format: :json) %>"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- outdate browser handle start -->
<%= render 'layouts/outdate_hint' %>
<!-- outdate browser handle end -->

<%= javascript_include_tag 'unify', data: {'turbolinks-eval' => false} %>
<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true', data: {'turbolinks-eval' => false} %>
<%= javascript_include_tag 'gmap', data: {'turbolinks-eval' => false} %>
<%= javascript_include_tag 'plugins', data: {'turbolinks-eval' => false} %>
<%= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js', data: {'turbolinks-eval' => false} %>
<%= javascript_include_tag 'application' %>
<script data-turbolinks-eval="false">
  $.validator.messages.email = '<%= t('validate_email') %>';
  $.validator.messages.required = '<%= t('validate_required') %>';
  $.validator.messages.number = '<%= t('validate_number') %>';
  $.validator.messages.minlength = '<%= t('validate_minlength') %>';
  $.validator.messages.maxlength = '<%= t('validate_maxlength') %>';
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51518675-1', 'quoiquoi.tw');
  ga('send', 'pageview');
</script>
</body>
</html>
