<p>Hello <%= @resource.email %>!</p>

<p><%= t('new_password_title') %></p>

<p><%= link_to t('change_password'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('new_password_ingore') %></p>
<p><%= t('new_password_ingore_content') %></p>